@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: hidden">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        $(function () {
            $(document).ready(function () {
                var gdo = parent.gdo;
                window.onload = function() {
                    setTimeout(function () {
                        var sageId = gdo.net.cols * ((gdo.net.rows - 1) - ((gdo.clientId - 1) / gdo.net.cols)) + (2*((gdo.clientId - 1) % gdo.net.cols)) ;
                        window.location = "http://129.31.192.25:9292/display.html?clientID=" + sageId;
                    }, 700);
                };
            });
        });
    </script>
</body>
</html>