@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html style="background-color:black">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }

        #submit_Bitcoin {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 210px;
            height: 77px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }

        #fit_mode {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #fill_mode {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #active_control {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #rotate_control {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #disable_control {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #select_Bitcoin {
            color: #DDD;
            background: #222;
            font-size: 28px;
            width: 210px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }

        .file_upload {
            position: relative;
            overflow: hidden;
            margin: 10px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            color: #DDD;
            font-size: 21px;
            background: #222;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        #Bitcoin_digit_button {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 210px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        $(function () {

            /*
            window.onerror = function() {
                location.reload();
            }
            */

            var gdo = parent.gdo;


            $("body").keypress(function(e) {
                var gdo = parent.gdo;
                if (gdo.net.app["Bitcoin"].control_status == 1) {
                    var canvasData = $('#thumbnail_control > img').cropper('getCanvasData');
                    if(e.keyCode == 97) { // A left
                        //alert("left");
                        $('#thumbnail_control > img').cropper('setCanvasData', {
                            left: canvasData.left - 1
                        });
                        updateThumbNailBitcoinInfo($('#thumbnail_control > img'));
                    } else if (e.keyCode == 115) { // S down
                        $('#thumbnail_control > img').cropper('setCanvasData', {
                            top: canvasData.top + 1
                        });
                        updateThumbNailBitcoinInfo($('#thumbnail_control > img'));
                    } else if (e.keyCode == 100) { // D right
                        $('#thumbnail_control > img').cropper('setCanvasData', {
                            left: canvasData.left + 1
                        });
                        updateThumbNailBitcoinInfo($('#thumbnail_control > img'));
                    } else if (e.keyCode == 119) { // W up
                        $('#thumbnail_control > img').cropper('setCanvasData', {
                            top: canvasData.top - 1
                        });
                        updateThumbNailBitcoinInfo($('#thumbnail_control > img'));
                    }
                } 
            });
            
            gdo.net.app["Bitcoin"].initControl();
            updateControlButtonBackground();
        });

        function updateControlButtonBackground() {
            var gdo = parent.gdo;
            if (gdo.net.app["Bitcoin"].control_status == 0) {
                $("#active_control").css("background", "darkgreen");
                $("#disable_control").css("background", "#222");
                $("#rotate_control").css("background", "#222");
                $("#fit_mode").css("background", "#222");
                $("#fill_mode").css("background", "#222");
            } else if (gdo.net.app["Bitcoin"].control_status == 1) {
                $("#active_control").css("background", "#222");
                $("#disable_control").css("background", "darkred");
                $("#rotate_control").css("background", "darkgreen");
                $("#fit_mode").css("background", "darkgreen");
                $("#fill_mode").css("background", "darkgreen");
            }
        }


        function getSectionSize(section_width, section_height) {
            if ($('#thumbnail_control > img').attr("src") != "") {
                var gdo = parent.gdo;
                gdo.consoleOut('.Bitcoin', 1, 'Set aspectRatio configuration');
                $("#thumbnail_control > img").cropper('setAspectRatio', section_width/section_height);
            }
        }

    </script>
    <div>
        <div>
            <form id="submit_Bitcoin_form" action="" method="post" enctype="multipart/form-data">
                <input type="button"> Some button
            </form>
        </div>
    </div>
</body>
</html>