@using System.Threading.Tasks
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link href="../../CSS/gdo.management.css" rel="stylesheet">
    <link href="../../CSS/jquery-ui.min.css" rel="stylesheet">
    <link href="../../CSS/rangeslider.css" rel="stylesheet">
    <link rel="stylesheet" href="../../Scripts/Maps/ol.css" type="text/css">
    <style>
        body {
            color: #FFF;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .modal-backdrop {
            opacity: 0.0 !important;
        }

        .disable {
            pointer-events: none;
            opacity: 0.7;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                cursor: inherit;
                display: block;
            }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
        }

        .input_field {
            width: 100%;
            border: 1px solid #222;
            background: #333;
            color: #FFF;
            display: inline-block;
            position: relative;
        }

        .map:-moz-full-screen {
            height: 100%;
        }

        .map:-webkit-full-screen {
            height: 100%;
        }

        .map:-ms-fullscreen {
            height: 100%;
        }

        .ol-rotate {
            top: 3em;
        }


        .map {
            border: 0 none;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/jquery.csv-0.71.min.js"></script>
    <script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
    <script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="../../Scripts/enscroll-0.6.1.min.js"></script>
    <script src='../../Scripts/colors.js'></script>
    <script src='../../Scripts/jquery-colorpicker.js'></script>
    <script src="../../Scripts/jquery-ui.min.js"></script>
    <script src="../../Scripts/rangeslider.js"></script>
    <script>
        function getUrlVar(variable) {
            /// <summary>
            /// Gets the URL variable.
            /// </summary>
            /// <param name="variable">The variable.</param>
            /// <returns></returns>
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[0] === variable) { return pair[1]; }
            }
            query = window.frames['control_frame_content'].location.search.substring(1);
            vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[0] === variable) { return pair[1]; }
            }
            return (false);
        }
        $(function () {
            $(document).ready(function () {
                var gdo = parent.gdo;
                gdo.controlId = parseInt(getUrlVar("controlId"));
                gdo.net.app["Maps"].initControl(gdo.controlId);
                $('[data-toggle="tooltip"]').tooltip();
                $(".panel-body").enscroll({
                    showOnHover: false,
                    verticalTrackClass: 'track4',
                    verticalHandleClass: 'handle4'
                }).css("width", "100%").css("height", "70vh").css("padding-right", "5px");

            });
        });
    </script>
    <div id="wrapper" style="width:97%">
        <div class="row">
            <div class="col-lg-12">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab"><i class="fa fa-map-marker fa-fw"></i>&nbsp;&nbsp;Map</a>
                    </li>
                    <li>
                        <a href="#layer" data-toggle="tab"><i class="fa fa-align-justify  fa-fw"></i>&nbsp;&nbsp;Layer</a>
                    </li>
                    <li>
                        <a href="#source" data-toggle="tab"><i class="fa fa-database  fa-fw"></i>&nbsp;&nbsp;Source</a>
                    </li>
                    <li>
                        <a href="#style" data-toggle="tab"><i class="fa fa-photo fa-fw"></i>&nbsp;&nbsp;Style</a>
                    </li>
                    <li>
                        <a href="#format" data-toggle="tab"><i class="fa fa-file-text fa-fw"></i>&nbsp;&nbsp;Format</a>
                    </li>
                    <li>
                        <a href="#data" data-toggle="tab"><i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;&nbsp;Data</a>
                    </li>
                    <li>
                        <a href="#animation" data-toggle="tab"><i class="fa fa-play fa-fw "></i>&nbsp;&nbsp;Animation</a>
                    </li>
                    <li>
                        <a href="#view" data-toggle="tab"><i class="fa  fa-eye fa-fw"></i>&nbsp;&nbsp;View</a>
                    </li>
                    <li>
                        <a href="#configuration" data-toggle="tab"><i class="fa fa-cog fa-fw"></i>&nbsp;&nbsp;Configuration</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="height: 90vh">
                    <div class="tab-pane fade in active" id="home" style="height: 84vh;">
                        <h4>Map</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="map_left_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-align-justify fa-fw'></i>&nbsp;Layers</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.5%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="layer"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center">
                                        <button type='button' class='btn btn-success layer-play-button' style="">&nbsp;<i class='fa  fa-play  '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-warning layer-pause-button' style="">&nbsp;<i class='fa  fa-pause  '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-danger layer-stop-button' style="">&nbsp;<i class='fa  fa-stop  '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-primary layer-up-button' style="">&nbsp;<i class='fa  fa-arrow-up '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-primary layer-down-button' style="">&nbsp;<i class='fa  fa-arrow-down '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-info layer-visible-button' style="">&nbsp;<i class='fa  fa-eye  '></i>&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="map_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <div class="row">
                                            <div class="col-lg-7"><h6><i class='fa  fa-map-marker fa-fw'></i>&nbsp;Map</h6></div>
                                        </div>
                                    </div>
                                    <div class="panel-body" style="height: 70vh">
                                        <div class="container-fluid">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div id="map" class="map"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center;">
                                        <div class="row" style="margin-left: 4px; margin-right: 4px;">
                                            <div class="col-lg-5 form-group" id="map_input_div"></div>
                                            <div class="col-lg-2" id="map_submit_div"></div>
                                            <div class="col-lg-2" id="map_clear_div"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="layer">
                        <h4>Layer</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="layer_list_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-align-justify fa-fw'></i>&nbsp;&nbsp;Layers</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.5%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="layer"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center">
                                        <button type='button' class='btn btn-success layer-add-button' data-toggle='modal' data-target='#new-layer' style="">&nbsp;<i class='fa  fa-plus '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-danger layer-remove-button' style="">&nbsp;<i class='fa  fa-minus '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-primary layer-up-button' style="">&nbsp;<i class='fa  fa-arrow-up '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-primary layer-down-button' style="">&nbsp;<i class='fa  fa-arrow-down '></i>&nbsp;</button>
                                        <button type='button' class='btn btn-info layer-visible-button' style="">&nbsp;<i class='fa  fa-eye  '></i>&nbsp;</button>

                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="layer_edit_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-pencil fa-fw'></i>&nbsp;&nbsp;<font id="layer_label"></font></h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div id="layer_properties"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: right">
                                        <button type='button' class='btn btn-primary layer-save-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save</button>
                                        <button type='button' class='btn btn-primary layer-saveas-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save As</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="source">
                        <h4>Source</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="source_list_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-database fa-fw'></i>&nbsp;&nbsp;Sources</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="source"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center;">
                                        <button type='button' class='btn btn-success source-add-button' data-toggle='modal' data-target='#new-source' style="">&nbsp;&nbsp;<i class='fa  fa-plus '></i>&nbsp;&nbsp;</button>
                                        <button type='button' class='btn btn-danger source-remove-button' style="">&nbsp;&nbsp;<i class='fa  fa-minus '></i>&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="source_edit_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-pencil fa-fw'></i>&nbsp;&nbsp;<font id="source_label"></font></h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div id="source_properties"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: right;">
                                        <button type='button' class='btn btn-primary source-save-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save</button>
                                        <button type='button' class='btn btn-primary source-saveas-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save As</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="style">
                        <h4>Style</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="style_list_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-image fa-fw'></i>&nbsp;&nbsp;Styles</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="style"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center;">
                                        <button type='button' class='btn btn-success style-add-button' data-toggle='modal' data-target='#new-style' style="">&nbsp;&nbsp;<i class='fa  fa-plus '></i>&nbsp;&nbsp;</button>
                                        <button type='button' class='btn btn-danger style-remove-button' style="">&nbsp;&nbsp;<i class='fa  fa-minus '></i>&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="style_edit_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-pencil fa-fw'></i>&nbsp;&nbsp;<font id="style_label"></font></h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div id="style_properties"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: right;">
                                        <button type='button' class='btn btn-primary style-save-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save</button>
                                        <button type='button' class='btn btn-primary style-saveas-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save As</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="format">
                        <h4>Format</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="format_list_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-file-text fa-fw'></i>&nbsp;&nbsp;Formats</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="format"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center;">
                                        <button type='button' class='btn btn-success format-add-button' data-toggle='modal' data-target='#new-format' style="">&nbsp;&nbsp;<i class='fa  fa-plus '></i>&nbsp;&nbsp;</button>
                                        <button type='button' class='btn btn-danger format-remove-button' style="">&nbsp;&nbsp;<i class='fa  fa-minus '></i>&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="format_edit_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-pencil fa-fw'></i>&nbsp;&nbsp;<font id="format_label"></font></h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div id="format_properties"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: right;">
                                        <button type='button' class='btn btn-primary format-save-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save</button>
                                        <button type='button' class='btn btn-primary format-saveas-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save As</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="data">
                        <h4>Data</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="data_list_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-bar-chart-o fa-fw'></i>&nbsp;&nbsp;Data Sources</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="data"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center;">
                                        <button type='button' class='btn btn-success data-add-button' data-toggle='modal' data-target='#new-data' style="">&nbsp;&nbsp;<i class='fa  fa-plus '></i>&nbsp;&nbsp;</button>
                                        <button type='button' class='btn btn-danger data-remove-button' style="">&nbsp;&nbsp;<i class='fa  fa-minus '></i>&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="data_edit_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-pencil fa-fw'></i>&nbsp;&nbsp;<font id="data_label"></font></h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div id="data_properties"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: right;">
                                        <button type='button' class='btn btn-success data-upload-button' style=""><i class='fa  fa-upload '></i>&nbsp;&nbsp;Upload</button>
                                        <button type='button' class='btn btn-primary data-save-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save</button>
                                        <button type='button' class='btn btn-primary data-saveas-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save As</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="animation">
                        <h4>Animation</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="animation_list_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-play fa-fw'></i>&nbsp;&nbsp;Animations</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="animation"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center;">
                                        <button type='button' class='btn btn-success animation-add-button' data-toggle='modal' data-target='#new-animation' style="">&nbsp;&nbsp;<i class='fa  fa-plus '></i>&nbsp;&nbsp;</button>
                                        <button type='button' class='btn btn-danger animation-remove-button' style="">&nbsp;&nbsp;<i class='fa  fa-minus '></i>&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="animation_edit_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-pencil fa-fw'></i>&nbsp;&nbsp;<font id="animation_label"></font></h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div id="animation_properties"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: right;">
                                        <button type='button' class='btn btn-primary animation-save-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save</button>
                                        <button type='button' class='btn btn-primary animation-saveas-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save As</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="view">
                        <h4>View</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="view_list_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-eye fa-fw'></i>&nbsp;&nbsp;Views</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="view"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center;">
                                        <button type='button' class='btn btn-success view-add-button' data-toggle='modal' data-target='#new-view' style="">&nbsp;&nbsp;<i class='fa  fa-plus '></i>&nbsp;&nbsp;</button>
                                        <button type='button' class='btn btn-danger view-remove-button' style="">&nbsp;&nbsp;<i class='fa  fa-minus '></i>&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="view_edit_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-pencil fa-fw'></i>&nbsp;&nbsp;<font id="view_label"></font></h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div id="view_properties"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: right;">
                                        <button type='button' class='btn btn-success view-set-current-button' style=""><i class='fa  fa-upload'></i>&nbsp;&nbsp;Set View as Current Position</button>
                                        <button type='button' class='btn btn-danger view-save-current-button' style=""><i class='fa  fa-download  '></i>&nbsp;&nbsp;Save Current Position to View</button>
                                        <button type='button' class='btn btn-primary view-save-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save View</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="configuration">
                        <h4>Configuration</h4>
                        <div class="row">
                            <div class="col-lg-3">
                                <div id="configuration_list_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-cog fa-fw'></i>&nbsp;&nbsp;Configurations</h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div class="configuration"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: center;">
                                        <button type='button' class='btn btn-success configuration-add-button' data-toggle='modal' data-target='#new-configuration' style="">&nbsp;&nbsp;<i class='fa  fa-plus '></i>&nbsp;&nbsp;</button>
                                        <button type='button' class='btn btn-danger configuration-remove-button' style="">&nbsp;&nbsp;<i class='fa  fa-minus '></i>&nbsp;&nbsp;</button>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-9">
                                <div id="configuration_edit_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa fa-pencil fa-fw'></i>&nbsp;&nbsp;<font id="configuration_label"></font></h6>
                                    </div>
                                    <div class="panel-body" style="margin: 0; padding: 0; font-size: 16px; width: 99.7%; height: 70vh; overflow: auto; border: 1px solid #333;">
                                        <div id="configuration_properties"></div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom; text-align: right;">
                                        <button type='button' class='btn btn-success configuration-upload-button' style=""><i class='fa  fa-upload  '></i>&nbsp;&nbsp;Upload</button>
                                        <button type='button' class='btn btn-primary configuration-load-button' style=""><i class='fa  fa-download  '></i>&nbsp;&nbsp;Load</button>
                                        <button type='button' class='btn btn-primary configuration-import-button' style=""><i class='fa  fa-sign-in   '></i>&nbsp;&nbsp;Import</button>
                                        <button type='button' class='btn btn-danger configuration-save-button' style=""><i class='fa  fa-save  '></i>&nbsp;&nbsp;Save</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal fade" id="new-layer" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Layer</font></h5>
                        </div>
                        <div class="modal-body" style="height: 45vh;">
                            <row>
                                <div class="col-md-6">
                                    <label for="layer_name_input">Name:</label>
                                    <input type='text' id='layer_name_input' class="input_field form-control" style='background: #333; color: #FFF;  width: 100%; height: 4vh;'></input>
                                    <br></br>
                                    <label for="layer_description">Description:</label>
                                    <div id='layer_description' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 30vh; pointer-events:none'></div>
                                </div>
                                <div class="col-md-6">
                                    <label for="layer_types_input">Selected Layer:</label>
                                    <input type='text' id="layer_types_input" class="input_field form-control" style="background: #333; color: #FFF; height: 4vh; pointer-events: none"></input>
                                    <br></br>
                                    <label for="layer_types">Layers:</label>
                                    <div id="layer_types" class="input_field form-control" style="background: #333; color: #FFF; height: 30vh;"></div>
                                </div>
                            </row>
                        </div>
                        <div class="modal-footer">
                            <br></br>
                            <button type="button" class="btn btn-warning" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="layer-next-button" data-toggle='modal' data-target='#new-layer-input' class="btn btn-primary btn-ok">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-layer-input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:61vw;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Layer</font></h5>
                        </div>
                        <div class="modal-body">
                            <div id="layer_create_properties"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="layer-create-button" class="btn btn-success btn-ok">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-source" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Source</font></h5>
                        </div>
                        <div class="modal-body" style="height: 45vh;">
                            <row>
                                <div class="col-md-6">
                                    <label for="source_name_input">Name:</label>
                                    <input type='text' id='source_name_input' class="input_field form-control" style='background: #333; color: #FFF;  width: 100%; height: 4vh;'></input>
                                    <br></br>
                                    <label for="source_description">Description:</label>
                                    <div id='source_description' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 30vh; pointer-events:none'></div>
                                </div>
                                <div class="col-md-6">
                                    <label for="source_types_input">Selected Source:</label>
                                    <input type='text' id="source_types_input" class="input_field form-control" style="background: #333; color: #FFF; height: 4vh; pointer-events: none"></input>
                                    <br></br>
                                    <label for="source_types">Sources:</label>
                                    <div id="source_types" class="input_field form-control" style="background: #333; color: #FFF; height: 30vh;"></div>
                                </div>
                            </row>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="source-next-button" data-toggle='modal' data-target='#new-source-input' class="btn btn-primary btn-ok">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-source-input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:61vw;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Source</font></h5>
                        </div>
                        <div class="modal-body">
                            <div id="source_create_properties"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="source-create-button" class="btn btn-success btn-ok">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-style" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Style</font></h5>
                        </div>
                        <div class="modal-body" style="height: 45vh;">
                            <row>
                                <div class="col-md-6">
                                    <label for="style_name_input">Name:</label>
                                    <input type='text' id='style_name_input' class="input_field form-control" style='background: #333; color: #FFF;  width: 100%; height: 4vh;'></input>
                                    <br></br>
                                    <label for="style_description">Description:</label>
                                    <div id='style_description' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 30vh; pointer-events:none'></div>
                                </div>
                                <div class="col-md-6">
                                    <label for="style_types_input">Selected Style:</label>
                                    <input type='text' id="style_types_input" class="input_field form-control" style="background: #333; color: #FFF; height: 4vh; pointer-events: none"></input>
                                    <br></br>
                                    <label for="style_types">Styles:</label>
                                    <div id="style_types" class="input_field form-control" style="background: #333; color: #FFF; height: 30vh;"></div>
                                </div>
                            </row>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="style-next-button" data-toggle='modal' data-target='#new-style-input' class="btn btn-primary btn-ok">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-style-input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:61vw;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Style</font></h5>
                        </div>
                        <div class="modal-body">
                            <div id="style_create_properties"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="style-create-button" class="btn btn-success btn-ok">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-format" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Format</font></h5>
                        </div>
                        <div class="modal-body" style="height: 45vh;">
                            <row>
                                <div class="col-md-6">
                                    <label for="format_name_input">Name:</label>
                                    <input type='text' id='format_name_input' class="input_field form-control" style='background: #333; color: #FFF;  width: 100%; height: 4vh;'></input>
                                    <br></br>
                                    <label for="format_description">Description:</label>
                                    <div id='format_description' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 30vh; pointer-events:none'></div>
                                </div>
                                <div class="col-md-6">
                                    <label for="format_types_input">Selected Format:</label>
                                    <input type='text' id="format_types_input" class="input_field form-control" style="background: #333; color: #FFF; height: 4vh; pointer-events: none"></input>
                                    <br></br>
                                    <label for="format_types">Formats:</label>
                                    <div id="format_types" class="input_field form-control" style="background: #333; color: #FFF; height: 30vh;"></div>
                                </div>
                            </row>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="format-next-button" data-toggle='modal' data-target='#new-format-input' class="btn btn-primary btn-ok">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-format-input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width: 61vw;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Format</font></h5>
                        </div>
                        <div class="modal-body">
                            <div id="format_create_properties"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="format-create-button" class="btn btn-success btn-ok">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-data" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Data Source</font></h5>
                        </div>
                        <div class="modal-body" style="height: 45vh;">
                            <row>
                                <div class="col-md-6">
                                    <label for="format_name_input">Name:</label>
                                    <input type='text' id='data_name_input' class="input_field form-control" style='background: #333; color: #FFF;  width: 100%; height: 4vh;'></input>
                                    <br></br>
                                    <label for="data_description">Description:</label>
                                    <div id='data_description' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 30vh; pointer-events:none'></div>
                                </div>
                                <div class="col-md-6">
                                    <label for="format_types_input">Selected Data Source:</label>
                                    <input type='text' id="data_types_input" class="input_field form-control" style="background: #333; color: #FFF; height: 4vh; pointer-events: none"></input>
                                    <br></br>
                                    <label for="data_types">Data Sources:</label>
                                    <div id="data_types" class="input_field form-control" style="background: #333; color: #FFF; height: 30vh;"></div>
                                </div>
                            </row>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="data-next-button" data-toggle='modal' data-target='#new-format-input' class="btn btn-primary btn-ok">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-data-input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:61vw;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Create New Data Source</font></h5>
                        </div>
                        <div class="modal-body">
                            <div id="data_create_properties"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="data-create-button" class="btn btn-success btn-ok">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-view" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-save   fa-fw'></i>&nbsp;<font color="white">Save Position as a New View</font></h5>
                        </div>
                        <div class="modal-body" style="height: 45vh;">
                            <row>
                                <div class="col-md-12">
                                    <label for="format_name_input">Name:</label>
                                    <input type='text' id='view_name_input' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 4vh;'></input>
                                    <input type='text' id='view_types_input' style='display: none' value="View"></input>
                                    <br></br>
                                    <label for="view_description">Description:</label>
                                    <div id='view_description' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 30vh; pointer-events: none'>A view is the coordinates and extent of the map</div>
                                </div>
                            </row>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="view-next-button" data-toggle='modal' data-target='#new-view-input' class="btn btn-primary btn-ok">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-view-input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:61vw;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Save Position as a New View</font></h5>
                        </div>
                        <div class="modal-body">
                            <div id="view_create_properties"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="view-create-button" class="btn btn-success btn-ok">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-configuration" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-save   fa-fw'></i>&nbsp;<font color="white">Save Current Configuration as a New Configuration</font></h5>
                        </div>
                        <div class="modal-body" style="height: 45vh;">
                            <row>
                                <div class="col-md-12">
                                    <label for="format_name_input">Name:</label>
                                    <input type='text' id='configuration_name_input' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 4vh;'></input>
                                    <input type='text' id='configuration_types_input' style='display: none' value="Configuration"></input>
                                    <br></br>
                                    <label for="configuration_description">Description:</label>
                                    <div id='configuration_description' class="input_field form-control" style='background: #333; color: #FFF; width: 100%; height: 30vh; pointer-events: none'>Configuration is the meta data file for all your layers, sources, ..etc which is used when creating an app (Data files are not included)</div>
                                </div>
                            </row>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="configuration-next-button" data-toggle='modal' data-target='#new-configuration-input' class="btn btn-primary btn-ok">Next</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal fade" id="new-configuration-input" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog" style="width:61vw;">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-file   fa-fw'></i>&nbsp;<font color="white">Save Current Configuration as a New Configuration</font></h5>
                        </div>
                        <div class="modal-body">
                            <div id="configuration_create_properties"></div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-danger" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" id="configuration-create-button" class="btn btn-success btn-ok">Create</button>
                        </div>
                    </div>
                </div>
            </div>
            <script type="text/javascript" src="../../Scripts/Maps/ol3/ol.js"></script>
            <script src="../../Scripts/Maps/Cesium/Cesium.js"></script>
            <script src="../../Scripts/Maps/ol3cesium.js"></script>

        </div>
    </div>
</body>
</html>
