@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }
        .presentation_text {
            color: #DDD;
            font-size: 21px;
        }
        .presentation_button {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 140px;
            height: 49px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }
        #submit_ppt {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 140px;
            height: 55px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }

        #new_ppt {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 140px;
            height: 49px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }

        .file_upload {
            position: relative;
            overflow: hidden;
            margin: 10px;
            width: 140px;
            height: 49px;
            border: 3px solid #444;
            color: #DDD;
            font-size: 21px;
            background: #222;
            text-align: center;
            vertical-align: middle;
            line-height: 49px;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    </style>
</head>
<body>
    <script src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        $(function () {
            var gdo = parent.gdo;
            gdo.net.app["Presentation"].initControl();
        });
    </script>
    <div>
        @{
            var path = "";
            var filename = "";
            if (IsPost)
            {

                HttpPostedFileBase file = Request.Files[0];
                if (file != null)
                {
                    filename = Path.GetFileName(file.FileName);
                    //foldername
                    Directory.CreateDirectory(System.Web.HttpContext.Current.Server.MapPath("~/") + @"\Web\Presentation\PPTs");
                    path = System.Web.HttpContext.Current.Server.MapPath("~/") + @"\Web\Presentation\PPTs\" + filename;
                    file.SaveAs(path);
                }
            }
        }
        <h1>Presentation Control Panel</h1>
        <div id="upload_panel">
            <form id="submit_image_form" action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <table>
                        <tr>
                            <td>
                                <div class="file_upload">
                                    <span>Choose File</span>
                                    <input type="file" name="new_ppt" class="upload" id="new_ppt"/>
                                </div>
                            </td>
                            <td>
                                <input id="submit_ppt" type="submit" value="Submit"/>
                            </td>
                        </tr>
                    </table>
                </fieldset>
            </form>
        </div>
        <br/>
        <b>Message</b>
        <fieldset>
            <p id="message_from_server"></p>
        </fieldset>
        <br/>
        <div id="display_panel">
            <span class="presentation_text" ><b>Control Your PPT</b></span>
            <br>
            <img src="" id="ppt_thumbnail" style="max-width: 1200px; max-height: 600px"/>
            <br>
            <p><span id="current_page_number" class="presentation_text">0</span><span id="current_page_number" class="presentation_text">/</span><span id="page_count" class="presentation_text">0</span></p>
            <br>
            <button id="previous_page" class="presentation_button">Previous</button>
            <button id="next_page" class="presentation_button">Next</button>
            <button id="refresh" class="presentation_button">Refresh</button>
        </div>
    </div>
    <script>
        $("#previous_page").click(function() {
            var gdo = parent.gdo;
            gdo.net.app["Presentation"].previousPage();
        });

        $("#next_page").click(function() {
            var gdo = parent.gdo;
            gdo.net.app["Presentation"].nextPage();
        });

        $("#refresh").click(function() {
            var gdo = parent.gdo;
            gdo.net.app["Presentation"].refreshPage();
        });

    </script>

    @if (path != "")
    {
        <script>
            $(function () {
                var gdo = parent.gdo;
                gdo.consoleOut('.Presentation', 1, "Uploaded PPT " + "@filename");
                gdo.net.app["Presentation"].server.uploadPPT(gdo.controlId, "@filename");
            });
        </script>
    }

</body>
</html>