@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Run this to initialize server</title>
</head>
<body>
<div>

</div>
    <script src="../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../signalr/hubs"></script>
    <script>
        $(function() {
            $.connection.caveHub.server.initialize();
        });
    </script>
</body>
</html>
