@using System.IO
@using System.Web.Helpers
@using System.Web.UI.WebControls
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        p {
            color: #FFF;
            font-family: helvetica;
            font-size: 14px;
            margin-top:2;
            margin-bottom:2
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>

    <div>
        <h1>Distributed Graph Rendering</h1>
        <br />
        <h2>Input file name: </h2>
        <input type="text" id="fileName" />
        <button id="update_fileName">Render Graph</button>
        <br />
        <button id="hide_links">Hide links</button>
    </div>

    <br/>
    <br/>

    <h2>Program Log</h2>
    <fieldset id="message_from_server">
    </fieldset>

    <script>
        var gdo = parent.gdo;

        $(function () {
            $(document).ready(function () {
                gdo.net.app["Graph"].initControl();
            });
        });

        $("#update_fileName").click(function () {
            gdo.consoleOut('.GRAPHRENDERER', 1, 'Instance ' + gdo.controlId + ": Initiating processing for file " + $("#fileName").val()); 

            gdo.net.app["Graph"].server.initiateProcessing(gdo.controlId, $("#fileName").val());

            // nothing to request render on control page yet, implement this later if necessary
            // gdo.net.app["Graph"].server.requestRendering(gdo.controlId);
        });

        $("#hide_links").click(function () {
            gdo.net.app["Graph"].server.hideLinks(gdo.controlId);
        });

    </script>

</body>
</html>
