@using System.IO
@using System.Web.Helpers
@using System.Web.UI.WebControls
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        p {
            color: #FFF;
            font-family: helvetica;
            font-size: 14px;
            margin-top: 2;
            margin-bottom: 2;
        }

        #message_from_server {
            height: 150px;
            overflow: auto;
        }

        #graph_UI {
            /*height: 50px;*/
            overflow: auto;
        }

        label {
            display: block;
            font-size: 16px;
            font-weight: bold;
        }

        span {
            display: block;
            margin-left: 50px;
            margin-bottom: 3px;
        }


    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>

    <div>
        <h1>Distributed Graph Rendering</h1>
        <br />
        <h2>Input file name: </h2>
        <input type="text" id="fileName" />
        <button id="update_fileName">Render Graph</button>
    </div>

    <br />
    <br />

    <h2>Graph User Interface</h2>
    <fieldset id="graph_UI">
        <button id="show_links">Show links</button>
        <button id="hide_links">Hide links</button>   
        <br />
        <br />
        <button id="show_labels">Show labels</button>
        <button id="hide_labels">Hide labels</button>
        <br />
        <br />
        <br />
        <label> Toggle panning </label>
        <br />
        <span>
            <button id="up">Up</button>
        </span>      
        <button id="left">Left</button>
        <button id="down">Down</button>
        <button id="right">Right</button>
        <br />
        <br />
        <br />
        <label> Toggle zooming </label>
        <br />
        <button id="zoomIn">Zoom in</button>
        <button id="zoomOut">Zoom out</button>

    </fieldset>

    <br />
    <br />

    <h2>Program Log</h2>
    <fieldset id="message_from_server"></fieldset>


    <script>
        var gdo = parent.gdo;

        $(function () {
            $(document).ready(function () {
                gdo.net.app["Graph"].initControl();
            });
        });

        $("#update_fileName").click(function () {
            gdo.consoleOut('.GRAPHRENDERER', 1, 'Instance ' + gdo.controlId + ": Initiating processing for file " + $("#fileName").val());

            gdo.net.app["Graph"].server.initiateProcessing(gdo.controlId, $("#fileName").val());

            // nothing to request render on control page yet, implement this later if necessary
            // gdo.net.app["Graph"].server.requestRendering(gdo.controlId);
        });

        $("#hide_links").click(function () {
            gdo.net.app["Graph"].server.hideLinks(gdo.controlId);
        });


        $("#show_links").click(function () {
            gdo.net.app["Graph"].server.showLinks(gdo.controlId);
        });


        $("#hide_labels").click(function () {
            gdo.net.app["Graph"].server.hideLabels(gdo.controlId);
        });


        $("#show_labels").click(function () {
            gdo.net.app["Graph"].server.showLabels(gdo.controlId);
        });

        // trigger panning
        $("#up").click(function () {
            gdo.net.app["Graph"].server.triggerPanning(gdo.controlId, "up");
        });


        $("#left").click(function () {
            gdo.net.app["Graph"].server.triggerPanning(gdo.controlId, "left");
        });


        $("#down").click(function () {
            gdo.net.app["Graph"].server.triggerPanning(gdo.controlId, "down");
        });

        $("#right").click(function () {
            gdo.net.app["Graph"].server.triggerPanning(gdo.controlId, "right");
        });



        window.addEventListener('keydown', processKeyPress, true);

        function processKeyPress(evt) {

            var key = evt.keyCode;
            var direction = null;

            if (key == 37) {    // default code for arrow keys
                direction = "left";
            } else if (key == 38) {
                direction = "up";
            } else if (key == 39) {
                direction = "right";
            } else if (key == 40) {
                direction = "down";
            }
   
            if (direction != null) {
                gdo.net.app["Graph"].server.triggerPanning(gdo.controlId, direction);
            }
        }


        $("#zoomIn").click(function () {
            gdo.net.app["Graph"].server.triggerZoomIn(gdo.controlId);
        });

        $("#zoomOut").click(function () {
            gdo.net.app["Graph"].server.triggerZoomOut(gdo.controlId);
        });


    </script>

</body>
</html>
