@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }


    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        $(function () {
            $(document).ready(function () {
                var gdo = parent.gdo;
                gdo.net.app["Graph"].initControl();
            });
        });

        function startRendering() {
            var gdo = parent.gdo;
            gdo.consoleOut('.GRAPHRENDERER', 1, 'Instance ' + gdo.controlId + ": Starting graph rendering");  // can include filename here using razor

            gdo.net.app["Graph"].server.RequestRendering(gdo.controlId);
        };
    </script>
    
    <div>
            <h1>Distributed Graph Rendering</h1>
            <input type="button" onclick="startRendering()" value="Render Graph">
    </div>

    <div id="controlTest"></div>

</body>
</html>
