@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }
        .youtube_text {
            color: #DDD;
            font-size: 21px;
        }
        .youtube_button {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 100px;
            height: 35px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
<script src="../../Scripts/jquery-1.11.3.min.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
<script>
    $(function() {
        var gdo = parent.gdo;
        gdo.consoleOut('.Youtube', 1, 'Init Control');
        gdo.net.app["Youtube"].initControl();
    });

</script>
<div>
    <h1>Youtube App Control</h1>
    <div class="youtube_text">
        <b>Update Channel Name</b>
        <br>
        <fieldset>
            Channel Name: <input type="text" id="new_channel_name">
            <button id="update_channel_name_submit" class="youtube_button">Submit</button>
        </fieldset>
        <br>
        <b>Get Next videos</b>
        <fieldset>
            Channel Name: <span id="current_channel_name"></span>
            <button id="get_next_videos" class="youtube_button">Next</button>
        </fieldset>
    </div>
    <div id="video_list">
        <table border="0" style="width: 100%; text-align: left" id="video_table">
            <tr id="video_table_title">
                <td>Current Videos</td>
                <td>Next Videos</td>
            </tr>
        </table>
    </div>
</div>

<script>
    $("#update_channel_name_submit").click(function () {
        var gdo = parent.gdo;
        gdo.consoleOut('.Youtube', 1, 'Updating channel name: ' + $("#new_channel_name").val());
        gdo.net.app["Youtube"].server.updateChannelName(gdo.controlId, $("#new_channel_name").val());
        gdo.consoleOut('.Youtube', 1, 'Updated channel name: ' + $("#new_channel_name").val());
    });
    $("#get_next_videos").click(function () {
        var gdo = parent.gdo;
        gdo.consoleOut('.Youtube', 1, 'Getting videos');
        gdo.net.app["Youtube"].server.getNextVideos(gdo.controlId, 0);
    });
    $("#new_channel_name").keypress(function (e) {
        if (e.keyCode == 13) {
            $("#update_channel_name_submit").click();
        }
    });
</script>

</body>

</html>
