@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: hidden">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #000;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        $(function () {          
            $(document).ready(function () {
                var gdo = parent.gdo;
                gdo.net.app["Images"].initClient();
            });
        });

        var tileIdDictionary = {};

        function setTiles(imageNameDigit, rotate, blockWidth, blockHeight, tilesJson) {
            tmpTileIdDic = {}
            widthScale = $(window).width() / blockWidth;
            heightScale = $(window).height() / blockHeight;
            for (var i = 0 ; i < tilesJson.length ; i++) {
                key = imageNameDigit + '_' + tilesJson[i].tileIdCol + '_' + tilesJson[i].tileIdRow;
                tmpTileIdDic[key] = true;
                if (tileIdDictionary != null && tileIdDictionary[key] != null) {
                    // if tiles already shown in current block then update its position information
                    //$("#" + key).css("position", "absolute");
                    $("#" + key).css("left", tilesJson[i].displayLeft * widthScale);
                    $("#" + key).css("top", tilesJson[i].displayTop * heightScale);
                    $("#" + key).css("width", tilesJson[i].displayWidth * widthScale);
                    $("#" + key).css("height", tilesJson[i].displayHeight * heightScale);
                    //$("#" + key).css("transform-origin", "left top");
                    $("#" + key).css("transform", "rotate(" + rotate + "deg)");
                } else {
                    // create new tile element and set position information
                    $("#image-tiles").append('<img id="' + key + '" src=""/>');
                    $("#" + key).attr("src", "\\Web\\Images\\Images\\" + imageNameDigit + "\\" + "crop" + "_" + tilesJson[i].tileIdCol + "_" + tilesJson[i].tileIdRow + ".png")
                    $("#" + key).css("position", "absolute");
                    $("#" + key).css("left", tilesJson[i].displayLeft * widthScale);
                    $("#" + key).css("top", tilesJson[i].displayTop * heightScale);
                    $("#" + key).css("width", tilesJson[i].displayWidth * widthScale);
                    $("#" + key).css("height", tilesJson[i].displayHeight * heightScale);
                    $("#" + key).css("transform-origin", "left top");
                    $("#" + key).css("transform", "rotate(" + rotate + "deg)");
                }
            }
            // remove tiles that are not in the new tiles list
            for (var i = 0 ; i < Object.keys(tileIdDictionary).length ; i++) {
                key = Object.keys(tileIdDictionary)[i];
                if (tmpTileIdDic[key] == null) {
                    $("#" + key).remove();
                }
            }
            tileIdDictionary = tmpTileIdDic; // update tiles dictionary
        }
    </script>
    <div id="image-tiles">
    </div>
</body>
</html>
