@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }

        #submit_image {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 210px;
            height: 77px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }

        #display_mode_select {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #active_control {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #rotate_control {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #disable_control {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        #select_image {
            color: #DDD;
            background: #222;
            font-size: 28px;
            width: 210px;
            height: 70px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }

        .file_upload {
            position: relative;
            overflow: hidden;
            margin: 10px;
            width: 280px;
            height: 70px;
            border: 3px solid #444;
            color: #DDD;
            font-size: 21px;
            background: #222;
            text-align: center;
            vertical-align: middle;
            line-height: 70px;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/Images/cropper.min.js"></script>
    <link href="../../Scripts/Images/cropper.min.css" rel="stylesheet" />
    <script>
        var display_mode = 0;

        $(function () {
            var gdo = parent.gdo;

            $("#display_mode_select").click(function() {
                var gdo = parent.gdo;
                gdo.net.app["Images"].display_mode = 1 - gdo.net.app["Images"].display_mode;
                gdo.consoleOut('.IMAGETILES', 1, 'Control: ' + gdo.controlId + ', Update display mode: ' + gdo.net.app["Images"].display_mode);
                gdo.net.app["Images"].server.setDisplayMode(gdo.controlId, gdo.net.app["Images"].display_mode);
                gdo.net.app["Images"].setDisplayModeSelect();
            });

            $("#active_control").click(function() {
                var gdo = parent.gdo;
                gdo.net.app["Images"].control_status = 1;
                updateControlButtonBackground();
            });

            $("#disable_control").click(function () {
                var gdo = parent.gdo;
                gdo.net.app["Images"].control_status = 0;
                updateControlButtonBackground();
            });

            $("#rotate_control").click(function () {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 1) {
                    $('#thumbnail_control > img').cropper('rotate', 90);
                    updateThumbNailImageInfo($('#thumbnail_control > img'));
                }
            });

            $('#thumbnail_control').width($(window).width() / 1.2);
            $('#thumbnail_control').height($(window).width() / 1.8);
            $('#thumbnail_control > img').cropper({
                aspectRatio: 1920 / 1080,
                autoCropArea: 0.65,
                strict: false,
                guides: false,
                highlight: false,
                dragCrop: false,
                cropBoxMovable: false,
                cropBoxResizable: false
            });

            $('#thumbnail_control > img').on('cropmove.cropper', function (e) {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 0) {
                    e.preventDefault();
                } else if (gdo.net.app["Images"].control_status == 1) {
                    updateThumbNailImageInfo($(this));
                }
            });

            $('#thumbnail_control > img').on('zoom.cropper', function (e) {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 0) {
                    e.preventDefault();
                } else if (gdo.net.app["Images"].control_status == 1) {
                    updateThumbNailImageInfo($(this));
                }
            });

            gdo.net.app["Images"].initControl();
            updateThumbNailImageInfo($('#thumbnail_control > img'));
            updateControlButtonBackground();
        });

        function updateControlButtonBackground() {
            var gdo = parent.gdo;
            if (gdo.net.app["Images"].control_status == 0) {
                $("#active_control").css("background", "darkgreen");
                $("#disable_control").css("background", "#222");
                $("#rotate_control").css("background", "#222");
            } else if (gdo.net.app["Images"].control_status == 1) {
                $("#active_control").css("background", "#222");
                $("#disable_control").css("background", "darkred");
                $("#rotate_control").css("background", "darkgreen");
            }
            //updateThumbNailImageInfo($('#thumbnail_control > img'));
        }

        function updateThumbNailImageInfo(object) {
            var gdo = parent.gdo;
            if (gdo.net.app["Images"].control_status == 1) {
                var imageData = object.cropper('getImageData');
                var cropboxData = object.cropper('getCropBoxData');
                var canvasData = object.cropper('getCanvasData');
                var data = {}
                data.imageData = {};
                data.imageData.aspectRatio = imageData.aspectRatio;
                if (imageData.rotate != null) {
                    data.imageData.rotate = imageData.rotate;
                } else {
                    data.imageData.rotate = 0;
                }
                data.cropboxData = {};
                data.cropboxData.left = cropboxData.left;
                data.cropboxData.top = cropboxData.top;
                data.cropboxData.width = cropboxData.width;
                data.cropboxData.height = cropboxData.height;
                data.canvasData = {};
                data.canvasData.left = canvasData.left;
                data.canvasData.top = canvasData.top;
                data.canvasData.width = canvasData.width;
                data.canvasData.height = canvasData.height;
                gdo.net.app["Images"].server.setThumbNailImageInfo(gdo.controlId, JSON.stringify(data));
                $("#canvas_data_width").html(data.canvasData.width);
                $("#canvas_data_height").html(data.canvasData.height);
                $("#canvas_data_left").html(data.canvasData.left);
                $("#canvas_data_top").html(data.canvasData.top);
                $("#cropbox_data_width").html(data.cropboxData.width);
                $("#cropbox_data_height").html(data.cropboxData.height);
                $("#cropbox_data_left").html(data.cropboxData.left);
                $("#cropbox_data_top").html(data.cropboxData.top);
                $("#image_data_aspect_ratio").html(data.imageData.aspectRatio);
                $("#image_data_rotate").html(data.imageData.rotate);
            }
        }

        function setThumbNailImageInfo(imageJson) {
            $("#thumbnail_control > img").cropper('setCanvasData', imageJson.canvasData);
            $("#thumbnail_control > img").cropper('setCropBoxData', imageJson.cropboxData);
            //$("#thumbnail_control > img").cropper('rotate', imageJson.imageData.rotate);
            //$("#thumbnail_control > img").cropper('setAspectRatio', imageJson.imageData.aspectRatio);
        }

        function getSectionSize(section_width, section_height) {
            $("#thumbnail_control > img").cropper('setAspectRatio', section_width/section_height);
        }

    </script>
    <div>
        @{
            var path = "";
            var imgname = "";
            if (IsPost)
            {

                WebImage photo = WebImage.GetImageFromRequest();
                if (photo != null)
                {
                    imgname = Path.GetFileName(photo.FileName);
                    //foldername
                    Directory.CreateDirectory(System.Web.HttpContext.Current.Server.MapPath("~/") + @"\Web\Images\Images");
                    path = System.Web.HttpContext.Current.Server.MapPath("~/") + @"\Web\Images\Images\" + imgname;
                    photo.Save(path);
                }
            }
        }

        <div>
            <h1>Upload Image</h1>
            <form id="submit_image_form" action="" method="post" enctype="multipart/form-data">
                <fieldset>
                    <table>
                        <tr>
                            <td>
                                <div class="file_upload">
                                    <span>Choose File</span>
                                    <input type="file" name="Image" class="upload" id="select_image"/>
                                </div>
                            </td>
                            <td>
                                <div id="display_mode_select">
                                    <span id="display_mode_value">FIT Mode</span>
                                </div>
                            </td>
                            <td>
                                <input id="submit_image" type="submit" value="Submit"/>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <br/>

                <h1>Message</h1>
                <fieldset>
                    <p id="message_from_server"></p>
                </fieldset>

                <br/>
                <h1>Thumbnail</h1>
                <fieldset>
                    <table>
                        <tr>
                            <td>
                                <div id="active_control">
                                    <span>Active Control</span>
                                </div>
                            </td>
                            <td>
                                <div id="disable_control">
                                    <span>Disable Control</span>
                                </div>
                            </td>
                            <td>
                                <div id="rotate_control">
                                    <span>Rotate</span>
                                </div>
                            </td>
                        </tr>
                    </table>
                </fieldset>
                <fieldset>
                    <p id="canvas_data">
                        width:<span id="canvas_data_width"></span>/
                        height:<span id="canvas_data_height"></span>/
                        left:<span id="canvas_data_left"></span>/
                        top:<span id="canvas_data_top"></span>
                    </p>
                    <p id="cropbox_data">
                        width:<span id="cropbox_data_width"></span>/
                        height:<span id="cropbox_data_height"></span>/
                        left:<span id="cropbox_data_left"></span>/
                        top:<span id="cropbox_data_top"></span>
                    </p>
                    <p id="image_data">
                        aspectRatio:<span id="image_data_aspect_ratio"></span>/
                        rotate:<span id="image_data_rotate"></span>
                    </p>
                </fieldset>
                <div id="thumbnail_control" style="margin-top:10px">
                    <img src="Images\Wave.jpg">
                </div>

            </form>

        </div>
    </div>
    @if (path != "")
    {
        <script>
            $(function () {
                $(document).ready(function () {
                    var gdo = parent.gdo;
                    gdo.consoleOut('.IMAGETILES', 1, 'Instance ' + gdo.controlId + ": Uploaded Image " + "@imgname");
                    gdo.net.app["Images"].server.changeImageName(gdo.controlId, "@imgname");
                    gdo.net.app["Images"].server.requestImageName(gdo.controlId);
                });

            });
        </script>
    }
</body>
</html>