@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        body {
            color: #FFF;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                cursor: inherit;
                display: block;
            }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0px;
            padding: 0px;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/jquery.csv-0.71.min.js"></script>
    <script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
    <script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="../../Scripts/Images/cropper.min.js"></script>
    <link href="../../Scripts/Images/cropper.min.css" rel="stylesheet" />
    <script>
        $(document).on('change', '.btn-file :file', function () {
            var input = $(this),
                numFiles = input.get(0).files ? input.get(0).files.length : 1,
                label = input.val().replace(/\\/g, '/').replace(/.*\//, '');
            input.trigger('fileselect', [numFiles, label]);
        });

        $(document).ready(function () {
            $('.btn-file :file').on('fileselect', function (event, numFiles, label) {

                var input = $(this).parents('.input-group').find(':text'),
                    log = numFiles > 1 ? numFiles + ' files selected' : label;

                if (input.length) {
                    input.val(log);
                } else {
                    //if (log) alert(log);
                }

            });
        });
        $(function () {

            /*
            window.onerror = function() {
                location.reload();
            }
            */

            var gdo = parent.gdo;

            $("#image_digit_button").click(function (){
                var gdo = parent.gdo;
                gdo.net.app["Images"].server.findDigits(gdo.controlId, $("#image_digit").val());
            });

            $("#image_digit").keypress(function (e) {
                if (e.keyCode == 13) {
                    $("#image_digit_button").click();
                }
            });

            $("#fit_mode").click(function() {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 1 &&　$('#thumbnail_control > img').attr("src") != "") {
                    //gdo.net.app["Images"].display_mode = 1 - gdo.net.app["Images"].display_mode;
                    gdo.consoleOut('.Images', 1, 'Control: ' + gdo.controlId + ', Update display mode: FIT MODE');
                    //gdo.net.app["Images"].server.setDisplayMode(gdo.controlId, gdo.net.app["Images"].display_mode);
                    //gdo.net.app["Images"].setDisplayModeSelect();
                    setThumbNailDisplayMode(0);
                }
            });

            $("#fill_mode").click(function() {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 1 &&　$('#thumbnail_control > img').attr("src") != "") {
                    //gdo.net.app["Images"].display_mode = 1 - gdo.net.app["Images"].display_mode;
                    gdo.consoleOut('.Images', 1, 'Control: ' + gdo.controlId + ', Update display mode: FILL MODE');
                    //gdo.net.app["Images"].server.setDisplayMode(gdo.controlId, gdo.net.app["Images"].display_mode);
                    //gdo.net.app["Images"].setDisplayModeSelect();
                    setThumbNailDisplayMode(1);
                }
            });

            $("#active_control").click(function() {
                if ($('#thumbnail_control > img').attr("src") != "") {
                    var gdo = parent.gdo;
                    if (gdo.net.app["Images"].control_status == 0) {
                        gdo.net.app["Images"].control_status = 1;
                    } else {
                        gdo.net.app["Images"].control_status = 0;
                    }

                    updateControlButtonBackground();
                    //gdo.net.app["Images"].server.setDisplayMode(gdo.controlId, gdo.net.app["Images"].display_mode);
                    //gdo.net.app["Images"].setDisplayModeSelect();
                }
            });

            $("#rotate_control").click(function () {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 1 &&　$('#thumbnail_control > img').attr("src") != "") {
                    $('#thumbnail_control > img').cropper('rotate', 90);
                    updateThumbNailImageInfo($('#thumbnail_control > img'));
                }
            });

            //$('#thumbnail_control').width($(window).width() / 1.2);
            //$('#thumbnail_control').height($(window).width() / 1.8);

            $("body").keypress(function(e) {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 1) {
                    var canvasData = $('#thumbnail_control > img').cropper('getCanvasData');
                    if(e.keyCode == 97) { // A left
                        //alert("left");
                        $('#thumbnail_control > img').cropper('setCanvasData', {
                            left: canvasData.left - 1
                        });
                        updateThumbNailImageInfo($('#thumbnail_control > img'));
                    } else if (e.keyCode == 115) { // S down
                        $('#thumbnail_control > img').cropper('setCanvasData', {
                            top: canvasData.top + 1
                        });
                        updateThumbNailImageInfo($('#thumbnail_control > img'));
                    } else if (e.keyCode == 100) { // D right
                        $('#thumbnail_control > img').cropper('setCanvasData', {
                            left: canvasData.left + 1
                        });
                        updateThumbNailImageInfo($('#thumbnail_control > img'));
                    } else if (e.keyCode == 119) { // W up
                        $('#thumbnail_control > img').cropper('setCanvasData', {
                            top: canvasData.top - 1
                        });
                        updateThumbNailImageInfo($('#thumbnail_control > img'));
                    }
                }
            });

            gdo.net.app["Images"].initControl();
            //updateThumbNailImageInfo($('#thumbnail_control > img'));
            updateControlButtonBackground();
        });

        function updateControlButtonBackground() {
            var gdo = parent.gdo;
            if (gdo.net.app["Images"].control_status == 0) {
                $("#thumbnail_panel").addClass("panel-default").removeClass("panel-success");
                $("#active_control").addClass("btn-success").removeClass("btn-danger");
                $("#rotate_control").removeClass("btn-primary").addClass("disabled").addClass("btn-default");
                $("#fit_mode").removeClass("btn-primary").addClass("disabled").addClass("btn-default");
                $("#fill_mode").removeClass("btn-primary").addClass("disabled").addClass("btn-default");
            } else if (gdo.net.app["Images"].control_status == 1) {
                $("#thumbnail_panel").addClass("panel-success").removeClass("panel-default");
                $("#active_control").removeClass("btn-success").addClass("btn-danger");
                $("#rotate_control").addClass("btn-primary").removeClass("disabled").removeClass("btn-default");
                $("#fit_mode").addClass("btn-primary").removeClass("disabled").removeClass("btn-default");
                $("#fill_mode").addClass("btn-primary").removeClass("disabled").removeClass("btn-default");
            }
            updateThumbNailImageInfo($('#thumbnail_control > img'));
        }

        function initializeCropper() {
            var gdo = parent.gdo;

            $('#thumbnail_control > img').cropper({
                aspectRatio: 1920 / 1080,
                autoCropArea: 0.65,
                strict: false,
                guides: false,
                highlight: false,
                dragCrop: false,
                cropBoxMovable: false,
                cropBoxResizable: false
            });

            $('#thumbnail_control > img').on('cropmove.cropper', function (e) {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 0) {
                    e.preventDefault();
                } else if (gdo.net.app["Images"].control_status == 1) {
                    updateThumbNailImageInfo($(this));
                }
            });

            $('#thumbnail_control > img').on('zoom.cropper', function (e) {
                var gdo = parent.gdo;
                if (gdo.net.app["Images"].control_status == 0) {
                    e.preventDefault();
                } else if (gdo.net.app["Images"].control_status == 1) {
                    updateThumbNailImageInfo($(this));
                }
            });

            gdo.net.app["Images"].server.requestSectionSize(gdo.controlId);
            gdo.net.app["Images"].server.requestThumbNailImageInfo(gdo.controlId);
        }

        function updateThumbNailImageInfo(object) {
            var gdo = parent.gdo;
            if (gdo.net.app["Images"].control_status == 1 &&　$('#thumbnail_control > img').attr("src") != "") {
                var imageData = object.cropper('getImageData');
                var cropboxData = object.cropper('getCropBoxData');
                var canvasData = object.cropper('getCanvasData');
                var data = {}
                data.imageData = {};
                data.imageData.aspectRatio = cropboxData.width / cropboxData.height; //actually this is cropbox width/height ratio
                if (imageData.rotate != null) {
                    data.imageData.rotate = imageData.rotate % 360;
                } else {
                    data.imageData.rotate = 0;
                }
                data.imageData.naturalWidth = imageData.naturalWidth;
                data.imageData.naturalHeight = imageData.naturalHeight;
                data.imageData.left = imageData.left;
                data.imageData.top = imageData.top;
                data.imageData.width = imageData.width;
                data.imageData.height = imageData.height;
                data.cropboxData = {};
                data.cropboxData.left = cropboxData.left;
                data.cropboxData.top = cropboxData.top;
                data.cropboxData.width = cropboxData.width;
                data.cropboxData.height = cropboxData.height;
                data.canvasData = {};
                data.canvasData.left = canvasData.left;
                data.canvasData.top = canvasData.top;
                data.canvasData.width = canvasData.width;
                data.canvasData.height = canvasData.height;
                gdo.net.app["Images"].server.setThumbNailImageInfo(gdo.controlId, JSON.stringify(data));
                $("#canvas_data_width").html(data.canvasData.width);
                $("#canvas_data_height").html(data.canvasData.height);
                $("#canvas_data_left").html(data.canvasData.left);
                $("#canvas_data_top").html(data.canvasData.top);
                $("#cropbox_data_width").html(data.cropboxData.width);
                $("#cropbox_data_height").html(data.cropboxData.height);
                $("#cropbox_data_left").html(data.cropboxData.left);
                $("#cropbox_data_top").html(data.cropboxData.top);
                $("#image_data_aspect_ratio").html(data.imageData.aspectRatio);
                $("#image_data_rotate").html(data.imageData.rotate);
            }
        }

        function setThumbNailImageInfo(imageJson) {
            if ($('#thumbnail_control > img').attr("src") != "") {
                var gdo = parent.gdo;
                $("#thumbnail_control > img").cropper('setAspectRatio', imageJson.imageData.aspectRatio);
                $("#thumbnail_control > img").cropper('setCropBoxData', {
                    left: imageJson.cropboxData.left,
                    top: imageJson.cropboxData.top,
                    width: imageJson.cropboxData.width,
                    height: imageJson.cropboxData.height
                });
                //gdo.consoleOut('.Images', 1, 'Set thumbnail image rotate configuration');
                $("#thumbnail_control > img").cropper('rotate', imageJson.imageData.rotate);
                $("#thumbnail_control > img").cropper('setCanvasData', {
                    left: imageJson.canvasData.left,
                    top: imageJson.canvasData.top,
                    width: imageJson.canvasData.width,
                    height: imageJson.canvasData.height
                });
            }
        }

        function getSectionSize(section_width, section_height) {
            if ($('#thumbnail_control > img').attr("src") != "") {
                var gdo = parent.gdo;
                gdo.consoleOut('.Images', 1, 'Set aspectRatio configuration');
                $("#thumbnail_control > img").cropper('setAspectRatio', section_width/section_height);
            }
        }

        function setThumbNailDisplayMode(display_mode) {
            if ($('#thumbnail_control > img').attr("src") != "") {
                var gdo = parent.gdo;
                var cropboxData = $("#thumbnail_control > img").cropper('getCropBoxData');
                var canvasData = $("#thumbnail_control > img").cropper('getCanvasData');
                var scalewidth = cropboxData.width / canvasData.width;
                var scaleheight = cropboxData.height / canvasData.height;
                if (scalewidth > scaleheight && display_mode == 1 ||
                    scalewidth < scaleheight && display_mode == 0) {
                    $("#thumbnail_control > img").cropper('setCanvasData', {
                        left: cropboxData.left,
                        top: cropboxData.top,
                        width: cropboxData.width
                    });
                } else {
                    $("#thumbnail_control > img").cropper('setCanvasData', {
                        left: cropboxData.left,
                        top: cropboxData.top,
                        height: cropboxData.height
                    });
                }
                updateThumbNailImageInfo($('#thumbnail_control > img'));
            }
        }

    </script>
    <div class="wrapper" style="width:97%">
        @{
            var path = "";
            var filename = "";
            if (IsPost)
            {

                HttpPostedFileBase file = Request.Files[0];
                if (file != null)
                {
                    filename = Path.GetFileName(file.FileName);
                    //foldername
                    Directory.CreateDirectory(System.Web.HttpContext.Current.Server.MapPath("~/Web/Images/images"));
                    path = System.Web.HttpContext.Current.Server.MapPath("~/Web/Images/images/") + filename;
                    file.SaveAs(path);
                }
            }
        }
        <div>
            <form id="submit_image_form" action="" method="post" enctype="multipart/form-data">
                <div class="row">
                    <div class="col-lg-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h6><i class='fa  fa-upload fa-fw'></i>&nbsp;Upload Image</h6>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <table style="border-collapse: separate; border-spacing: 3px;background-color:transparent;">
                                        <tr>
                                            <td>
                                                <div>
                                                    <span class="btn btn-primary btn-file btn-block" style="border-color:transparent;"><i class='fa  fa-file-picture-o fa-fw'></i>&nbsp;Choose File <input type="file" name="Image" class="upload" id="select_image"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <input id="submit_image" class="btn btn-primary btn-block" style="border-color: transparent;" type="submit" value="Submit"></input>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4">
                        <div class="panel panel-primary">
                            <div class="panel-heading">
                                <h6><i class='fa  fa-question-circle fa-fw'></i>&nbsp;Find Processed Image</h6>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <table style="border-collapse: separate; border-spacing: 3px;background-color:transparent;">
                                        <tr>
                                            <td>
                                                <div style="background-color:transparent"><h6>Digits:</h6></div>
                                            </td>
                                            <td>
                                                <div class="input_field_div"><input type="text" class="input_field" id="image_digit"></div><!-- TODO Replace this with a drop down list populated from the /Web/Images/Database.txt file, its 1 image per line, Name|number -->
                                            </td>
                                            <td>
                                                <button type='button' id="image_digit_button" class='btn btn-primary btn-block'><i class='fa  fa-check fa-fw'></i>&nbsp;Submit</button>
                                            </td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                    <div class="col-lg-4" style="height:100%">
                        <div class="panel panel-info" style="height:100%">
                            <div class="panel-heading">
                                <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Message</h6>
                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <h6 id="message_from_server"></h6>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-12">
                        <div class="panel panel-default" id="thumbnail_panel">
                            <div class="panel-heading">
                                <div class="row">
                                    <div class="col-lg-10">
                                        <h5><i class='fa  fa-picture-o fa-fw'></i>&nbsp;Thumbnail</h5>
                                    </div>
                                    <div class="col-lg-2">
                                        <fieldset>
                                            <table style="border-collapse: separate; border-spacing: 3px;border:none;padding:0px;background-color:transparent;" align="right">
                                                <tr>
                                                    <td>
                                                        <button type='button' id="active_control" style="border-color:transparent; align-content: flex-start" class='btn btn-success center-block  btn-lg'><i align="center" class='fa  fa-power-off fa-fw'></i></button>
                                                    </td>
                                                </tr>
                                            </table>
                                        </fieldset>
                                    </div>

                                </div>

                            </div>
                            <div class="panel-body">
                                <fieldset>
                                    <div class="row">
                                        <div class="col-lg-6">
                                            <table style="border-collapse: separate; border-spacing: 3px;border:none;padding:0px;width:100%;background-color:transparent;">
                                                <tr>
                                                    <td>
                                                        <button type='button' id="fit_mode" style="border-color:transparent;" class='btn btn-default disabled btn-block'><i class='fa  fa-expand fa-fw'></i>&nbsp;Fit</button>
                                                    </td>
                                                    <td>
                                                        <button type='button' id="fill_mode" style="border-color:transparent;" class='btn btn-default disabled btn-block'><i class='fa  fa-arrows fa-fw'></i>&nbsp;Fill</button>
                                                    </td>
                                                    <td>
                                                        <button type='button' id="rotate_control" style="border-color:transparent;" class='btn btn-default disabled btn-block'><i class='fa  fa-rotate-right fa-fw'></i>&nbsp;Rotate</button>
                                                    </td>
                                                </tr>
                                            </table>

                                        </div>
                                        <div class="col-lg-6">
                                            <div class="col-md-12" style="vertical-align:middle">
                                                KeyPress Note: A [Left] | S [Down] | W [Up] | D [Right]
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                                <br />
                                <div id="thumbnail_control" style="width:100%;height:50vh;">
                                    <img src="">
                                </div>
                            </div>
                            <div class="panel-footer">
                                <fieldset>
                                    <table style="width:90%; background-color:transparent;">
                                        <tr>
                                            <td>Canvas Info</td>
                                            <td>width:<span id="canvas_data_width"></span></td>
                                            <td>height:<span id="canvas_data_height"></span></td>
                                            <td>left:<span id="canvas_data_left"></span></td>
                                            <td>top:<span id="canvas_data_top"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Cropbox Info</td>
                                            <td>width:<span id="cropbox_data_width"></span></td>
                                            <td>height:<span id="cropbox_data_height"></span></td>
                                            <td>left:<span id="cropbox_data_left"></span></td>
                                            <td>top:<span id="cropbox_data_top"></span></td>
                                        </tr>
                                        <tr>
                                            <td>Image Info</td>
                                            <td>aspectRatio:<span id="image_data_aspect_ratio"></span></td>
                                            <td>rotate:<span id="image_data_rotate"></span></td>
                                        </tr>
                                    </table>
                                </fieldset>
                            </div>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
    @if (path != "")
    {
        <script>
            $(function () {
                $(document).ready(function () {
                    var gdo = parent.gdo;
                    gdo.consoleOut('.Images', 1, 'Instance ' + gdo.controlId + ": Uploaded Image " + "@filename");
                    gdo.net.app["Images"].server.processImage(gdo.controlId, "@filename");
                    //gdo.net.app["Images"].server.requestImageName(gdo.controlId);
                });

            });
        </script>
    }
</body>
</html>