@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        body {
            color: #FFF;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                cursor: inherit;
                display: block;
            }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0px;
            padding: 0px;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/jquery.csv-0.71.min.js"></script>
    <script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
    <script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script>
        $(function () {
            var gdo = parent.gdo;
            gdo.net.module["EyeTracking"].initControl();
        });
    </script>
    <div class="wrapper" style="width: 97%">
        <div style="position: absolute; top: 4px; left: 0px; z-index: 1000">
            <table id="nav_buttons" unselectable="on" class="unselectable" style="border-collapse: separate; border-spacing: 1px;">
                <tr>
                    <td>
                        <button type="button" id="referenceButton" class="btn btn-outline btn-primary"><i class='fa  fa-qrcode fa-fw'></i>&nbsp;<font color="#fff">References</font></button>
                    </td>
                    <td>
                        <button type="button" id="cursorButton" class="btn btn-outline btn-primary"><i class='fa  fa-crosshairs fa-fw'></i>&nbsp;<font color="#fff">Cursors</font></button>
                    </td>
                    <td>
                        <div style="width:14px"></div>
                    </td>
                </tr>
            </table>
        </div>
        <br>
        <br>
        <br>
        <br>
        <div class="row">
            <div class="col-lg-12">
                <div class="panel panel-primary disabled">
                    <div class="panel-heading">
                        <h6><i class='fa  fa-user  fa-fw'></i>&nbsp;User 1</h6>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6"><table id="user_1_table" unselectable="on" class="unselectable" style=""></table></div>
                        <div class="col-lg-6">
                            <div class="flot-chart" style="height:14vh">
                                <div class="flot-chart-content" id="user_1_chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Messages
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-success">
                    <div class="panel-heading">
                        <h6><i class='fa  fa-user  fa-fw'></i>&nbsp;User 2</h6>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6"><table id="user_2_table" unselectable="on" class="unselectable" style=""></table></div>
                        <div class="col-lg-6">
                            <div class="flot-chart" style="height:14vh">
                                <div class="flot-chart-content" id="user_2_chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Messages
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-warning">
                    <div class="panel-heading">
                        <h6><i class='fa  fa-user  fa-fw'></i>&nbsp;User 3</h6>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6"><table id="user_3_table" unselectable="on" class="unselectable" style=""></table></div>
                        <div class="col-lg-6">
                            <div class="flot-chart" style="height:14vh">
                                <div class="flot-chart-content" id="user_3_chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Messages
                    </div>
                </div>
            </div>
            <div class="col-lg-12">
                <div class="panel panel-danger">
                    <div class="panel-heading">
                        <h6><i class='fa  fa-user  fa-fw'></i>&nbsp;User 4</h6>
                    </div>
                    <div class="panel-body">
                        <div class="col-lg-6"><table id="user_4_table" unselectable="on" class="unselectable" style=""></table></div>
                        <div class="col-lg-6">
                            <div class="flot-chart" style="height:14vh">
                                <div class="flot-chart-content" id="user_4_chart"></div>
                            </div>
                        </div>
                    </div>
                    <div class="panel-footer">
                        Messages
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>