@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }
        .format_text {
            color: #DDD;
            font-size: 21px;
        }
        .format_button {
            color: #DDD;
            background: #222;
            font-size: 21px;
            width: 200px;
            height: 35px;
            border: 3px solid #444;
            margin: 0;
            padding: 0;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
<script src="../../Scripts/jquery-1.6.4.min.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
<script>
    $(function() {
        var gdo = parent.gdo;
        gdo.consoleOut('.GDOTemps', 1, 'Init Control');
        gdo.net.app["GDOTemps"].initControl();
    });

</script>
<div>
    <h1>GDO Temps App Control</h1>
    <div class="format_text">
        <b>Update Tempuratures</b>
        <br>
        <fieldset>
           <button id="btnRefresh_submit" class="format_button">Update</button>
        </fieldset>
        <br/>
        <b>Message</b>
        <fieldset>
            <p id="message_from_server"></p>
        </fieldset>
        <br/>       
    </div>
    
</div>

<script> 
    $("#btnRefresh_submit").click(function () {
        var gdo = parent.gdo;
        gdo.consoleOut('.GDOTemps', 1, 'Refreshing Tempuratures');
        gdo.net.app['GDOTemps'].server.RefreshAllTemps(gdo.controlId);
    });    
</script>

</body>

</html>
