<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #000;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        #graphArea {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0 none;
            z-index: 9;
        }
    </style>
</head>
<body unselectable="on" class="unselectable" onload="getTime()">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="../../Scripts/SigmaGraph/sigma/sigma.min.js"></script>
    <script src="../../Scripts/SigmaGraph/sigma/plugins/sigma.layout.forceAtlas2.min.js"></script>
    <script>
        $(function () {
            $(document).ready(function () {
                var gdo = parent.gdo;
                console.log("Start time: " + window.performance.now());
                gdo.net.app["SigmaGraph"].initClient();
            });
        });

        function getTime() {
            console.log("Intermediate time: " + window.performance.now());
        }

    </script>
    <div id= "graphArea">
    </div>
</body>
</html>
