@using System.IO
@using System.Web
@using GDO.Core
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="./styles/controlStyle.css">
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="../../Scripts/jquery.csv-0.71.min.js"></script>
    <script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
    <script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script src="~/Web/SigmaGraph/scripts/control.js"></script>
    <div class="wrapper" style="width: 97%">
        @{
            var path = "";
            var filename = "";
            if (IsPost)
            {

                HttpPostedFileBase file = Request.Files[0];
                if (file != null && !file.FileName.IsEmpty())   //need to add this check, because it tried to save empty file in subsequent button clicks
                {
                    filename = Path.GetFileName(file.FileName);
                    //foldername
                    Directory.CreateDirectory(HttpContext.Current.Server.MapPath("~/Web/SigmaGraph/graphmls"));
                    path = HttpContext.Current.Server.MapPath("~/Web/SigmaGraph/graphmls/") + filename;
                    if (File.Exists(path)) {  // if the file already exists, delete it
                        File.Delete(path);
                    }
                    file.SaveAs(path);
                    }
                }
        }
        <div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6><i class='fa  fa-upload fa-fw'></i>&nbsp;Upload Graph</h6>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <form id="submit_graph_form" action="" method="post" enctype="multipart/form-data">
                                    <table style="border-collapse: separate; border-spacing: 3px; background-color: transparent;">
                                        <tr>
                                            <td>
                                                <div style="background-color: transparent">
                                                    <span class="btn btn-primary btn-file btn-block" style="border-color: transparent;"><i class='fa  fa-file-picture-o fa-fw'></i>&nbsp;Choose File <input type="file" name="Graph" class="upload" id="select_graph"></span>
                                                </div>
                                            </td>
                                            <td>
                                                <input id="submit_graph" class="btn btn-primary btn-block" style="border-color: transparent;" type="submit" value="&nbsp;Render Graph"/>
                                            </td>
                                        </tr>
                                    </table>
                                </form>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6><i class='fa  fa-question-circle fa-fw'></i>&nbsp;Find Processed Graph</h6>
                        </div>
                        <div class="panel-body">
                            <fieldset>
                                <table style="border-collapse: separate; border-spacing: 3px;background-color:transparent;">
                                    <tr>
                                        <td>
                                            <div style="background-color:transparent"><h6>Previous Graph:</h6></div>
                                        </td>
                                        <td>
                                            <div class="input_field_div">
                                                <select class="input_field" id="graph_digit">
                                                    @{
                                                        string graphfolder = System.Web.HttpContext.Current.Server.MapPath("~/Web/SigmaGraph/graphmls");
                                                        string[] files = Directory.GetFiles(graphfolder);
                                                    }
                                                    @foreach (var s in files)
                                                    {  <option value="@s.Split('\\').Last()">@s.Split('\\').Last()</option>  }
                                                </select>
                                            </div>
                                        </td>
                                        <td>
                                            <button type='button' id="image_digit_button" class='btn btn-primary btn-block'><i class='fa  fa-check fa-fw'></i>&nbsp;Submit</button>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Messages</h6>
                        </div>
                        <div class="panel-body">
                            <h6 id="message_from_server">&nbsp;</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6><i class='fa  fa-sliders  fa-fw'></i>&nbsp;Control</h6>
                        </div>
                        <div class="panel-body">
                            <fieldset id="graph_UI">
                                <table style="width: 100%; background: transparent">
                                    <tr>
                                        <td style="width: 20%">
                                            <label>Object</label>
                                        </td>
                                        <td style="width: 20%">
                                            <label>Property</label>
                                        </td>
                                        <td style="width: 20%">
                                            <label>Visual Attribute</label>
                                        </td>
                                        <td style="width: 20%">
                                            <label>Value</label>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td style="width: 20%">
                                            <select id="select_object" required="" class="input_field"></select>
                                        </td>
                                        <td style="width: 20%">
                                            <select id="select_property" required="" class="input_field"></select>
                                        </td>
                                        <td style="width: 20%">
                                            <select id="select_visual_attribute" required="" class="input_field"></select>
                                        </td>
                                        <td style="width: 20%">
                                            <select id="select_value" required="" class="input_field"></select>
                                        </td>
                                        <td style="width: 20%">
                                            <button class="btn btn-danger" id="red">Apply</button>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <label> Toggle panning (these buttons do not work)</label> <br/>
                                            <table style="border-collapse: separate; border-spacing: 1px;">
                                                <tbody><tr>
                                                    <td></td>
                                                    <td><button class="btn btn-default" id="up"><i class="fa  fa-arrow-circle-up fa-fw"></i>&nbsp;</button></td>
                                                    <td></td>
                                                </tr>
                                                <tr>
                                                    <td><button class="btn btn-default" id="left"><i class="fa  fa-arrow-circle-left  fa-fw"></i>&nbsp;</button></td>
                                                    <td></td>
                                                    <td><button class="btn btn-default" id="right"><i class="fa  fa-arrow-circle-right fa-fw"></i>&nbsp;</button></td>
                                                </tr>
                                                <tr>
                                                    <td></td>
                                                    <td><button class="btn btn-default" id="down"><i class="fa  fa-arrow-circle-down fa-fw"></i>&nbsp;</button></td>
                                                    <td></td>
                                                </tr>
                                                </tbody>
                                            </table>
                                        </td>
                                        <td>
                                            <label> Toggle zooming </label> <br />
                                            <button class="btn btn-default" id="zoomIn"><i class="fa  fa-plus-circle  fa-fw"></i>&nbsp;Zoom in</button>
                                            <button class="btn btn-default" id="zoomOut"><i class="fa  fa-minus-circle  fa-fw"></i>&nbsp;Zoom out</button>
                                            <button class="btn btn-default" id="showAll"><i class="fa  fa-minus-circle  fa-fw"></i>&nbsp;Show All</button>
                                        </td>
                                        <td>
                                            <table style="width: 100%; background: transparent">
                                                <tr>
                                                    <td>
                                                        <label>  Attribute</label>
                                                    </td>
                                                    <td>
                                                        <label> Color</label>
                                                    </td>
                                                </tr>
                                                <tr>
                                                    <td>
                                                        <select id="attributes" required="" class="input_field">
                                                        </select>
                                                    </td>
                                                    <td>
                                                        <select id="select_object" required="" class="input_field">
                                                            <option>blue</option>
                                                            <option>red</option>
                                                            <option>green</option>
                                                            <option>yellow</option>
                                                        </select>
                                                    </td>
                                                </tr>
                                            </table>
                                        </td>
                                    </tr>
                                </table>
                                <br>
                                <button class="btn btn-default" id="showGraph">Show Graph (May take a while...)</button>
                                <canvas id="field_of_view" style="width: 1400px; height: 420px; touch-action: none; background: white"></canvas>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (path != "")
    {
        <script>
            $(function () {
                $(document).ready(function () {
                    var gdo = parent.gdo;
                    gdo.consoleOut('.SIGMAGRAPHRENDERER', 1, 'Instance ' + gdo.controlId + ": Uploaded Graph " + "@filename");
                    gdo.net.app["SigmaGraph"].server.initiateProcessing(gdo.controlId, "@filename");
                });
            });
        </script>
    }
</body>
</html>
