@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: hidden">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body unselectable="on" class="unselectable">
<style>
    #svgMain {margin-left:auto; margin-right:auto; display:block;}

</style>
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        $(function () {          
            $(document).ready(function () {
                var gdo = parent.gdo;
                gdo.net.app["Twitter"].initClient();
            });
        });
    </script>
    <div id="wrapper" style="background-color:#000;width:100vw;height:100vh;text-align:center; vertical-align: middle;" align="center">
        
        <h1 id="client_api_status_message" style="font-size: 6vh; color: rgb(177, 177, 178); font-family: times; text-align:center; vertical-align: middle;"></h1>
            
                <svg id="svgMain" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0" y="0" width="1920" height="1080" viewBox="0, 0, 1920, 1080" style="transform:scale(0.7)">
                    <g id="Layer_1">
                        <path d="M132.5,288.5 L444.5,288.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M300.5,288.5 L300.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M444.5,288.5 L552.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M552.5,792.5 L660.5,288.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M660.5,288.5 L768.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M768.5,792.5 L876.5,288.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M888.5,288.5 L888.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M888.5,288.5 L1200.5,288.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1056.5,288.5 L1056.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1056.5,288.5 L1368.5,288.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1224.5,288.5 L1224.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1368.5,288.5 L1560.5,288.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1368.5,288.5 L1368.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1368.5,792.5 L1560.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1368.5,540.5 L1560.5,540.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1572.5,288.5 L1776.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1572.5,288.5 L1572.5,792.5" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <path d="M1584.5,286.466 C1650.066,258.795 1720.416,290.598 1744.754,358.914 C1769.092,427.229 1738.938,508.251 1676.063,543.478" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        <g>
                            <path d="M444.5,300.5 C437.873,300.5 432.5,295.127 432.5,288.5 C432.5,281.873 437.873,276.5 444.5,276.5 C451.127,276.5 456.5,281.873 456.5,288.5 C456.5,295.127 451.127,300.5 444.5,300.5 z" fill="#AAFFFF"/>
                            <path d="M444.5,300.5 C437.873,300.5 432.5,295.127 432.5,288.5 C432.5,281.873 437.873,276.5 444.5,276.5 C451.127,276.5 456.5,281.873 456.5,288.5 C456.5,295.127 451.127,300.5 444.5,300.5 z" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        </g>
                        <g>
                            <path d="M888.5,300.5 C881.873,300.5 876.5,295.127 876.5,288.5 C876.5,281.873 881.873,276.5 888.5,276.5 C895.127,276.5 900.5,281.873 900.5,288.5 C900.5,295.127 895.127,300.5 888.5,300.5 z" fill="#AAFFFF"/>
                            <path d="M888.5,300.5 C881.873,300.5 876.5,295.127 876.5,288.5 C876.5,281.873 881.873,276.5 888.5,276.5 C895.127,276.5 900.5,281.873 900.5,288.5 C900.5,295.127 895.127,300.5 888.5,300.5 z" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        </g>
                        <g>
                            <path d="M1368.5,300.5 C1361.873,300.5 1356.5,295.127 1356.5,288.5 C1356.5,281.873 1361.873,276.5 1368.5,276.5 C1375.127,276.5 1380.5,281.873 1380.5,288.5 C1380.5,295.127 1375.127,300.5 1368.5,300.5 z" fill="#AAFFFF"/>
                            <path d="M1368.5,300.5 C1361.873,300.5 1356.5,295.127 1356.5,288.5 C1356.5,281.873 1361.873,276.5 1368.5,276.5 C1375.127,276.5 1380.5,281.873 1380.5,288.5 C1380.5,295.127 1375.127,300.5 1368.5,300.5 z" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        </g>
                        <g>
                            <path d="M1572.5,300.5 C1565.873,300.5 1560.5,295.127 1560.5,288.5 C1560.5,281.873 1565.873,276.5 1572.5,276.5 C1579.127,276.5 1584.5,281.873 1584.5,288.5 C1584.5,295.127 1579.127,300.5 1572.5,300.5 z" fill="#AAFFFF"/>
                            <path d="M1572.5,300.5 C1565.873,300.5 1560.5,295.127 1560.5,288.5 C1560.5,281.873 1565.873,276.5 1572.5,276.5 C1579.127,276.5 1584.5,281.873 1584.5,288.5 C1584.5,295.127 1579.127,300.5 1572.5,300.5 z" fill-opacity="0" stroke="#FFFFFF" stroke-width="6"/>
                        </g>
                    </g>
                </svg>



        </div>
    
</body>
</html>
