@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        body { color: #FFF; }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: inherit;
            display: block;
        }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0px;
            padding: 0px;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
<script src="../../Scripts/jquery-2.1.4.min.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="../../Scripts/jquery.csv-0.71.min.js"></script>
<script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
<script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script>
    $(function() {
        var gdo = parent.gdo;
        gdo.net.app["Twitter"].initControl();
    });
</script>
<div class="wrapper" style="width: 97%">
    <div class="row">
        <div class="col-lg-2">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Admin</h6>
                </div>
                <div class="panel-body">
                    <button id="get_data" class="btn btn-success"><i class='fa fa-space-shuttle'></i>Get</button>
                    <button id="launch_sections" class="btn btn-success"><i class='fa fa-space-shuttle'></i>Launch Sections</button>
                </div>
                </div>
            </div>
            
        <div class="col-lg-8">
            <div class="panel panel-info">
                <div class="panel-heading">
                    <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Message</h6>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <h6 id="message_from_server"></h6>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-default" id="thumbnail_panel">
                <div class="panel-heading">
                    <h5><i class='fa  fa-twitter'></i>&nbsp;Data Sets</h5>
                </div>
                <div class="panel-body">
                    <div id="dataset_list" style="margin-top: 3px; background: transparent;">
                        <table border="0" style="width: 100%; background: transparent; text-align: left" id="dataset_table">

                            <thead>
                            <tr id="data_set_table_title">
                                <th><font size="3"><b>Description</b></font></th>
                                <th><font size="3"><b>Description</b></font></th>
                                <th><font size="3"><b>Status</b></font></th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    @*                    <button id="get_next_videos" class="btn btn-primary youtube_button"><i class='fa  fa-step-forward fa-fw'></i>&nbsp;Next Videos</button>*@
                    @*                    <span>NOTE: Press screen number to mute/unmute that node</span>*@
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default" id="thumbnail_panel">
                <div class="panel-heading">
                    <h5><i class='fa  fa-pie-chart'></i>&nbsp;Analytics for: <span id="current_dataset_desc"></span></h5>
                </div>
                <div class="panel-body">
                    <div id="analytics_list" style="margin-top: 3px; background: transparent;">
                        <table border="0" style="width: 100%; background: transparent; text-align: left" id="analytics_table">
                            @*                            <col width="30%">*@
                            @*                            <col width="30">*@
                            @*                            <col width="30">*@
                            <thead>
                                <th><font size="3"><b>Classification</b></font></th>
                                <th><font size="3"><b>Type</b></font></th>
                                <th><font size="3"><b>Description</b></font></th>
                                <th><font size="3"><b>Status</b></font></th>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                <button id="display_analytics" class="btn btn-primary"><i class='fa  fa-desktop fa-fw'></i>&nbsp;Next Videos</button>
                    @*                    <span>NOTE: Press screen number to mute/unmute that node</span>*@
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    $("#dataset_table tbody")
        .on('click','tr',function () {
                
                var gdo = parent.gdo;
                gdo.consoleOut('.Twitter', 1, "Selected");
                $(this).addClass("btn-success").siblings().removeClass("btn-success");
                var id = $(this).find('td:first').text();
                var desc = $(this).find('td:nth-child(2)').text();
                gdo.consoleOut('.Twitter',1, "Getting analytics data for data set : " + id + " " + desc);
                gdo.net.app["Twitter"].server.getDataSetAnalytics(gdo.controlId, id);
//                $("iframe").contents().find("#current_dataset_desc").textContent = desc;
                

        });
    $("#analytics_table tbody")
        .on('click', 'tr', function () {

            var gdo = parent.gdo;
            gdo.consoleOut('.Twitter', 1, "Selected");
            $(this).toggleClass('btn-success');
            $(this).toggleClass("selected");
            var id = $(this).find('td:first').text();
            gdo.consoleOut('.Twitter', 1, "Selected : " + id);


        });
    $("#display_analytics")
        .on('click',
            function () {
                var gdo = parent.gdo;
                var selected = [];
                $("#analytics_table tbody tr.selected")
                    .each(function(index, row) {
                        selected.push($(row).find("td:first").html());
                    });
                gdo.consoleOut('.Twitter', 1, "Selected rows: " + selected);
                console.log(selected);
            });

</script>

</body>
</html>