@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        body { color: #FFF; }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: inherit;
            display: block;
        }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0;
            padding: 0;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0;
            display: inline-block;
            position: relative;
            text-align: center;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
<script src="../../Scripts/jquery-2.1.4.min.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="../../Scripts/jquery.csv-0.71.min.js"></script>
<script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
<script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script>
    $(function() {parent.gdo.net.app["Twitter"].initControl();});
</script>

<div class="wrapper" style="width: 97%">
<div class="row">
    <div class="col-lg-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Admin</h6>
            </div>
            <div class="panel-body">
                <button id="get_data" class="btn btn-success"><i class='fa fa-space-shuttle'></i>Get</button>
                <button id="get_cave" class="btn btn-success"><i class='fa fa-space-shuttle'></i>Get Cave</button>
                <button id="debug_b" class="btn btn-success"><i class='fa fa-space-shuttle'></i>Console</button>
            </div>
        </div>
    </div>
    <div class="col-lg-8">
        <div class="panel panel-info">
            <div class="panel-heading">
                <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Message</h6>
            </div>
            <div class="panel-body">
                <fieldset>
                    <h6 id="message_from_server"></h6>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#dataset_control" data-toggle="tab"><i class="fa fa-cube  fa-fw"></i>&nbsp;&nbsp;Data Sets</a>
    </li>
    <li>
        <a href="#app_deployment" data-toggle="tab"><i class="fa fa-cubes fa-fw"></i>&nbsp;&nbsp;App Deployment</a>
    </li>
    <li>
        <a href="#app_control" data-toggle="tab"><i class="fa fa-cubes fa-fw"></i>&nbsp;&nbsp;App Control</a>
    </li>
</ul>
<div class="tab-content" style="height: 90vh">
    <div class="tab-pane fade in active" id="dataset_control" style="height: 84vh;">
        <div class="row">
            <div class="col-lg-6">
                <div class="panel panel-default">
                    <div class="panel-heading">
                        <h5><i class='fa  fa-twitter'></i>&nbsp;Data Sets</h5>
                    </div>
                    <div class="panel-body">
                        <div id="dataset_list" style="margin-top: 3px; background: transparent;">
                            <table style="width: 100%; background: transparent; text-align: left" id="dataset_table">
                                <thead>
                                <tr id="data_set_table_title">
                                    <th><font size="3"><b>Description</b></font></th>
                                    <th><font size="3"><b>Description</b></font></th>
                                    <th><font size="3"><b>Status</b></font></th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                        <button id="get_analytics" class="btn btn-default disabled"><i class='fa  fa-desktop fa-fw'></i>&nbsp;Get Analytics</button>
                    </div>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="panel panel-default" id="thumbnail_panel">
                    <div class="panel-heading">
                        <h5><i class='fa  fa-pie-chart'></i>&nbsp;Analytics Flat</h5>
                    </div>
                    <div class="panel-body">
                        <div id="analytics_list" style="margin-top: 3px; background: transparent;">
                            <table style="width: 100%; background: transparent; text-align: left" id="analytics_table">
                                <thead>
                                <tr>
                                    <th><font size="3"><b>Classification</b></font></th>
                                    <th><font size="3"><b>Type</b></font></th>
                                    <th><font size="3"><b>Description</b></font></th>
                                    <th><font size="3"><b>Status</b></font>
                                    </th>
                                </tr>
                                </thead>
                                <tbody></tbody>
                            </table>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="app_deployment">
        <div class="row">
            <div class="col-lg-3" style="padding: 6px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 style="text-align: left; float: left;"><i class='fa  fa-pie-chart fa-fw'></i>&nbsp; Analytics for: <span id="deployTabDescription_1"></span></h6>
                        <hr style="clear: both; border: 0"/>
                    </div>
                    <div class="panel-body" style="height: 15.5vh;">
                        <div class="list-group list-group-root" id="analytics_deploy_list_1">
                            <a href="#items_analytics_1" class="list-group-item" data-toggle="collapse">
                                <i class="fa fa-chevron-down fa-fw"></i>Analytics
                            </a>
                            <ul class="list-group collapse in" id="items_analytics_1"></ul>
                            <a href="#items_graphs_1" class="list-group-item" data-toggle="collapse">
                                <i class="fa fa-chevron-down fa-fw"></i>Graphs
                            </a>
                            <ul class="list-group collapse in" id="items_graphs_1"></ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="padding: 6px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 style="text-align: left; float: left;"><i class='fa  fa-pie-chart fa-fw'></i>&nbsp; Analytics for: <span id="deployTabDescription_2"></span></h6>
                        <hr style="clear: both; border: 0"/>
                    </div>
                    <div class="panel-body" style="height: 15.5vh;">
                        <div class="list-group list-group-root" id="analytics_deploy_list_2">
                            <a href="#items_analytics_2" class="list-group-item" data-toggle="collapse">
                                <i class="fa fa-chevron-down fa-fw"></i>Analytics
                            </a>
                            <ul class="list-group collapse in" id="items_analytics_2"></ul>
                            <a href="#items_graphs_2" class="list-group-item" data-toggle="collapse">
                                <i class="fa fa-chevron-down fa-fw"></i>Graphs
                            </a>
                            <ul class="list-group collapse in" id="items_graphs_2"></ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
            <div class="col-lg-3" style="padding: 6px;">
                <div class="panel panel-primary">
                    <div class="panel-heading">
                        <h6 style="text-align: left; float: left;"><i class='fa  fa-pie-chart fa-fw'></i>&nbsp; Analytics for: <span id="deployTabDescription_3"></span></h6>
                        <hr style="clear: both; border: 0"/>
                    </div>
                    <div class="panel-body" style="height: 15.5vh;">
                        <div class="list-group list-group-root" id="analytics_deploy_list_3">
                            <a href="#items_analytics_3" class="list-group-item" data-toggle="collapse">
                                <i class="fa fa-chevron-down fa-fw"></i>Analytics
                            </a>
                            <ul class="list-group collapse in" id="items_analytics_3"></ul>
                            <a href="#items_graphs_3" class="list-group-item" data-toggle="collapse">
                                <i class="fa fa-chevron-down fa-fw"></i>Graphs
                            </a>
                            <ul class="list-group collapse in" id="items_graphs_3"></ul>
                        </div>
                    </div>
                    <div class="panel-footer">
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-12">
                <table id="section_table" unselectable="on" class="unselectable" style="table-layout: fixed; padding: 2px; width: 99.5%; height: 28vh; border-collapse: separate; border-spacing: 2px;"></table>
                <div id="section_table_space">
                    <br>
                </div>
                <div id="button_table" unselectable="on" class="unselectable" style="width: 99.5%; padding: 3px;">
                    <div class="col-lg-1 select_section_div"></div>
                    <div class="col-lg-1 create_section_button_div"></div>
                    <div class="col-lg-1 close_section_button_div"></div>
                    <div class="col-lg-1 load_vis_button_div"></div>
                    <div class="col-lg-1 un_load_vis_button_div"></div>
                    <div class="col-lg-1 deploy_app_button_div"></div>
                    <div class="col-lg-1 close_app_button_div"></div>
                    <div class="col-lg-1 deploy_all_app_button_div"></div>
                    <div class="col-lg-1 clear_cave_button_div"></div>
                </div>
                <div class="modal fade" id="confirm-clear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h5><i align="center" class='fa  fa-times  fa-fw'></i>&nbsp;<font color="white">Clear Sub Sections</font></h5>
                            </div>
                            <div class="modal-body">
                                Are you sure you want to close all app instances and sections associated with this Twitter App?
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                <button type="button" data-dismiss="modal" class="clear_confirm_button btn btn-danger btn-ok">Confirm</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="tab-pane fade" id="app_control">
        App control
    </div>
</div>
</div>

<script>
    var gdo = parent.gdo;
    gdo.net.app["Twitter"].drawSectionTable = function(instanceId) {
        
       gdo.net.app["Twitter"].drawEmptySectionTable(gdo.net.cols, gdo.net.rows + 1);

        for (var i = 1; i <= gdo.net.cols * gdo.net.rows; i++) {
            var node = gdo.net.instance[instanceId].caveStatus.nodes[i];
            if (node.nodeContext === gdo.net.app["Twitter"].NodeContext.RESERVED) {
                //Node is assigned to another app
                continue;
            } else if (node.nodeContext === gdo.net.app["Twitter"].NodeContext.ROOT_SECTION) {
                //Node is part of the root section
                $("#section_table_row_" + node.row).css("height", "7vh").css('overflow', 'hidden');
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .css("vertical-align", "top")
                    .append("<div id='section_table_node_" +
                        node.id +
                        "_i' style='text-align:center;background:#444;'> <font size='4px'><b>" +
                        node.id +
                        "</b></font></div>")
                    .append("</br>")
                    .append("<b>&nbsp;Col:</b> " + node.col + " | <b>Row:</b> " + node.row)
                    .css("width", (gdo.net.app["Twitter"].uiProperties.table_width / gdo.net.cols) + "%")
                    .css("border", "1px solid #333")
                    .css('overflow', 'hidden')
                    .css("background", "#FF0000")
                    .css({ fontSize: gdo.net.app["Twitter"].uiProperties.section_font_size })
                    .css('padding', 0);
                continue;
            }

            var sectionId = node.sectionId;
            $("#section_table_row_" + gdo.net.rows).css("height", 0);
            if (sectionId === 0) {
                $("#section_table_row_" + node.row).css("height", "7vh").css('overflow', 'hidden');
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .css("vertical-align", "top")
                    .append("<div id='section_table_node_" +
                        node.id +
                        "_i' style='text-align:center;background:#444;'> <font size='4px'><b>" +
                        node.id +
                        "</b></font></div>")
                    .append("</br>")
                    .append("<b>&nbsp;Col:</b> " + node.col + " | <b>Row:</b> " + node.row)
                    .css("width", (gdo.net.app["Twitter"].uiProperties.table_width / gdo.net.cols) + "%")
                    .css("border", "1px solid #333")
                    .css('overflow', 'hidden')
                    .css("background", "#222")
                    .css({ fontSize: gdo.net.app["Twitter"].uiProperties.section_font_size })
                    .css('padding', 0)
                    .click(function() {
                        var id = gdo.net.getNodeId($(this).attr('col'), $(this).attr('row'));
                        if (gdo.net.instance[instanceId].caveStatus.nodes[id].isSelected) {
                            gdo.net.instance[instanceId].caveStatus.nodes[id].isSelected = false;
                        } else {
                            gdo.net.instance[instanceId].control.selectedSection = -1;
                            gdo.net.instance[instanceId].caveStatus.nodes[id].isSelected = true;
                        }
                        gdo.net.app["Twitter"].updateDisplayCanvas(instanceId);
                    });

            } else if ((node.sectionCol === 0 && node.sectionRow === 0) && node.sectionId > 0) {
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .attr('colspan', gdo.net.instance[instanceId].caveStatus.sections[sectionId].cols)
                    .attr('rowspan', gdo.net.instance[instanceId].caveStatus.sections[sectionId].rows)
                    .css("width",
                        ((gdo.net.app["Twitter"].uiProperties.table_width / gdo.net.cols) *
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].cols) +
                        "%")
                    .css("border", "1px solid #2A9FD6")
                    .css("background", "#087DB4")
                    .css('padding', 0)
                    .css('overflow', 'hidden')
                    .css("vertical-align", "top")
                    .append("<div id='section_table_section_" +
                        sectionId +
                        "_i' style='text-align:center;background:#2A9FD6'> <font size='4px'><b> S" +
                        sectionId +
                        "</b></font></div>")
                    .append("<div style='height:5px'></div>");
                //Prepared
                if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.id != null) {
                    $("#section_table_row_" + node.row + "_col_" + node.col)
                        .append("</br>")
                        .css('overflow', 'hidden')
                        .append("<div id='section_table_section_" +
                            sectionId +
                            "_a'> <b>&nbsp;Vis Class:</b> " +
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.twitterVisType +
                            "</div>")
                        .append("<div id='section_table_section_" +
                            sectionId +
                            "_c'> <b>&nbsp;Vis Type:</b> " +
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.twitterVisSubType +
                            "</div>")
                        .css('overflow', 'hidden')
                        .css("background", "#a7a100");
                    $("#section_table_section_" + sectionId + "_i").css("background", "#b8b100");
                    $("#section_table_row_" + node.row + "_col_" + node.col).css("border", "1px solid #b8b100");
                }
                //Deployed
                if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId >= 0) {
                    $("#section_table_section_" + sectionId + "_i")
                        .empty()
                        .append("<font size='4px'><b> S" +
                            sectionId +
                            ", I" +
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId +
                            "</b></font>");
                    $("#section_table_row_" + node.row + "_col_" + node.col)
                        .append("</br>")
                        .css('overflow', 'hidden')
                        .append("<div id='section_table_section_" +
                            sectionId +
                            "_a'> <b>&nbsp;App:</b> " +
                            gdo.net.instance[gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId]
                            .appName +
                            "</div>")
                        .append("<div id='section_table_section_" +
                            sectionId +
                            "_c'> <b>&nbsp;Config:</b> " +
                            gdo.net.instance[gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId]
                            .configName +
                            "</div>")
                        .css('overflow', 'hidden')
                        .css("background", "#559100");
                    $("#section_table_section_" + sectionId + "_i").css("background", "#77B300");
                    $("#section_table_row_" + node.row + "_col_" + node.col).css("border", "1px solid #77B300");
                }
                $("#section_table_row_" + node.row + "_col_" + node.col).click(function() {
                        var id = gdo.net.instance[instanceId].caveStatus.nodes[gdo.net
                            .getNodeId($(this).attr('col'), $(this).attr('row'))].sectionId;
                        if (gdo.net.instance[instanceId].control.selectedSection === id) {
                            gdo.net.instance[instanceId].control.selectedSection = -1;
                        } else {
                            for (var i = 1; i <= gdo.net.cols * gdo.net.rows; i++) {
                                gdo.net.instance[instanceId].caveStatus.nodes[i].isSelected = false;
                            }
                            gdo.net.instance[instanceId].control.selectedSection = id;
                        }
                        gdo.net.app["Twitter"].updateDisplayCanvas(instanceId);
                    });
                
                if (gdo.net.instance[instanceId].control.selectedSection === sectionId) {
                    if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId >= 0) {
                        $("#section_table_row_" + node.row + "_col_" + node.col)
                            .css("background-color", "#77B300")
                            .css("border", "1px solid #99D522");
                        $("#section_table_section_" + sectionId + "_i").css("background", "#99D522");
                    } else if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId < 0 &&
                        gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.id != null) {
                        $("#section_table_row_" + node.row + "_col_" + node.col)
                            .css("background-color", "#b8b100")
                            .css("border", "1px solid #d2ca02");
                        $("#section_table_section_" + sectionId + "_i").css("background", "#d2ca02");
                    }
                    else {
                        $("#section_table_row_" + node.row + "_col_" + node.col)
                            .css("background-color", "#2A9FD6")
                            .css("border", "1px solid #4CBFF8");
                        $("#section_table_section_" + sectionId + "_i").css("background", "#4CBFF8");
                    }
                }
              
            } else if ((node.sectionCol !== 0 || node.sectionRow !== 0) && node.sectionId > 0) {
                $("#section_table_row_" + node.row + "_col_" + node.col).hide();
            }
            if (node.isSelected) {
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .css("background-color", "#333")
                    .css("border", "1px solid #555");
                $("#section_table_node_" + node.id + "_i").css("background-color", "#555");
            }
        }
    }

    $("#dataset_table tbody")
        .on('click',
            'tr',
            function () {
                var gdo = parent.gdo;
                var id = $(this).find('td:first').text();
                var desc = $(this).find('td:nth-child(2)').text();

                var arrayPos = gdo.net.instance[gdo.controlId].control.selectedDataSets.indexOf(id);
                if (arrayPos >= 0) {
                    gdo.consoleOut('.Twitter', 1, "Removing dataset " + desc);
                    gdo.net.instance[gdo.controlId].control.selectedDataSets.splice(arrayPos,1);
                    $(this).removeClass("btn-success");
                    if (gdo.net.instance[gdo.controlId].control.selectedDataSets.length === 0) {
                        $("#get_analytics").addClass("disabled").addClass("btn-default").removeClass("btn-success");
                    }
                } else if (gdo.net.instance[gdo.controlId].control.selectedDataSets.length < 3) {
                    gdo.consoleOut('.Twitter', 1, "Adding dataset " + desc);
                    gdo.net.instance[gdo.controlId].control.selectedDataSets.push(id);
                    $(this).addClass("btn-success");
                    if (gdo.net.instance[gdo.controlId].control.selectedDataSets.length === 1) {
                        $("#get_analytics").addClass("btn-success").removeClass("disabled").removeClass("btn-default");
                    }
                } else {
                    gdo.net.app["Twitter"].setMessage("Trying to selected more than 3 data sets");
                }
                
            });

    $("#get_analytics").on('click',function() {
        if (gdo.net.instance[gdo.controlId].control.selectedDataSets.length > 0) {
            parent.gdo.net.app["Twitter"].requestAnalytics(gdo.net.instance[gdo.controlId].control.selectedDataSets);
        }
    });
    $("#get_data").on("click", function () {
        parent.gdo.net.app["Twitter"].requestDataSets();
    });
    $("#debug_b").on("click", function () {
        console.log(gdo.net.instance[gdo.controlId]);
        console.log(gdo.net.app["Twitter"]);
    });
    $("#get_cave").on("click", function () { 
        parent.gdo.net.app["Twitter"].getPseudoCaveStatus(gdo.controlId);
    });
</script>
</body>
</html>
