@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        body { color: #FFF; }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: inherit;
            display: block;
        }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0;
            padding: 0;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0;
            display: inline-block;
            position: relative;
            text-align: center;
        }
                .color_field {
            width: 40px;
            height: 40px;
            background: transparent;
            padding: 0;
            border: 0;
            display: inline-block;
            position: relative;
            text-align: center;
        }
    @*        #section_table_control {*@
        @*            width:90%;*@
        @*        }*@
        @*        .section_control_table_row_class {*@
        @*            width:30%;*@
        @*            position:relative;*@
        @*        }*@
        @*        .section_control_table_row_class:after{*@
        @*            content:'';*@
        @*            display:block;*@
        @*            margin-top:100%;*@
        @*        }*@
    </style>
</head>
<body unselectable="on" class="unselectable">
<script src="../../Scripts/jquery-2.1.4.min.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
<script src="../../Scripts/jquery.csv-0.71.min.js"></script>
<script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
<script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script>
    $(function() { parent.gdo.net.app["Twitter"].initControl(); });
</script>

<div class="wrapper" style="width: 97%">
<div class="row">
    <div class="col-lg-3">
        <div id="admin-panel" class="panel panel-danger">
            <div class="panel-heading">
                <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Admin</h6>
            </div>
            <div class="panel-body">
                <div class="btn-group">
                    <button id="refresh" class="btn btn-success"><i class='fa fa-refresh'></i>&nbsp; Refresh</button>
                    <button id="debug_b" class="btn btn-success"><i class='fa fa-television'></i>&nbsp; PrintState</button>
                    <button id="redownload" class="btn btn-danger"><i class='fa fa-download '></i>&nbsp; Redownload</button>
                </div>
            </div>
        </div>
    </div>
    <div class="col-lg-3">
        <div id="status-panel" class="panel panel-danger">
            <div class="panel-heading">
                <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Twitter API Status</h6>
            </div>
            <div class="panel-body">
                <fieldset>
                    <h6 id="message_from_api_server"></h6>
                </fieldset>
            </div>
        </div>
    </div>
    <div class="col-lg-6">
        <div id="message_panel" class="panel panel-danger">
            <div class="panel-heading">
                <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Message</h6>
            </div>
            <div class="panel-body">
                <fieldset>
                    <h6 id="message_from_server"></h6>
                </fieldset>
            </div>
        </div>
    </div>
</div>
<ul class="nav nav-tabs">
    <li class="active">
        <a href="#dataset_control" data-toggle="tab"><i class="fa fa-cube  fa-fw"></i>&nbsp;&nbsp;Data Sets</a>
    </li>
    <li>
        <a href="#app_deployment" data-toggle="tab"><i class="fa fa-cubes fa-fw"></i>&nbsp;&nbsp;App Deployment</a>
    </li>
    <li>
        <a href="#app_control" data-toggle="tab"><i class="fa fa-cubes fa-fw"></i>&nbsp;&nbsp;Graph App Control</a>
    </li>
    <li>
        <a href="#chart_control" data-toggle="tab"><i class="fa fa-cubes fa-fw"></i>&nbsp;&nbsp;Control</a>
    </li>
</ul>
<div class="tab-content" style="height: 90vh">
<div class="tab-pane fade in active" id="dataset_control" style="height: 84vh;">
    <div class="row">
        <div class="col-lg-11">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class='fa  fa-twitter'></i>&nbsp;Data Sets</h5>
                </div>
                <div class="panel-body">
                    <div id="dataset_list" style="margin-top: 3px; background: transparent;">
                        <table style="width: 100%; background: transparent; text-align: left" id="dataset_table">
                            <thead>
                            <tr id="data_set_table_title">
                                <th>
                                    <font size="3">
                                        <b>Id</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Description</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Status</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Size</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Type</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Start</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>End</b>
                                    </font>
                                </th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <button id="get_analytics" class="btn btn-default disabled"><i class='fa  fa-desktop fa-fw'></i>&nbsp;Get Analytics</button>
                </div>
            </div>


        </div>
        <div class="col-lg-1" style="height: 100%">
            <div class="panel panel-primary">
                <div class="panel-heading">
                </div>
                <div class="panel-body">
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-6">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h5><i class='fa  fa-twitter'></i>&nbsp;Analytics Options</h5>
                </div>
                <div class="panel-body">
                    <div id="analytics_options_list" style="margin-top: 3px; background: transparent;">
                        <table style="width: 100%; background: transparent; text-align: left" id="analytics_options_table">
                            <thead>
                            <tr id="analytics_options_table_title">
                                <th>
                                    <font size="3">
                                        <b>Classification</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Type</b>
                                    </font>
                                </th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                    <button id="order_analytics" class="btn btn-default disabled"><i class='fa  fa-desktop fa-fw'></i>&nbsp;Order Analytics</button>
                </div>
            </div>
        </div>
        <div class="col-lg-6">
            <div class="panel panel-default" id="thumbnail_panel">
                <div class="panel-heading">
                    <h5><i class='fa  fa-pie-chart'></i>&nbsp;Analytics History</h5>
                </div>
                <div class="panel-body">
                    <div id="analytics_list" style="margin-top: 3px; background: transparent;">
                        <table style="width: 100%; background: transparent; text-align: left" id="analytics_table">
                            <thead>
                            <tr>
                                <th>
                                    <font size="3">
                                        <b>Classification</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Type</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Description</b>
                                    </font>
                                </th>
                                <th>
                                    <font size="3">
                                        <b>Status</b>
                                    </font>
                                </th>
                            </tr>
                            </thead>
                            <tbody></tbody>
                        </table>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="app_deployment">
    <div class="row">
        <div class="col-lg-6" style="padding: 6px;">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6 style="text-align: left; float: left;"><i class='fa  fa-pie-chart fa-fw'></i>&nbsp; Analytics for: <span id="deployTabDescription_1"></span></h6>
                    <hr style="clear: both; border: 0"/>
                </div>
                <div style="overflow: auto; height: 300px">
                    <div class="panel-body" style="height: 15.5vh;">
                        <div class="list-group list-group-root" id="analytics_deploy_list_1">
@*                            <a href="#items_analytics_1" class="list-group-item" data-toggle="collapse">*@
@*                                <i class="fa fa-chevron-down fa-fw"></i>Analytics*@
@*                            </a>*@
@*                            <ul class="list-group collapse in" id="items_analytics_1"></ul>*@
@*                            <a href="#items_graphs_1" class="list-group-item" data-toggle="collapse">*@
@*                                <i class="fa fa-chevron-down fa-fw"></i>Graphs*@
@*                            </a>*@
@*                            <ul class="list-group collapse in" id="items_graphs_1"></ul>*@
                        </div>
                    </div>
                </div>
                <div class="panel-footer">
                </div>
            </div>
        </div>
        <div class="col-lg-6" style="padding: 6px;">
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <button id="allocate" class="btn btn-success"><i class='fa fa-space-shuttle'></i>&nbsp; AutoLaunch Charts 2x2</button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6 style="text-align: left; float: left;"><i class='fa  fa-pie-chart fa-fw'></i>&nbsp; Slides</h6>
                            <hr style="clear: both; border: 0" />
                        </div>
                        <div style="overflow: auto; height: 190px">
                            <div class="panel-body" style="height: 15.5vh;">
                                <table style="width: 100%; background: transparent; text-align: left" id="slide_table">
                                    <thead>
                                        <tr id="slide_table_table_title">
                                            <th>
                                                <font size="3">
                                                    <b>Id</b>
                                                </font>
                                            </th>
                                            <th>
                                                <font size="3">
                                                    <b>Description</b>
                                                </font>
                                            </th>
                                            <th>
                                                <font size="3">
                                                    <b>Number of Sections</b>
                                                </font>
                                            </th>
                                        </tr>
                                    </thead>
                                    <tbody></tbody>
                                </table>
                            </div>
                        </div>
                        <div class="panel-footer">
                            <button id="launch_slide" class="btn btn-success disabled"><i class='fa fa-space-shuttle'></i>&nbsp; Launch Slide</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-lg-12">
            <table id="section_table" unselectable="on" class="unselectable" style="table-layout: fixed; padding: 2px; width: 99.5%; height: 28vh; border-collapse: separate; border-spacing: 2px;"></table>
            <div id="section_table_space">
                <br>
            </div>
            <div id="button_table" unselectable="on" class="unselectable" style="width: 99.5%; padding: 3px;">
                <div class="col-lg-1 select_section_div"></div>
                <div class="col-lg-1 create_section_button_div"></div>
                <div class="col-lg-1 close_section_button_div"></div>
                <div class="col-lg-1 load_vis_button_div"></div>
                <div class="col-lg-1 un_load_vis_button_div"></div>
                <div class="col-lg-1 deploy_app_button_div"></div>
                <div class="col-lg-1 close_app_button_div"></div>
                <div class="col-lg-1 deploy_all_app_button_div"></div>
                <div class="col-lg-1 clear_cave_button_div"></div>
            </div>
            <div class="modal fade" id="confirm-clear" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                <div class="modal-dialog">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5><i align="center" class='fa  fa-times  fa-fw'></i>&nbsp;<font color="white">Clear Sub Sections</font></h5>
                        </div>
                        <div class="modal-body">
                            Are you sure you want to close all app instances and sections associated with this Twitter App?
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                            <button type="button" data-dismiss="modal" class="clear_confirm_button btn btn-danger btn-ok">Confirm</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="app_control">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6><i class='fa  fa-question-circle fa-fw'></i>&nbsp;Select Graph Apps</h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table id="section_table_control" unselectable="on" class="unselectable" style="table-layout: fixed; padding: 2px; width: 99.5%; height: 28vh; border-collapse: separate; border-spacing: 2px;"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6><i class='fa  fa-pie-chart fa-fw'></i>&nbsp; Controlling: <span id="graph_control_description"></span></h6>
                </div>
                <div class="panel-body">
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div>
                                            <button class='btn btn-default FLAG_ON' id="toggle_links"><i class='fa  fa-link  fa-fw'></i>&nbsp;Hide Links</button>
                                        </div>
                                        <div>
                                            <span><button class='btn btn-default FLAG_OFF' id="toggle_labels"><i class='fa  fa-tag  fa-fw'></i>&nbsp;Show</button></span>
                                            <span><select id="gc_select_label" style="width: 30%" required class="input_field"></select></span>
                                            <span>&nbsp;as labels&nbsp;</span>
                                            <span>
                                                <input type="color" id="color_Labels" value="#ff0000" class="color_field">
                                            </span>
                                        </div>
                                        <div>
                                            <span><button class='btn btn-default FLAG_ON' id="toggle_nodeSize"><i class='fa  fa-circle  fa-fw'></i>&nbsp;Same size</button></span>
                                            <span>&nbsp;Default size: &nbsp;</span>
                                            <span><input size="2" style="width: 10%" class="input_field" type="text" id="allNodeSize" value="3" /></span>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-6">
                                    <div class="row">
                                        <div>
                                            <span>
                                                <button class='btn btn-default' id="show_mostConnectedNodes">Highlight</button>
                                            </span>
                                            <span>
                                                <input type="color" id="color_mostConnectedNodes" value="#ffff00" class="color_field">
                                            </span>
                                            <span>
                                                &nbsp;nodes with more than&nbsp;
                                            </span>
                                            <span>
                                                <input class="input_field" style="width: 10%" size="4" type="text" id="numLinks" value="5" />
                                            </span>
                                            <span>
                                                &nbsp;links
                                            </span>
                                        </div>
                                        <div>
                                            <span>
                                                <button class='btn btn-default' id="toggle_mostConnectedLabels"><i class='fa  fa-tag  fa-fw'></i>&nbsp;Show</button>
                                            </span>
                                            <span>
                                                <select id="gc_select_mostConnectedLabels" style="width: 30%" required class="input_field"></select>
                                            </span>
                                            <span>
                                                &nbsp;as labels&nbsp;
                                            </span>
                                            <span>
                                                <input type="color" id="color_mostConnectedLabels" value="#ff0000" class="color_field">
                                            </span>
                                        </div>
                                        <div>
                                            <button class='btn btn-default' id="hide_mostConnected">Hide all</button>
                                        </div>
                                    </div>
                                    <br/>
                                </div>
                            </div>
                            <div class="row">
                                @*                                <div style="border-collapse: separate; border-spacing: 1px;">*@
                                <div>
                                    <span>
                                            <button class='btn btn-default' id="startSearch">Search</button>
                                        </span>
                                    <span>
                                            <input class="input_field" style="width: 60%" size="60" type="text" id="searchKeywords" />
                                        </span>
                                    <span>&nbsp;in&nbsp;</span>
                                    <span>
                                            <select id="gc_select_SearchFields" style="width: 20%" required class="input_field"></select>
                                        </span>
                                </div>
                                <div>
                                    <span>
                                            <button class='btn btn-default' id="toggle_searchLabels"><i class='fa  fa-tag  fa-fw'></i>&nbsp;Show</button>
                                        </span>
                                    <span>
                                            <select id="gc_select_SearchLabels" style="width: 30%" required class="input_field"></select>
                                        </span>
                                    <span>&nbsp;as labels&nbsp;</span>
                                </div>
                                <div>
                                    <span>
                                            <button class='btn btn-default' id="hide_sublinks">Hide links</button>
                                        </span>
                                    <span>
                                            <button class='btn btn-default' id="hide_search">Hide all</button>
                                        </span>  
                                </div>


                            </div>
                        </div>
                    </div>
                    <div class="panel panel-primary">
                        <div class="panel-body">
                            <div class="row">
                                <div>
                                    <span>
                                        <button class='btn btn-default' id="searchUser">Find User</button>
                                    </span>
                                    <span>
                                        <input class="input_field" style="width: 60%" size="60" type="text" id="userKeyword" />
                                    </span>
                                </div>
                                <div>
                                    <span>
                                        <button class='btn btn-default' id="searchTweets">Find Tweet Containing</button>
                                    </span>
                                    <span>
                                        <input class="input_field" style="width: 60%" size="60" type="text" id="tweetKeyword" />
                                    </span> 
                                </div>
                                <div>
                                    <span>
                                        <button class='btn btn-default FLAG_OFF' id="showTimeNodes">Show Time Nodes</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="tab-pane fade" id="chart_control">
    <div class="row">
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6><i class='fa  fa-pie-chart fa-fw'></i>&nbsp; Controlling: <span id="app_control_description"></span></h6>
                </div>
                <div class="panel-body">
                    <div class="row">
                        <table id="app_control_table" unselectable="on" class="unselectable" style="table-layout: fixed; padding: 2px; width: 99.5%; height: 28vh; border-collapse: separate; border-spacing: 2px;"></table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-8">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    App Control
                </div>
                <div class="panel-body">
                    <div id="wrapper" style="position: relative; border: 0 none; display: block; width: 770px; height: 460px; background: white; overflow: hidden">
                        <iframe id="app_control_frame" src="" allowtransparency="true" frameborder="0" style="transform: scale(0.5) translateX(-310px) translateY(-90px); transform-origin: 0px 0px; position: absolute; border: 0 none; display: block; width: 1920px; height: 1080px"></iframe>
                    </div>
                </div>
            </div>
            
        </div>
    </div>
</div>
</div>
</div>

<script>
    var gdo = parent.gdo;
    gdo.net.app["Twitter"].drawSectionTable = function(instanceId) {
        gdo.net.app["Twitter"].drawEmptySectionTable(gdo.net.cols, gdo.net.rows + 1);

        for (var i = 1; i <= gdo.net.cols * gdo.net.rows; i++) {
            var node = gdo.net.instance[instanceId].caveStatus.nodes[i];
            if (node.nodeContext === gdo.net.app["Twitter"].NodeContext.RESERVED) {
                //Node is assigned to another app
                continue;
            } else if (node.nodeContext === gdo.net.app["Twitter"].NodeContext.ROOT_SECTION) {
                //Node is part of the root section
                $("#section_table_row_" + node.row).css("height", "7vh").css('overflow', 'hidden');
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .css("vertical-align", "top")
                    .append("<div id='section_table_node_" +
                        node.id +
                        "_i' style='text-align:center;background:#740202;'> <font size='4px'><b>" +
                        node.id +
                        "</b></font></div>")
                    .append("</br>")
                    .append("<b>&nbsp;Col:</b> " + node.col + " | <b>Row:</b> " + node.row)
                    .css("width", (gdo.net.app["Twitter"].uiProperties.table_width / gdo.net.cols) + "%")
                    .css("border", "1px solid #8c0606")
                    .css('overflow', 'hidden')
                    .css("background", "#c70000")
                    .css({ fontSize: gdo.net.app["Twitter"].uiProperties.section_font_size })
                    .css('padding', 0);
                continue;
            }

            var sectionId = node.sectionId;
            $("#section_table_row_" + gdo.net.rows).css("height", 0);
            if (sectionId === 0) {
                $("#section_table_row_" + node.row).css("height", "7vh").css('overflow', 'hidden');
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .css("vertical-align", "top")
                    .append("<div id='section_table_node_" +
                        node.id +
                        "_i' style='text-align:center;background:#444;'> <font size='4px'><b>" +
                        node.id +
                        "</b></font></div>")
                    .append("</br>")
                    .append("<b>&nbsp;Col:</b> " + node.col + " | <b>Row:</b> " + node.row)
                    .css("width", (gdo.net.app["Twitter"].uiProperties.table_width / gdo.net.cols) + "%")
                    .css("border", "1px solid #333")
                    .css('overflow', 'hidden')
                    .css("background", "#222")
                    .css({ fontSize: gdo.net.app["Twitter"].uiProperties.section_font_size })
                    .css('padding', 0)
                    .click(function() {
                        var id = gdo.net.getNodeId($(this).attr('col'), $(this).attr('row'));
                        if (gdo.net.instance[instanceId].caveStatus.nodes[id].isSelected) {
                            gdo.net.instance[instanceId].caveStatus.nodes[id].isSelected = false;
                        } else {
                            gdo.net.instance[instanceId].control.selectedSection = -1;
                            gdo.net.instance[instanceId].caveStatus.nodes[id].isSelected = true;
                        }
                        gdo.net.app["Twitter"].updateDisplayCanvas(instanceId);
                    });

            } else if ((node.sectionCol === 0 && node.sectionRow === 0) && node.sectionId > 0) {
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .attr('colspan', gdo.net.instance[instanceId].caveStatus.sections[sectionId].cols)
                    .attr('rowspan', gdo.net.instance[instanceId].caveStatus.sections[sectionId].rows)
                    .css("width",
                        ((gdo.net.app["Twitter"].uiProperties.table_width / gdo.net.cols) *
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].cols) +
                        "%")
                    .css("border", "1px solid #2A9FD6")
                    .css("background", "#087DB4")
                    .css('padding', 0)
                    .css('overflow', 'hidden')
                    .css("vertical-align", "top")
                    .append("<div id='section_table_section_" +
                        sectionId +
                        "_i' style='text-align:center;background:#2A9FD6'> <font size='4px'><b> S" +
                        sectionId +
                        "</b></font></div>")
                    .append("<div style='height:5px'></div>");
                //Prepared
                if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.id != null) {
                    $("#section_table_row_" + node.row + "_col_" + node.col)
                        .css('overflow', 'hidden')
                        .append("<div id='section_table_section_" +
                            sectionId +
                            "_c'> <b>&nbsp;Vis Type:</b> " +
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.twitterVisSubType +
                            "</div>")
                        .css('overflow', 'hidden')
                        .css("background", "#a7a100")
                        .append("<div id='section_table_section_" +
                            sectionId +
                            "_c'> <b>&nbsp;File Path:</b> " +
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.filePath +
                            "</div>")
                        .css('overflow', 'hidden')
                        .css("background", "#a7a100");

                    $("#section_table_section_" + sectionId + "_i").css("background", "#b8b100");
                    $("#section_table_row_" + node.row + "_col_" + node.col).css("border", "1px solid #b8b100");
                }
                //Deployed
                if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId >= 0) {
                    $("#section_table_section_" + sectionId + "_i")
                        .empty()
                        .append("<font size='4px'><b> S" +
                            sectionId +
                            ", I" +
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId +
                            "</b></font>");
                    $("#section_table_row_" + node.row + "_col_" + node.col)
                        .css('overflow', 'hidden')
                        .append("<div id='section_table_section_" +
                            sectionId +
                            "_a'> <b>&nbsp;App:</b> " +
                            gdo.net.instance[gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId]
                            .appName +
                            "</div>")
                        .css('overflow', 'hidden')
                        .css("background", "#559100");
                    $("#section_table_section_" + sectionId + "_i").css("background", "#77B300");
                    $("#section_table_row_" + node.row + "_col_" + node.col).css("border", "1px solid #77B300");
                }
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .click(function() {
                        var id = gdo.net.instance[instanceId].caveStatus.nodes[gdo.net
                            .getNodeId($(this).attr('col'), $(this).attr('row'))].sectionId;
                        if (gdo.net.instance[instanceId].control.selectedSection === id) {
                            gdo.net.instance[instanceId].control.selectedSection = -1;
                        } else {
                            for (var i = 1; i <= gdo.net.cols * gdo.net.rows; i++) {
                                gdo.net.instance[instanceId].caveStatus.nodes[i].isSelected = false;
                            }
                            gdo.net.instance[instanceId].control.selectedSection = id;
                        }
                        gdo.net.app["Twitter"].updateDisplayCanvas(instanceId);
                    });

                if (gdo.net.instance[instanceId].control.selectedSection === sectionId) {
                    if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId >= 0) {
                        $("#section_table_row_" + node.row + "_col_" + node.col)
                            .css("background-color", "#77B300")
                            .css("border", "1px solid #99D522");
                        $("#section_table_section_" + sectionId + "_i").css("background", "#99D522");
                    } else if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId < 0 &&
                        gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.id != null) {
                        $("#section_table_row_" + node.row + "_col_" + node.col)
                            .css("background-color", "#b8b100")
                            .css("border", "1px solid #d2ca02");
                        $("#section_table_section_" + sectionId + "_i").css("background", "#d2ca02");
                    } else {
                        $("#section_table_row_" + node.row + "_col_" + node.col)
                            .css("background-color", "#2A9FD6")
                            .css("border", "1px solid #4CBFF8");
                        $("#section_table_section_" + sectionId + "_i").css("background", "#4CBFF8");
                    }
                }

            } else if ((node.sectionCol !== 0 || node.sectionRow !== 0) && node.sectionId > 0) {
                $("#section_table_row_" + node.row + "_col_" + node.col).hide();
            }
            if (node.isSelected) {
                $("#section_table_row_" + node.row + "_col_" + node.col)
                    .css("background-color", "#333")
                    .css("border", "1px solid #555");
                $("#section_table_node_" + node.id + "_i").css("background-color", "#555");
            }
        }
    }

    gdo.net.app["Twitter"].drawSectionControlTable = function (instanceId) {
        gdo.net.app["Twitter"].drawEmptySectionControlTable(gdo.net.cols, gdo.net.rows);
        $("#graph_control_description").html(gdo.net.instance[instanceId].control.selectedGraphApps.join(", "));

        for (var i = 1; i <= gdo.net.cols * gdo.net.rows; i++) {
            var node = gdo.net.instance[instanceId].caveStatus.nodes[i];
            if (node.nodeContext === gdo.net.app["Twitter"].NodeContext.RESERVED) {
                //Node is assigned to another app
                continue;
            } else if (node.nodeContext === gdo.net.app["Twitter"].NodeContext.ROOT_SECTION) {
                //Node is part of the root section
                $("#section_control_table_row_" + node.row).css("height", "7vh").css('overflow', 'hidden');
                $("#section_control_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .css("vertical-align", "top")
                    .append("<div id='section_control_table_node_" +
                        node.id +
                        "_i' style='text-align:center;background:#740202;'> <font size='4px'><b>" +
                        node.id +
                        "</b></font></div>")
                    .append("</br>")
                    .css("border", "1px solid #8c0606")
                    .css('overflow', 'hidden')
                    .css("background", "#c70000")
                    .css('padding', 0);
                continue;
            }
            var sectionId = node.sectionId;
            $("#section_control_table_row_" + gdo.net.rows).css("height", 0);
            if (sectionId === 0) {
                $("#section_control_table_row_" + node.row).css("height", "7vh").css('overflow', 'hidden');
                $("#section_control_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .css("vertical-align", "top")
                    .append("<div id='section_control_table_node_" +
                        node.id +
                        "_i' style='text-align:center;background:#444;'> <font size='4px'><b>" +
                        node.id +
                        "</b></font></div>")
                    .append("</br>")
                    .css("border", "1px solid #333")
                    .css("background", "#222")
                    .css('padding', 0)
                    .click(function () {
                    });

            } else if ((node.sectionCol === 0 && node.sectionRow === 0) && node.sectionId > 0) {
                $("#section_control_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .attr('colspan', gdo.net.instance[instanceId].caveStatus.sections[sectionId].cols)
                    .attr('rowspan', gdo.net.instance[instanceId].caveStatus.sections[sectionId].rows)
                    .css("border", "1px solid #2A9FD6")
                    .css("background", "#087DB4")
                    .css('padding', 0)
                    .css('overflow', 'hidden')
                    .css("vertical-align", "top")
                    .append("<div id='section_control_table_section_" +
                        sectionId +
                        "_i' style='text-align:center;background:#2A9FD6'> <font size='4px'><b> S" +
                        sectionId +
                        "</b></font></div>");
                //Deployed
                if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId >= 0) {
                    $("#section_control_table_section_" + sectionId + "_i")
                        .empty()
                        .append("<font size='4px'><b> I" +
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId +
                            "</b></font>");
                    if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.appType === "Graph") {
                        $("#section_control_table_row_" + node.row + "_col_" + node.col)
                            .css('overflow', 'hidden')
                            .append("<div id='section_control_table_section_" +
                                sectionId +
                                "_a'> <b>&nbsp;App:</b> " +
                                gdo.net.instance[gdo.net.instance[instanceId].caveStatus.sections[sectionId]
                                    .appInstanceId]
                                .appName +
                                "</div>")
                            .css('overflow', 'hidden')
                            .css("background", "#559100");
                        $("#section_control_table_section_" + sectionId + "_i").css("background", "#77B300");
                        $("#section_control_table_row_" + node.row + "_col_" + node.col)
                            .css("border", "1px solid #77B300");
                    } else {
                        $("#section_control_table_row_" + node.row + "_col_" + node.col)
                            .css('overflow', 'hidden')
                            .append("<div id='section_control_table_section_" +
                                sectionId +
                                "_a'> <b>&nbsp;App:</b> " +
                                gdo.net.instance[gdo.net.instance[instanceId].caveStatus.sections[sectionId]
                                    .appInstanceId]
                                .appName +
                                "</div>")
                            .css('overflow', 'hidden')
                            .css("background", "#f98111");
                        $("#section_control_table_section_" + sectionId + "_i").css("background", "#d56c0a");
                        $("#section_control_table_row_" + node.row + "_col_" + node.col)
                            .css("border", "1px solid #d56c0a");
                    }
                    
                }
                if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].twitterVis.appType === "Graph") {
                $("#section_control_table_row_" + node.row + "_col_" + node.col)
                    .click(function () {
                        var appInstanceId = gdo.net.instance[instanceId].caveStatus.nodes[gdo.net
                                .getNodeId($(this).attr('col'), $(this).attr('row'))].appInstanceId;
                        
                            var index = gdo.net.instance[instanceId].control.selectedGraphApps.indexOf(appInstanceId);
                            if (index > -1) {
                                gdo.net.instance[instanceId].control.selectedGraphApps.splice(index, 1);
                                gdo.net.app["Twitter"].updateGraphFields(instanceId);
                            } else {
                                if (gdo.net.instance[appInstanceId].graphFieldsLoaded) {
                                    gdo.net.instance[instanceId].control.selectedGraphApps.push(appInstanceId);
                                    gdo.net.app["Twitter"].updateGraphFields(instanceId);
                                } else {
                                    gdo.net.app["Twitter"]
                                        .setMessage("Trying to control:" +
                                            appInstanceId +
                                            " before fields have been processed, please wait");
                                }
                            }
                            gdo.net.app["Twitter"].drawSectionControlTable(instanceId);
                    
                    });
                }

                if (gdo.net.instance[instanceId].control.selectedGraphApps.indexOf(gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId) > -1) {
                        $("#section_control_table_row_" + node.row + "_col_" + node.col)
                            .css("background-color", "#95078a")
                            .css("border", "1px solid #ce0ad6");
                        $("#section_control_table_section_" + sectionId + "_i").css("background", "#ce0ad6");
                }
            } else if ((node.sectionCol !== 0 || node.sectionRow !== 0) && node.sectionId > 0) {
                $("#section_control_table_row_" + node.row + "_col_" + node.col).hide();
            }
        }
    }

    gdo.net.app["Twitter"].drawAppControlTable = function (instanceId) {
        console.log("Drawing App Control Table");
        gdo.net.app["Twitter"].drawEmptyAppControlTable(gdo.net.cols, gdo.net.rows);
        $("#app_control_description").html(gdo.net.instance[instanceId].control.selectedApp);
        for (var i = 1; i <= gdo.net.cols * gdo.net.rows; i++) {
            var node = gdo.net.instance[instanceId].caveStatus.nodes[i];
            if (node.nodeContext === gdo.net.app["Twitter"].NodeContext.RESERVED) {
                //Node is assigned to another app
                continue;
            } else if (node.nodeContext === gdo.net.app["Twitter"].NodeContext.ROOT_SECTION) {
                //Node is part of the root section
                $("#app_control_table_row_" + node.row).css("height", "7vh").css('overflow', 'hidden');
                $("#app_control_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .css("vertical-align", "top")
                    .append("<div id='app_control_table_node_" +
                        node.id +
                        "_i' style='text-align:center;background:#740202;'> <font size='4px'><b>" +
                        node.id +
                        "</b></font></div>")
                    .append("</br>")
                    .css("border", "1px solid #8c0606")
                    .css('overflow', 'hidden')
                    .css("background", "#c70000")
                    .css('padding', 0);
                continue;
            }
            var sectionId = node.sectionId;
            $("#app_control_table_row_" + gdo.net.rows).css("height", 0);
            if (sectionId === 0) {
                $("#app_control_table_row_" + node.row).css("height", "7vh").css('overflow', 'hidden');
                $("#app_control_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .css("vertical-align", "top")
                    .append("<div id='app_control_table_node_" +
                        node.id +
                        "_i' style='text-align:center;background:#444;'> <font size='4px'><b>" +
                        node.id +
                        "</b></font></div>")
                    .append("</br>")
                    .css("border", "1px solid #333")
                    .css("background", "#222")
                    .css('padding', 0)
                    .click(function () {
                    });

            } else if ((node.sectionCol === 0 && node.sectionRow === 0) && node.sectionId > 0) {
                $("#app_control_table_row_" + node.row + "_col_" + node.col)
                    .empty()
                    .unbind()
                    .attr('colspan', gdo.net.instance[instanceId].caveStatus.sections[sectionId].cols)
                    .attr('rowspan', gdo.net.instance[instanceId].caveStatus.sections[sectionId].rows)
                    .css("border", "1px solid #2A9FD6")
                    .css("background", "#087DB4")
                    .css('padding', 0)
                    .css('overflow', 'hidden')
                    .css("vertical-align", "top")
                    .append("<div id='app_control_table_section_" +
                        sectionId +
                        "_i' style='text-align:center;background:#2A9FD6'> <font size='4px'><b> S" +
                        sectionId +
                        "</b></font></div>");
                //Deployed
                if (gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId >= 0) {
                    $("#app_control_table_section_" + sectionId + "_i")
                        .empty()
                        .append("<font size='4px'><b> I" +
                            gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId +
                            "</b></font>");
                        $("#app_control_table_row_" + node.row + "_col_" + node.col)
                            .css('overflow', 'hidden')
                            .append("<div id='app_control_table_section_" +
                                sectionId +
                                "_a'> <b>&nbsp;App:</b> " +
                                gdo.net.instance[gdo.net.instance[instanceId].caveStatus.sections[sectionId]
                                    .appInstanceId]
                                .appName +
                                "</div>")
                            .css('overflow', 'hidden')
                            .css("background", "#559100");
                        $("#app_control_table_section_" + sectionId + "_i").css("background", "#77B300");
                        $("#app_control_table_row_" + node.row + "_col_" + node.col)
                            .css("border", "1px solid #77B300");
                   }
                    $("#app_control_table_row_" + node.row + "_col_" + node.col)
                        .click(function () {
                            var appInstanceId = gdo.net.instance[instanceId].caveStatus.nodes[gdo.net
                                    .getNodeId($(this).attr('col'), $(this).attr('row'))].appInstanceId;

                            
                            if (gdo.net.instance[instanceId].control.selectedApp == appInstanceId) {
                                gdo.net.instance[instanceId].control.selectedApp = null;
                                $("#app_control_frame").attr("src", "");
                            } else {
                                gdo.net.instance[instanceId].control.selectedApp = appInstanceId;
                                $("#app_control_frame")
                                    .attr("src", window.location.origin + "/Web/Instances.cshtml?id=" + appInstanceId);
                            }
                            console.log(gdo.net.instance[instanceId].control.selectedApp);
                            gdo.net.app["Twitter"].drawAppControlTable(instanceId);

                        });
                
                if (gdo.net.instance[instanceId].control.selectedApp == gdo.net.instance[instanceId].caveStatus.sections[sectionId].appInstanceId) {
                    $("#app_control_table_row_" + node.row + "_col_" + node.col)
                        .css("background-color", "#95078a")
                        .css("border", "1px solid #ce0ad6");
                    $("#app_control_table_section_" + sectionId + "_i").css("background", "#ce0ad6");
                }
            } else if ((node.sectionCol !== 0 || node.sectionRow !== 0) && node.sectionId > 0) {
                $("#app_control_table_row_" + node.row + "_col_" + node.col).hide();
            }
        }
    }



    $("#dataset_table tbody")
        .on('click',
            'tr',
            function() {
                var gdo = parent.gdo;
                var id = $(this).find('td:first').text();
                var desc = $(this).find('td:nth-child(2)').text();

                if (gdo.net.instance[gdo.controlId].control.selectedDataSet === id) {
                    gdo.net.instance[gdo.controlId].control.selectedDataSet = -1;
                    $("#get_analytics").addClass("disabled").addClass("btn-default").removeClass("btn-success");
                    $(this).removeClass("btn-success");
                } else {
                    gdo.net.instance[gdo.controlId].control.selectedDataSet = id;
                    gdo.net.app["Twitter"].setMessage("Selected: " + desc);
                    $(this)
                        .addClass("btn-success")
                        .siblings()
                        .removeClass("btn-success");
                    console.log("HereB");
                }
                if (gdo.net.instance[gdo.controlId].control.selectedDataSet !== -1) {
                    $("#get_analytics").addClass("btn-success").removeClass("disabled").removeClass("btn-default");
                }

            });

    $("#slide_table tbody")
        .on('click',
            'tr',
            function () {
                var gdo = parent.gdo;
                var id = $(this).find('td:first').text();
                var desc = $(this).find('td:nth-child(1)').text();

                if (gdo.net.instance[gdo.controlId].control.selectedSlide === id) {
                    gdo.net.instance[gdo.controlId].control.selectedSlide = -1;
                    $("#launch_slide").addClass("disabled").addClass("btn-default").removeClass("btn-success");
                    $(this).removeClass("btn-success");
                } else {
                    gdo.net.instance[gdo.controlId].control.selectedSlide = id;
                    gdo.net.app["Twitter"].setMessage("Selected: " + desc);
                    $(this)
                        .addClass("btn-success")
                        .siblings()
                        .removeClass("btn-success");
                }
                if (gdo.net.instance[gdo.controlId].control.selectedSlide !== -1) {
                    $("#launch_slide").addClass("btn-success").removeClass("disabled").removeClass("btn-default");
                }

            });



    $("#analytics_options_table tbody")
        .on("click",
            "tr",
            function() {
                var gdo = parent.gdo;
                var classification = $(this).find('td:first').text();
                var type = $(this).find('td:nth-child(2)').text();
                if (!$(this).hasClass("btn-success")) {
                    $(this).addClass("btn-success");
                    gdo.net.instance[gdo.controlId].control.selectedNewAnalytics.push({
                        "classification": classification,
                        "type": type,
                        "dataset_id": gdo.net.instance[gdo.controlId].control.selectedDataSet
                    });
                    if (gdo.net.instance[gdo.controlId].control.selectedNewAnalytics.length === 1) {
                        $("#order_analytics")
                            .addClass("btn-success")
                            .removeClass("disabled")
                            .removeClass("btn-default");
                    }

                } else {
                    for (var i = 0; i < gdo.net.instance[gdo.controlId].control.selectedNewAnalytics.length; ++i) {
                        if (gdo.net.instance[gdo.controlId].control.selectedNewAnalytics[i].classification ===
                            classification &&
                            gdo.net.instance[gdo.controlId].control.selectedNewAnalytics[i].type === type) {
                            gdo.net.instance[gdo.controlId].control.selectedNewAnalytics.splice(i, 1);
                        }
                    }
                    $(this).removeClass("btn-success");
                    if (gdo.net.instance[gdo.controlId].control.selectedNewAnalytics.length === 0) {
                        $("#order_analytics").addClass("disabled").addClass("btn-default").removeClass("btn-success");
                    }

                }
            });
    $("#order_analytics")
        .on('click',
            function() {
                if (gdo.net.instance[gdo.controlId].control.selectedNewAnalytics.length > 0) {
                    parent.gdo.net.app["Twitter"]
                        .requestNewAnalytics(gdo.net.instance[gdo.controlId].control.selectedNewAnalytics);
                    gdo.net.instance[gdo.controlId].control.selectedNewAnalytics = [];
                    $("#analytics_options_table tbody tr").removeClass("btn-success");
                    parent.gdo.net.app["Twitter"]
                        .requestAnalytics([gdo.net.instance[gdo.controlId].control.selectedDataSet]);
                }
            });

    $("#get_analytics")
        .on('click',
            function() {
                if (gdo.net.instance[gdo.controlId].control.selectedDataSet != -1) {
                    parent.gdo.net.app["Twitter"]
                        .requestAnalytics([gdo.net.instance[gdo.controlId].control.selectedDataSet]);
                    parent.gdo.net.app["Twitter"].server.getAnalyticsOptions(gdo.controlId);
                }
            });

    $("#launch_slide")
     .on('click',
         function () {
             if (gdo.net.instance[gdo.controlId].control.selectedSlide != -1) {
                 parent.gdo.net.app["Twitter"]
                     .launchSlide(gdo.controlId, gdo.net.instance[gdo.controlId].control.selectedSlide);
             }
         });
    $("#refresh")
        .on("click",
            function () {
                var gdo = parent.gdo;
                gdo.net.app["Twitter"].server.initApiConnection(gdo.controlId);
                gdo.net.app["Twitter"].getPseudoCaveStatus(gdo.controlId, false);
            });
    $("#debug_b")
        .on("click",
            function() {
                console.log(gdo.net.instance[gdo.controlId]);
                console.log(gdo.net.app["Twitter"]);
                console.log(gdo.net);
            });
    $("#redownload")
    .on("click",
        function () {
            gdo.net.app["Twitter"].server.toggleRedownloadFiles(gdo.controlId);
        });
    $("#allocate")
        .on("click",
            function() {
                gdo.net.app["Twitter"].autoAllocateSections(gdo.controlId);
            });

    //////////////////////////////////////////Graph Control
    $("#showTimeNodes")
        .click(function () {
            if ($(this).hasClass("FLAG_ON")) {
                gdo.net.app["Twitter"].hideTimeNodes(gdo.controlId);
                $(this).removeClass("FLAG_ON").addClass("FLAG_OFF");
                $(this).html("<i class='fa  fa-link  fa-fw'></i>&nbsp;Show Time Nodes");
            } else {
                gdo.net.app["Twitter"].showTimeNodes(gdo.controlId);
                $(this).removeClass("FLAG_OFF").addClass("FLAG_ON");
                $(this).html("<i class='fa  fa-link  fa-fw'></i>&nbsp;Hide Time Nodes");
            }
        });
    $("#searchTweets")
    .click(function () {
        gdo.net.app["Twitter"].searchTweets(gdo.controlId, $("#tweetKeyword").val());
    });
    $("#searchUsers")
    .click(function () {
        gdo.net.app["Twitter"].searchUsers(gdo.controlId, $("#userKeyword").val());
    });

    $("#toggle_nodeSize").click(function () {
        if ($(this).hasClass("FLAG_ON")) {
            gdo.net.app["Twitter"].setAllNodesSize(gdo.controlId, parseInt($("#allNodeSize").val()));
            $(this).removeClass("FLAG_ON").addClass("FLAG_OFF");
            $(this).html("<i class='fa  fa-circle  fa-fw'></i>&nbsp;Original size");
        } else {
            gdo.net.app["Twitter"].setOriginalSize(gdo.controlId);
            $(this).removeClass("FLAG_OFF").addClass("FLAG_ON");
            $(this).html("<i class='fa  fa-circle  fa-fw'></i>&nbsp;Same size");
        }
    });



    $("#toggle_links")
        .click(function() {
            if ($(this).hasClass("FLAG_ON")) {
                gdo.net.app["Twitter"].hideLinks(gdo.controlId);
                $(this).removeClass("FLAG_ON").addClass("FLAG_OFF");
                $(this).html("<i class='fa  fa-link  fa-fw'></i>&nbsp;Show Links");
            } else {
                gdo.net.app["Twitter"].showLinks(gdo.controlId);
                $(this).removeClass("FLAG_OFF").addClass("FLAG_ON");
                $(this).html("<i class='fa  fa-link  fa-fw'></i>&nbsp;Hide Links");
            }
        });
    $("#toggle_labels")
        .click(function() {
            if ($(this).hasClass("FLAG_ON")) {
                gdo.net.app["Twitter"].hideLabels(gdo.controlId);
                $(this).removeClass("FLAG_ON").addClass("FLAG_OFF");
                $(this).html("<i class='fa  fa-tag  fa-fw'></i>&nbsp;Show");
                $(this).parent().siblings().show();
            } else {
                gdo.net.app["Twitter"].showLabels(gdo.controlId, $("#gc_select_label").val(), $("#color_Labels").val());
                $(this).removeClass("FLAG_OFF").addClass("FLAG_ON");
                $(this).html("<i class='fa  fa-tag  fa-fw'></i>&nbsp;Hide Labels");
                $(this).parent().siblings().hide();
            }
        });
    $("#show_mostConnectedNodes")
        .click(function() {
            gdo.net.app["Twitter"].renderMostConnectedNodes(gdo.controlId,
                parseInt($("#numLinks").val()),
                $("#color_mostConnectedNodes").val());
        });
    $("#toggle_mostConnectedLabels")
        .click(function() {
            gdo.net.app["Twitter"].renderMostConnectedLabels(gdo.controlId,
                parseInt($("#numLinks").val()),
                $("#gc_select_mostConnectedLabels").val(),
                $("#color_mostConnectedLabels").val());
        });
    $("#hide_mostConnected")
        .click(function() {
            gdo.net.app["Twitter"].hideMostConnected(gdo.controlId);
        });
    $("#startSearch")
        .click(function() {
            gdo.net.app["Twitter"].initiateSearch(gdo.controlId,
                $("#searchKeywords").val(),
                $("#gc_select_SearchFields").val());
        });
    $("#toggle_searchLabels")
        .click(function() {
            gdo.net.app["Twitter"].renderSearchLabels(gdo.controlId, $("#gc_select_SearchLabels").val());
        });
    $("#hide_sublinks")
        .click(function() {
            gdo.net.app["Twitter"].hideSublinks(gdo.controlId);
        });
    $("#hide_search")
        .click(function() {
            gdo.net.app["Twitter"].hideSearch(gdo.controlId);
        });
</script>
</body>
</html>