<!DOCTYPE html>
<html style="overflow: hidden">
<head>
    <meta name="viewport" content="width=device-width" />
    <title>XNAT Imaging Project</title>
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
    <link href="../../Scripts/XNATImaging/css/main.css" rel="stylesheet" />
</head>
<body ng-app="xnatApp">
    <div id="MainController" ng-controller="MainController">
        <div class="heading">
            <div class="container">
                <h1>{{ title }}</h1>
            </div>
        </div>
        <div class="main">
            <div class="container">
                <h2>Patient: {{ patient.name }}</h2>
                <div id="dicomImage"
                     update-image
                     mouse-wheel-up=""
                     mouse-wheel-down=""
                     mouse-click=""
                     class="cornerstone-enabled-image"
                     oncontextmenu="return false"
                     unselectable='off'
                     onselectstart='return false;'
                     onmousedown='return false;'>

                    <div id="mrtopleft">
                        <p>Optimise ID</p>
                    </div>
                    <div id="mrtopright">
                        Hospital
                    </div>
                    <div id="mrbottomright">
                        <div id="frameRate"></div>
                        <div id="zoomText"><p>Zoom: {{ view.zoomLevel }}x</p></div>
                        <div id="sliceText"><p>Image: {{ currentImageIndex + 1 }}</p></div>
                    </div>
                    <div id="mrbottomleft">
                        <p>WW/WC: {{ view.windowWidth }}/{{ view.windowCenter }}</p>
                    </div>
                </div>
            </div>
        </div>
        <div ng-view></div>
    </div>


    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/XNATImaging/angular.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>

    
    <script src="https://code.angularjs.org/1.2.28/angular-route.min.js"></script>
    <script src="../../Scripts/XNATImaging/underscore.js"></script>
    <script src="../../Scripts/XNATImaging/cornerstone.js"></script>
    <script src="../../Scripts/XNATImaging/cornerstoneMath.js"></script>
    <script src="../../Scripts/XNATImaging/cornerstone-tools.js"></script>
    <script src="../../Scripts/XNATImaging/dicomParser.js"></script>
    <script src="../../Scripts/XNATImaging/jpx.js"></script>
    <script src="../../Scripts/XNATImaging/cornerstoneWADOImageLoader.js"></script>
    <!-- Modules -->
    <script src="../../Scripts/XNATImaging/app.js"></script>
    <!-- Controllers -->
    <script src="../../Scripts/XNATImaging/controllers/MainController.js"></script>
    <!-- Services -->
    <script src="../../Scripts/XNATImaging/services/mriServices.js"></script>
    <!-- Directives -->
    <script src="../../Scripts/XNATImaging/directives/mouseWheelUp.js"></script>
    <script src="../../Scripts/XNATImaging/directives/mouseWheelDown.js"></script>
    <script src="../../Scripts/XNATImaging/directives/mouseClick.js"></script>

    <script>
        $(function () {
            $(document).ready(function () {
                console.log('.XNATImaging', 1, 'DOM Ready for JS');
                var gdo = parent.gdo;
                gdo.net.app["XNATImaging"].initClient();
            });
        });
    </script>
    @*<div id="wrapper" style="background-color:#000;width:97vw;height:97vh;text-align:center; vertical-align: middle;" align="center">
            <div style="display: table; width:100%;height: 100%; overflow: hidden; text-align:center;">
                <div id="hello_text" style="display: table-cell; font-size: 35vh; color: azure; font-family: helvetica; text-align:center; vertical-align: middle;"></div>
            </div>
        </div>*@
</body>
</html>
