html, body {
    background: #081628;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    width: 100%;
}

.heading h1 {
    color: #ececec;
    font-size: 60px;
    line-height: 70px;
    margin: 100px 30px 200px;
}

.heading h2 {
    color: #2578A6;
    font-size: 36px;
    line-height: 40px;
    margin-left: 50px;
    position: absolute;
    bottom: 50px;
}

.heading h3 {
    color: darkcyan;
    font-size: 24px;
    line-height: 36px;
    margin-left: 30px;
    padding-bottom: 36px;
}

#mrtopleft {
    color: #efefef;
    position: absolute;
    top: 23px;
    left: 30px;
}

#mrtopright {
    color: #efefef;
    position: absolute;
    top: 23px;
    right: 10px;
}

#mrbottomleft {
    color: #efefef;
    position: absolute;
    bottom: 20px;
    left: 30px;
}

#mrbottomright {
    color: #efefef;
    position: absolute;
    bottom: 20px;
    right: 10px;
}

.controls {
    position: absolute;
    bottom: -70px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#viewSelect {
    margin-top: 30px;
    margin-bottom: 40px;
    width: 200px;
}