@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: hidden">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #000;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        #image_tile {
            position: fixed;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            border: 0 none;
            z-index: 9;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.1.min.js"></script>
<script>
 
    var gdo;

    $(function () {
        gdo = parent.gdo;
        gdo.consoleOut('.YoutubeWall', 1, 'Init Client');
        gdo.net.app["YoutubeWall"].initClient();
    });

    //load youtube API
    var tag = document.createElement('script');
    tag.src = "https://www.youtube.com/iframe_api";
    var firstScriptTag = document.getElementsByTagName('script')[0];
    firstScriptTag.parentNode.insertBefore(tag, firstScriptTag);

    //this function is called when the Youtube api is ready. It loads the iframe for the video
    function onYouTubeIframeAPIReady() {
            gdo.net.node[gdo.clientId].player = new YT.Player('ytplayer', {
            height: $(window).height(),
            width: $(window).width(),
            videoId: '',
            playerVars: { 'controls': 0, 'rel':0, 'showinfo':0, 'loop':1 },
            events: {
                'onReady': function (event) { event.target.mute(); },
                'onStateChange': //hack! because loop:1 does not work
                    function(e){
                        if (e.data === YT.PlayerState.ENDED) {
                            e.target.playVideo(); 
                        }
                    }
            }
        });
    }
    
</script>
    <form id="form1" runat="server"></form>
<div>
    <div  id="ytplayer"></div> 
</div>
</body>
</html>
