<?xml version="1.0"?>
<configuration>
  <appSettings>
    <add key="appDirs" value="../GDO.App/bin"/>
    <add key="numCols" value="4"/>
    <add key="numRows" value="4"/>
    <add key="nodeWidth" value="1920"/>
    <add key="nodeHeight" value="1080"/>
    <add key="node1" value="0,0"/>
    <add key="node2" value="1,0"/>
    <add key="node3" value="2,0"/>
    <add key="node4" value="3,0"/>
    <add key="node5" value="0,1"/>
    <add key="node6" value="1,1"/>
    <add key="node7" value="2,1"/>
    <add key="node8" value="3,1"/>
    <add key="node9" value="0,2"/>
    <add key="node10" value="1,2"/>
    <add key="node11" value="2,2"/>
    <add key="node12" value="3,2"/>
    <add key="node13" value="0,3"/>
    <add key="node14" value="1,3"/>
    <add key="node15" value="2,3"/>
    <add key="node16" value="3,3"/>
  </appSettings>
</configuration>