<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width"/>
    <script src="../../Scripts/GigaImages/OpenSeaDragon/openseadragon.js"></script>
    <title></title>
    <style>
        body {
            background: #000000;
            color: #FFF;
            font-family: helvetica;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.1.min.js"></script>
    <div id="contentDiv" class="openseadragon front-page"></div>
    <script>
        $(function() {
            $(document).ready(function() {
                var gdo = parent.gdo;
                gdo.net.app["GigaImages"].initClient(gdo.clientId);
            });
        });
    </script>

</body>
</html>
