@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/fusioncharts.js"></script>
    <script type="text/javascript" src="http://static.fusioncharts.com/code/latest/themes/fusioncharts.theme.fint.js?cacheBust=56"></script>
    <style>
        body { color: #FFF; }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: inherit;
            display: block;
        }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0px;
            padding: 0px;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }

        
        .input_field_sole {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }
          
    </style>
</head>
<body unselectable="on" class="unselectable">
<script src="../../Scripts/jquery-2.1.4.min.js"></script>
<script src="../../Scripts/jquery.signalR-2.2.1.min.js"></script>
<script src="../../Scripts/jquery.csv-0.71.min.js"></script>
<script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
<script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
<script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
<script>
    $(function() {
        var gdo = parent.gdo;
        gdo.net.app["FusionChart"].initControl();
    });


    function processChartData(chartData, instanceId) {

     
        var gdo = parent.gdo;
        if (gdo.net.instance[instanceId].chart == undefined) {
            $("#setChartType").removeClass("btn-warning").addClass("btn-success").removeClass("disabled");
        }

        gdo.net.instance[instanceId].chart = new FusionCharts({
            type: chartData.chartType,
            renderAt: 'chart-container',
            width:  "100%",
            height: "100%",
            dataFormat: 'json',
            dataSource: chartData.dataSource
        });
        if (chartData.dataSource.datasetURL) {
            $.getJSON(chartData.dataSource.datasetURL, function (json) {
                var currentData = gdo.net.instance[instanceId].chart.getJSONData();
                currentData.dataset = json;
                gdo.net.instance[instanceId].chartDatasetURL = chartData.dataSource.datasetURL;
                gdo.net.instance[instanceId].chart.setJSONData(currentData);
                gdo.net.instance[instanceId].chart.render();
            });
        } else if (chartData.dataSource.dataURL) {
            $.getJSON(chartData.dataSource.dataURL, function (json) {
                var currentData = gdo.net.instance[instanceId].chart.getJSONData();
                currentData.data = json;
                gdo.net.instance[instanceId].chartDataURL = chartData.dataSource.dataURL;
                gdo.net.instance[instanceId].chart.setJSONData(currentData);
                gdo.net.instance[instanceId].chart.render();
            });
        } else {
            gdo.net.instance[instanceId].chart.render();
        }
        
    };

</script>
<div class="wrapper" style="width: 97%">
    @{
        var path = "";
        var filename = "";
        if (IsPost)
        {
            HttpPostedFileBase file = Request.Files[0];
            if (file != null && !file.FileName.IsEmpty()) //need to add this check, because it tried to save empty file in subsequent button clicks
            {
                filename = Path.GetFileName(file.FileName);
                //foldername
                Directory.CreateDirectory(HttpContext.Current.Server.MapPath("~/Web/FusionChart/data"));
                path = HttpContext.Current.Server.MapPath("~/Web/FusionChart/data/") + filename;
                if (File.Exists(path))
                {
                    // if the file already exists, delete it
                    File.Delete(path);
                }
                file.SaveAs(path);
            }
        }
    }
    <div class="row">
        <div class="col-lg-3">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6><i class='fa  fa-upload fa-fw'></i>&nbsp;Upload Data File</h6>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <form id="submit_file_form" action="" method="post" enctype="multipart/form-data">
                            <table style="border-collapse: separate; border-spacing: 3px; background-color: transparent;">
                                <tr>
                                    <td>
                                        <div style="background-color: transparent">
                                            <span class="btn btn-primary btn-file btn-block" style="border-color: transparent;"><i class='fa  fa-file-picture-o fa-fw'></i>&nbsp;Choose File <input type="file" name="File" class="upload" id="select_file"></span>
                                        </div>
                                    </td>
                                    <td>
                                        <input id="submit_file" class="btn btn-primary btn-block" style="border-color: transparent;" type="submit" value="&nbsp;Process"/>
                                    </td>
                                </tr>
                            </table>
                        </form>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <h6><i class='fa  fa-question-circle fa-fw'></i>&nbsp;Find Existing File</h6>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <table style="border-collapse: separate; border-spacing: 3px; background-color: transparent;">
                            <tr>
                                <td>
                                    <div style="background-color: transparent">
                                        <h6>Previous File:</h6>
                                    </div>
                                </td>
                                <td>
                                    <div class="input_field_div">
                                        <select class="input_field" id="file_digit">
                                            @{
                                                string fileFolder = System.Web.HttpContext.Current.Server.MapPath("~/Web/FusionChart/data");
                                                string[] files = Directory.GetFiles(fileFolder);
                                            }
                                            @foreach (var s in files)
                                            {
                                                <option value="@s.Split('\\').Last()">@s.Split('\\').Last()</option>
                                            }
                                        </select>
                                    </div>
                                </td>
                                <td>
                                    <button type='button' id="file_digit_button" class='btn btn-primary btn-block'><i class='fa  fa-check fa-fw'></i>&nbsp;Submit</button>
                                </td>
                                <td>
                                    <button type='button' id="file_delete_button" class='btn btn-danger btn-block'><i class='fa  fa-check fa-fw'></i>&nbsp;Delete</button>
                                </td>
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
        <div class="col-lg-5">
            <div id="admin-panel" class="panel panel-danger">
                <div class="panel-heading">
                    <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Admin</h6>
                </div>
                <div class="panel-body">
                    <fieldset>
                        <table style="border-collapse: separate; border-spacing: 3px; background-color: transparent;">
                            <tr>
                                <td>
                                    <select class="input_field_sole" id="chartConfigKey" style="width:100%">
                                    </select>
                                </td>
                                <td>
                                    <input class="input_field_sole" id="chartConfigValue" placeholder="Value" style="width:100%"/>
                                </td>
                                <td>
                                    <button id="updateConfig" class="btn btn-danger" style="width:100%">Update Config</button>
                                </td>
                                <td>
                                    <button id="saveConfig" class="btn btn-warning" style="width:100%" title="Save and Download current configuration.">Save &amp; Download</button>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <select class="input_field_sole" id="chartType" style="width:100%">
                                        <option value="msline">msline</option>
                                        <option value="line">line</option>
                                        <option value="zoomline">zoomline</option>
                                        <option value="area2d">area2d</option>
                                        <option value="pie2d">pie2d</option>
                                        <option value="doughnut2d">doughnut2d</option>
                                        <option value="doughnut3d">doughnut3d</option>
                                        <option value="bar2d">bar2d</option>
                                        <option value="column2d">column2d</option>
                                        <option value="scatter">scatter</option>
                                        <option value="zoomscatter">zoomscatter</option>
                                        <option value="scrollline2d">scrollline2d</option>
                                        <option value="scrollarea2d">scrollarea2d</option>
                                    </select>
                                </td>
                                <td>
                                    <button id="setChartType" class="btn btn-warning disabled" style="width:100%">Set Chart Type</button>
                                </td>
                                <td>
                                    <button id="reRender" class="btn btn-danger" style="width:100%">Re Render</button>
                                </td>
                                <td>
                                    <button id="toggleDebugMode" class="FLAG_OFF btn btn-warning" style="width:100%">Show Debug Mode</button>
                                </td>
                                @*                            <button id="debug" class="btn btn-warning">Debug</button>*@
                            </tr>
                        </table>
                    </fieldset>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="col-lg-12">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <div class="row">
                        <div class="col-lg-6">
                            <h6><i class='fa  fa-bar-chart fa-fw'></i>&nbsp;Displayed Chart</h6>
                        </div>
                        <div class="col-lg-6" align="right">
                            <div class="btn-group">
                                <button id="zoom_in" class="btn btn-success"><i class='fa fa-search-plus'></i>&nbsp;</button>
                                <button id="zoom_out" class="btn btn-success"><i class='fa fa-search-minus'></i>&nbsp;</button>
                                <button id="toggleMouseMove" class="FLAG_OFF btn btn-warning disabled">Enable Mouse Move</button>
                                <button id="toggleMouseControl" class="FLAG_OFF btn btn-warning" style="float: right;">Enable Mouse Forwarding</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                   
                    <div style="position: relative; overflow: auto; border: 0 none; display: block; width: 100%; height: 61vh;">
                        <div id="blocker" style="position:absolute; top: 0; left: 0;background-color:aliceblue; opacity:0.1; z-index:1"></div>
                            <div id="chart-container">
                            FusionCharts XT will load here!
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    @if (path != "")
    {
        <script>
            $(function() {
                $(document)
                    .ready(function() {
                        var gdo = parent.gdo;
                        gdo.consoleOut('.FusionChart',
                            1,
                            'Instance ' + gdo.controlId + ": Uploaded file " + "@filename");
                        gdo.net.app["FusionChart"].server.processFile(gdo.controlId, "@filename");
                    });
            });
        </script>
    }
</div>
<script>
    $("#chartConfigKey")
        .change(function () {
            var gdo = parent.gdo;
            var nkey = $(this).val();
            if (gdo.net.instance[gdo.controlId].chart.getChartAttribute(nkey)) {
                var nval = gdo.net.instance[gdo.controlId].chart.getChartAttribute(nkey);
                $("#chartConfigValue").val(nval);
            } else {
                $("#chartConfigValue").val("Key Error");
            }
        });
    $("#updateConfig")
        .click(function () {
            var gdo = parent.gdo;
            var ckey = $("#chartConfigKey").val();
            var cval = $("#chartConfigValue").val();
            if (gdo.net.instance[gdo.controlId].chart.getChartAttribute(ckey)) {
                gdo.consoleOut('.FusionChart', 1, 'Update fusionchart configuration ' + ckey + ": " + cval);
                gdo.net.app["FusionChart"].server.broadcastChartConfig(gdo.controlId, ckey, cval);
                gdo.net.instance[gdo.controlId].chart.setChartAttribute(ckey, cval);
            } else {
                gdo.consoleOut('.FusionChart', 5, 'Configuration Key Error! ' + ckey);
            }
        });

    $("#saveConfig")
        .click(function () {
            var gdo = parent.gdo;
            var current_chart = gdo.net.instance[gdo.controlId].chart;
            if (current_chart) {
                $("#saveConfig").html("Saving");
                var chart_config = {
                    "chartType": current_chart.options.chartType,
                    "dataSource": current_chart.options.dataSource
                }
                gdo.net.app["FusionChart"].server.saveConfig(gdo.controlId, JSON.stringify(chart_config));
            } else {
                gdo.consoleOut('.FusionChart', 5, 'Cant save chart configuration, as chart doesnt exist!');
            }
        });

    $("#zoom_in")
        .click(function () {
            var gdo = parent.gdo;
            gdo.net.instance[gdo.controlId].controlWidth *= 1.5;
            gdo.net.app["FusionChart"].setControlSize(gdo.controlId);
        });
    $("#zoom_out")
    .click(function () {
        var gdo = parent.gdo;
        gdo.net.instance[gdo.controlId].controlWidth /= 1.5;
        gdo.net.app["FusionChart"].setControlSize(gdo.controlId);
    });


    $("#setChartType").click(function () {
        var gdo = parent.gdo;
        if (gdo.net.instance[gdo.controlId].chart != undefined) {
            gdo.consoleOut('.FusionChart',1,
                'Instance - ' + gdo.controlId + ": Requesting Chart Type: " + $("#chartType").val());
            gdo.net.instance[gdo.controlId].chart.chartType($("#chartType").val());
            gdo.net.app["FusionChart"].server.broadcastChartType(gdo.controlId, $("#chartType").val());
        } else {
            gdo.consoleOut('.FusionChart', 1, 'Instance - ' + gdo.controlId + ": Chart Data not Set");
        }
            
    });
    $("#file_digit_button").click(function () {
        var gdo = parent.gdo;
        gdo.net.app["FusionChart"].server.processFile(gdo.controlId, $("#file_digit").val());
    });
    $("#file_delete_button").click(function () {
        var gdo = parent.gdo;
        gdo.net.app["FusionChart"].server.deleteFile(gdo.controlId, $("#file_digit").val());
    });
    $("#sendMouseEvent")
        .click(function() {
            var gdo = parent.gdo;
            console.log("Calling refresh");
            var x = parseInt($("#x_c").val());
            var y = parseInt($("#y_c").val());
            gdo.net.app["FusionChart"].server.sendMouseEvent(gdo.controlId,
                JSON.stringify({
                    "x": x,
                    "y": y,
                    "eventType": "mousedown"
                }));
            gdo.net.app["FusionChart"].server.sendMouseEvent(gdo.controlId,
                JSON.stringify({
                    "x": x,
                    "y": y,
                    "eventType": "mouseup"
                }));
            gdo.net.app["FusionChart"].server.sendMouseEvent(gdo.controlId,
                JSON.stringify({
                    "x": x,
                    "y": y,
                    "eventType": "mouseclick"
                }));
        });

    function sendClick(e) {
        var gdo = parent.gdo;
        gdo.net.app["FusionChart"].sendMouseEvent(e);
    }
    

//    $("#debug")
//        .click(function () {
//            var gdo = parent.gdo;
//            console.log(gdo.net.instance[gdo.controlId]);
//            console.log(gdo.net.app["FusionChart"]);
//            gdo.net.app["FusionChart"].server.printState(gdo.controlId);
//        });


    $("#reRender")
        .click(function() {
            var gdo = parent.gdo;
            if (gdo.net.instance[gdo.controlId].chartDatasetURL) {
                var currentData = gdo.net.instance[gdo.controlId].chart.getJSONData();
                $.getJSON(gdo.net.instance[gdo.controlId].chartDatasetURL, function (json) {
                    currentData.dataset = json;
                    gdo.net.instance[gdo.controlId].chart.setJSONData(currentData);
                    gdo.net.instance[gdo.controlId].chart.render();
                    gdo.net.app["FusionChart"].server.reRender(gdo.controlId);
                });
            } else if (gdo.net.instance[gdo.controlId].chartDataURL) {
                var currentData = gdo.net.instance[gdo.controlId].chart.getJSONData();
                $.getJSON(gdo.net.instance[gdo.controlId].chartDataURL, function (json) {
                    currentData.data = json;
                    gdo.net.instance[gdo.controlId].chart.setJSONData(currentData);
                    gdo.net.instance[gdo.controlId].chart.render();
                    gdo.net.app["FusionChart"].server.reRender(gdo.controlId);
                });
            } else {
                gdo.net.instance[gdo.controlId].chart.render();
                gdo.net.app["FusionChart"].server.reRender(gdo.controlId);
            }
        });

    $("#toggleMouseMove")
        .click(function() {
            var gdo = parent.gdo;
            if (gdo.net.instance[gdo.controlId].mouseForwarding) {
                if ($(this).hasClass("FLAG_ON")) {
                    $("#chart-container").off("mousemove");
                    $(this)
                        .removeClass("FLAG_ON")
                        .removeClass("btn-success")
                        .addClass("btn-warning")
                        .addClass("FLAG_OFF");
                    $(this).html("Enable Mouse Move");
                } else {
                    $("#chart-container").mousemove(function(e) { sendClick(e, true) });
                    $(this)
                        .removeClass("FLAG_OFF")
                        .removeClass("btn-warning")
                        .addClass("btn-success")
                        .addClass("FLAG_ON");
                    $(this).html("Disable Mouse Move");
                }
            }
        });

    $("#toggleMouseControl")
        .click(function () {
            var gdo = parent.gdo;
            if (gdo.net.instance[gdo.controlId].mouseForwarding) {
               
                $("#chart-container").off("mousemove");
                $("#chart-container").off("click");
                $("#chart-container").off("mousedown");
                $("#chart-container").off("mouseover");
                $("#chart-container").off("mouseup");
                $("#chart-container").off("mouseout");
                $("#blocker").css("z-index","1");
                $("#toggleMouseMove")
                    .removeClass("FLAG_ON")
                    .removeClass("btn-success")
                    .addClass("btn-warning")
                    .addClass("disabled")
                    .addClass("FLAG_OFF").html("Enable Mouse Move");
                $(this)
                    .removeClass("FLAG_ON")
                    .removeClass("btn-success")
                    .addClass("btn-warning")
                    .addClass("FLAG_OFF");
                $(this).html("Enable Mouse Forwarding");
                gdo.net.instance[gdo.controlId].mouseForwarding = false;
            } else {
                $("#chart-container")
                    .click(function (e) { sendClick(e) })
                    .mousedown(function (e) { sendClick(e) })
                    .mouseup(function (e) { sendClick(e) })
                    .mouseover(function (e) { sendClick(e) })
                    .mouseout(function (e) { sendClick(e) });
                $("#blocker").css("z-index", "-1");
                $("#toggleMouseMove").removeClass("disabled");
                $(this)
                    .removeClass("FLAG_OFF")
                    .removeClass("btn-warning")
                    .addClass("btn-success")
                    .addClass("FLAG_ON");
                $(this).html("Disable Mouse Forwarding");
                gdo.net.instance[gdo.controlId].mouseForwarding = true;
            }
        });

    $("#toggleDebugMode")
        .click(function() {
            var gdo = parent.gdo;
            if ($(this).hasClass("FLAG_ON")) {
                gdo.net.app["FusionChart"].server.setDebugMode(gdo.controlId, false);
                $(this)
                    .removeClass("FLAG_ON")
                    .removeClass("btn-success")
                    .addClass("btn-warning")
                    .addClass("FLAG_OFF");
                $(this).html("Show Debug Mode");
            } else {
                gdo.net.app["FusionChart"].server.setDebugMode(gdo.controlId, true);
                $(this)
                    .removeClass("FLAG_OFF")
                    .removeClass("btn-warning")
                    .addClass("btn-success")
                    .addClass("FLAG_ON");
                $(this).html("Hide Debug Mode");
            }
        });


</script>
</body>
</html>