<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width"/>
    <title>Visualisation</title>
    @RenderPage("Shared/_StyleSheets.cshtml")
</head>
<body style="height: 100vh">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        $(function () {
            var gdo = parent.gdo;
            gdo.consoleOut('.TimeV', 1, 'Init Client');
            gdo.net.app["TimeV"].initClient();          
        });
    </script>

<div id="header">
    <div class="container-fluid" style="background-color: #6f5499; background-image: linear-gradient(to bottom, #563d7c 0, #6f5499 100%); background-repeat: repeat-x; color: #cdbfe3;">
        <div class="row">
            <h1 class="col-xs-12" style="color: #fff">TimeV</h1>
        </div>
        <div class="row">
            <p class="col-xs-12">The first application incoporating the power of Spark and the Imperial GDO platform to enable real-time querying and visualisation of time-series data</p>
        </div>
    </div>
</div>
<div class="container-fluid well full-height">
    <div id="placeholder" class="show" style="height: 100vh">
        <div class="row">
            <div class="col-xs-12">
                <h3>Ready for visualisation...</h3>
            </div>
        </div>
        <div class="row">
            <div id="dataholder" class="col-xs-12"></div>
        </div>
    </div>
    <div id="processing" class="hidden" style="height: 100vh">
        <div class="row">
            <div class="col-xs-12">
                <h3>Waiting for Spark to process query...</h3>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" style="text-align: center">
                <div class="ball-loader">
                    Loading...
                </div>
            </div>
        </div>
    </div>
    <div id="visualisation" class="hiden" style="height: 100vh">
        <div class="row" style="height: 100%">
            <div class="col-xs-12">
                <div id="y_axis"></div>
                <div id="graph" style="height: 85%"></div>
            </div>
        </div>
        <div class="row">
            <div class="col-xs-12" id="legend"></div>
        </div>
    </div>
</div>

@RenderPage("Shared/_Scripts.cshtml")
@*<script src="~/Scripts/TimeV/gdo.apps.TimeV.js"></script>*@
</body>
</html>