@using System.IO
@using System.Web
@using GDO.Core
<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        body {
            color: #FFF;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: inherit;
            display: block;
        }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .input_field_div {
            margin: 0;
            padding: 0;
        }

        .input_field {
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0;
            display: inline-block;
            position: relative;
            text-align: center;
        }
        textarea {
            background: #333;
            color: #FFF;
            border: 1px solid #333;
        }
        table {
            background-color: transparent;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="../../Scripts/jquery.csv-0.71.min.js"></script>
    <script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
    <script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

<script>

    $(function () {

        var gdo = parent.gdo;


        $("#send_wordQuery").click(function () {
            gdo.consoleOut('.CORTICAL', 1, 'Instance ' + gdo.controlId + ": Do query for word.");

            //we need to send to the instance of 'Word'
            var instance;
            for (var i = 0; i < gdo.net.instance.length; i++) {
                instance = gdo.net.instance[i];
                if (instance.appName == "Cortical" && instance.configName == "Word") {
                    gdo.net.app["Cortical"].server.wordQuery(instance.id, $("#inputQueryWord").val());
                    return;
                }
            }
        });


        $("#send_TextQuery").click(function () {
            gdo.consoleOut('.CORTICAL', 1, 'Instance ' + gdo.controlId + ": Do query for text.");

            //we need to send to the instance of 'Text'
            var instance;
            for (var i = 0; i < gdo.net.instance.length; i++) {
                instance = gdo.net.instance[i];
                if (instance.appName == "Cortical" && instance.configName == "Text") {
                    gdo.net.app["Cortical"].server.textQuery(instance.id, $("#inputQueryText").val());
                    return;
                }
            }
        });

        $("#send_CompareQuery").click(function () {
            gdo.consoleOut('.CORTICAL', 1, 'Instance ' + gdo.controlId + ": Do query for comparison.");

            //we need to send to the instance of 'Compare'
            var instance;
            for (var i = 0; i < gdo.net.instance.length; i++) {
                instance = gdo.net.instance[i];
                if (instance.appName == "Cortical" && instance.configName == "Compare") {
                    gdo.net.app["Cortical"].server.compareQuery(instance.id, $("#inputCompareWordA").val(), $("#inputCompareWordB").val());
                    return;
                }
            }
        });

        $("#inputQueryWord").keyup(function () {
            //we need to send to the instance of 'Word'
            var instance;
            for (var i = 0; i < gdo.net.instance.length; i++) {
                instance = gdo.net.instance[i];
                if (instance.appName == "Cortical" && instance.configName == "Word") {
                    gdo.net.app["Cortical"].server.updateWord(instance.id, this.value);
                    return;
                }
            }
        });

        $("#inputQueryText").keyup(function () {
            //we need to send to the instance of 'Text'
            var instance;
            for (var i = 0; i < gdo.net.instance.length; i++) {
                instance = gdo.net.instance[i];
                if (instance.appName == "Cortical" && instance.configName == "Text") {
                    gdo.net.app["Cortical"].server.updateText(instance.id, this.value);
                    return;
                }
            }
        });

        $("#inputCompareWordA, #inputCompareWordB").keyup(function () {
            //we need to send to the instance of 'Compare'
            var instance;
            for (var i = 0; i < gdo.net.instance.length; i++) {
                instance = gdo.net.instance[i];
                if (instance.appName == "Cortical" && instance.configName == "Compare") {
                    gdo.net.app["Cortical"].server.updateCompare(instance.id, $("#inputCompareWordA").val(), $("#inputCompareWordB").val());
                    return;
                }
            }
        });
        
        gdo.net.app["Cortical"].initControl();
    });
</script>

    <div class="wrapper" style="width: 97%">
        <div>
            <div class="row">
                <div class="col-lg-6">
                    <div class="panel panel-primary">
                        <div class="panel-heading">
                            <h6><i class='fa  fa-upload fa-fw'></i>&nbsp;Load demos</h6>
                        </div>
                        <div class="panel-body">
                        </div>
                    </div>
                </div>
                <div class="col-lg-6">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h6><i class='fa  fa-info-circle fa-fw'></i>&nbsp;Messages</h6>
                        </div>
                        <div class="panel-body">
                            <h6 id="message_from_server">&nbsp;</h6>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <h6><i class='fa  fa-sliders  fa-fw'></i>&nbsp;Control</h6>
                        </div>
                        <div class="panel-body">
                            <fieldset id="graph_UI">
                                <table style="width: 100%; background: transparent">
                                    <tr>
                                        <td style="width: 40%;">
                                            <input type="text" class="input_field" id="inputQueryWord"/>
                                            <button class='btn btn-default' id="send_wordQuery"><i class='fa  fa-link  fa-fw'></i>&nbsp;Send word</button>
                                            <br/><br />
                                            <input type="text" class="input_field" id="inputCompareWordA"/>
                                            <input type="text" class="input_field" id="inputCompareWordB" />
                                            <button class='btn btn-default' id="send_CompareQuery"><i class='fa  fa-link  fa-fw'></i>&nbsp;Compare terms</button>
                                        </td>
                                        <br/>
                                        <td style="width: 40%;">
                                            <textarea id="inputQueryText" rows="30" cols="120"></textarea>
                                            <button class='btn btn-default' id="send_TextQuery"><i class='fa  fa-link  fa-fw'></i>&nbsp;Send Text</button>
                                        </td>
                                    </tr>
                                </table>
                            </fieldset>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
