@using System.Threading.Tasks
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    @* ReSharper disable once CssNotResolved *@
    <style>
        body {
            color: #FFF;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .thumb {
            height: 75px;
            border: 1px solid #000;
            margin: 10px 5px 0 0;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

            .btn-file input[type=file] {
                position: absolute;
                top: 0;
                right: 0;
                min-width: 100%;
                min-height: 100%;
                font-size: 100px;
                text-align: right;
                filter: alpha(opacity=0);
                opacity: 0;
                cursor: inherit;
                display: block;
            }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0px;
            padding: 0px;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }

        .map:-moz-full-screen {
            height: 100%;
        }

        .map:-webkit-full-screen {
            height: 100%;
        }

        .map:-ms-fullscreen {
            height: 100%;
        }

        .map:full-screen {
            height: 100%;
        }

        .ol-rotate {
            top: 3em;
        }

        .map {
            width: 100%;
            height: 350px;
            border: 0 none;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.1.min.js"></script>
    <script src="../../Scripts/jquery.csv-0.71.min.js"></script>
    <script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
    <script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>
    <script>
        $(function() {
            gdo.loadScript('city', 'city', gdo.SCRIPT_TYPE.APP);
            $(document).ready(function() {
                gdo.initGDO(gdo.CLIENT_MODE.CONTROL);
            });
        });
        initApp = function() {
            gdo.controlId = getUrlVar("controlId");
            gdo.net.app["City"].initControl(gdo.controlId);
        }
    </script>
    <div id="wrapper" style="width:97%">
        <div class="row">
            <div class="col-lg-12">

                <!-- Nav tabs -->
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#home" data-toggle="tab"><i class="fa fa-map-marker fa-fw"></i>&nbsp;&nbsp;Map</a>
                    </li>
                    <li>
                        <a href="#visualisation" data-toggle="tab"><i class="fa fa-sliders fa-fw"></i>&nbsp;&nbsp;Visualisation</a>
                    </li>
                    <li>
                        <a href="#charts" data-toggle="tab"><i class="fa fa-bar-chart-o fa-fw"></i>&nbsp;&nbsp;Charts</a>
                    </li>
                    <li>
                        <a href="#storage" data-toggle="tab"><i class="fa fa-database fa-fw"></i>&nbsp;&nbsp;Storage</a>
                    </li>
                    <li>
                        <a href="#processing" data-toggle="tab"><i class="fa fa-gears fa-fw"></i>&nbsp;&nbsp;Processing</a>
                    </li>
                </ul>

                <!-- Tab panes -->
                <div class="tab-content" style="height: 90vh">
                    <div class="tab-pane fade in active" id="home" style="height: 84vh;">
                        <h4>Map</h4>
                        <div class="row">
                            <div class="col-lg-2">
                                <div id="layer_left_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa  fa-th-list fa-fw'></i>&nbsp;Layers</h6>
                                    </div>
                                    <div class="panel-body" style="height: 77vh">

                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom;">
                                        &nbsp;
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-10">
                                <div id="map_panel" class="panel panel-default" style="height: 100%">
                                    <div class="panel-heading">
                                        <h6><i class='fa  fa-map-marker fa-fw'></i>&nbsp;Map</h6>
                                    </div>
                                    <div class="panel-body" style="height: 77vh">
                                        <div class="container-fluid">
                                            <div class="row-fluid">
                                                <div class="span12">
                                                    <div id="map" class="map"></div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="panel-footer" style="vertical-align: bottom;">
                                        Search
                                    </div>
                                </div>
                            </div>

                        </div>
                    </div>
                    <div class="tab-pane fade" id="visualisation">
                        <h4>Visualisation</h4>
                        <div class="row">
                            <div class="col-lg-1">
                                <div id="instances">
                                    Instances
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div id="layers">
                                    Layers
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div id="properties">
                                    Properties
                                </div>
                            </div>
                            <div class="col-lg-4">
                                <div id="edits">
                                    Edits
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane fade" id="charts">
                        <h4>Charts</h4>
                        <p>TBD</p>
                    </div>
                    <div class="tab-pane fade" id="storage">
                        <h4>Storage</h4>
                        <p>TBD</p>
                    </div>
                    <div class="tab-pane fade" id="processing">
                        <h4>Processing</h4>
                        <p>TBD</p>
                    </div>
                </div>

            </div>
            <script type="text/javascript" src="../../Scripts/Maps/ol3/ol.js"></script>
            <script src="../../Scripts/Maps/Cesium/Cesium.js"></script>
            <script src="../../Scripts/Maps/ol3cesium.js"></script>
        </div>
    </div>
</body>
</html>
