<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler,log4net" />
  </configSections>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.AspNet.SignalR.Core" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.2.1.0" newVersion="2.2.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Autofac" publicKeyToken="17863af14b0044da" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-3.5.0.0" newVersion="3.5.0.0" />
      </dependentAssembly>
      <probing privatePath="Apps" />
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebMatrix.Data" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-1.0.0.0" newVersion="1.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Cors" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true" />
    <customErrors mode="On" />
    <httpRuntime targetFramework="4.5" maxRequestLength="500240" />
  </system.web>
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="C:\inetpub\logs\GDO\log.log" />
      <appendToFile value="true" />
      <lockingModel type="log4net.Appender.FileAppender+MinimalLock" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%property{NDC}] - %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="ALL" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <system.webServer>
    <modules runAllManagedModulesForAllRequests="true">
    <remove name="StackifyHttpModule_Net40" /><add name="StackifyHttpModule_Net40" type="StackifyHttpTracer.StackifyHttpModule,StackifyHttpTracer, Version=1.0.0.0, Culture=neutral, PublicKeyToken=93c44ce23f2048dd" preCondition="managedHandler,runtimeVersionv4.0" /></modules>
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="512245760" />
      </requestFiltering>
    </security>
    <handlers>
      <remove name="ExtensionlessUrlHandler-Integrated-4.0" />
      <remove name="OPTIONSVerbHandler" />
      <remove name="TRACEVerbHandler" />
      <add name="ExtensionlessUrlHandler-Integrated-4.0" path="*." verb="*" type="System.Web.Handlers.TransferRequestHandler" preCondition="integratedMode,runtimeVersionv4.0" />
    </handlers>
    <httpProtocol>
      <customHeaders>
        <add name="Access-Control-Allow-Origin" value="*" />
      </customHeaders>
    </httpProtocol>
    <staticContent>
      <mimeMap fileExtension=".obj" mimeType="text/plain" />
      <mimeMap fileExtension=".mtl" mimeType="text/plain" />
      <mimeMap fileExtension=".frag" mimeType="x-shader/x-fragment" />
      <mimeMap fileExtension=".vert" mimeType="x-shader/x-vertex" />
    </staticContent>
  </system.webServer>
 <appSettings>
    <add key="appDirs" value="bin" />
    <add key="numCols" value="16" />
    <add key="numRows" value="4" />
    <add key="nodeWidth" value="1920" />
    <add key="nodeHeight" value="1080" />
    <add key="p2pmode" value="-1" />
    <add key="node1" value="0,3" />
    <add key="node2" value="1,3" />
    <add key="node3" value="2,3" />
    <add key="node4" value="3,3" />
    <add key="node5" value="4,3" />
    <add key="node6" value="5,3" />
    <add key="node7" value="6,3" />
    <add key="node8" value="7,3" />
    <add key="node9" value="8,3" />
    <add key="node10" value="9,3" />
    <add key="node11" value="10,3" />
    <add key="node12" value="11,3" />
    <add key="node13" value="12,3" />
    <add key="node14" value="13,3" />
    <add key="node15" value="14,3" />
    <add key="node16" value="15,3" />
    <add key="node17" value="0,2" />
    <add key="node18" value="1,2" />
    <add key="node19" value="2,2" />
    <add key="node20" value="3,2" />
    <add key="node21" value="4,2" />
    <add key="node22" value="5,2" />
    <add key="node23" value="6,2" />
    <add key="node24" value="7,2" />
    <add key="node25" value="8,2" />
    <add key="node26" value="9,2" />
    <add key="node27" value="10,2" />
    <add key="node28" value="11,2" />
    <add key="node29" value="12,2" />
    <add key="node30" value="13,2" />
    <add key="node31" value="14,2" />
    <add key="node32" value="15,2" /> 
    <add key="node33" value="0,1" />
    <add key="node34" value="1,1" />
    <add key="node35" value="2,1" />
    <add key="node36" value="3,1" />
    <add key="node37" value="4,1" />
    <add key="node38" value="5,1" />
    <add key="node39" value="6,1" />
    <add key="node40" value="7,1" />
    <add key="node41" value="8,1" />
    <add key="node42" value="9,1" />
    <add key="node43" value="10,1" />
    <add key="node44" value="11,1" />
    <add key="node45" value="12,1" />
    <add key="node46" value="13,1" />
    <add key="node47" value="14,1" />
    <add key="node48" value="15,1" />
    <add key="node49" value="0,0" />
    <add key="node50" value="1,0" />
    <add key="node51" value="2,0" />
    <add key="node52" value="3,0" />
    <add key="node53" value="4,0" />
    <add key="node54" value="5,0" />
    <add key="node55" value="6,0" />
    <add key="node56" value="7,0" />
    <add key="node57" value="8,0" />
    <add key="node58" value="9,0" />
    <add key="node59" value="10,0" />
    <add key="node60" value="11,0" />
    <add key="node61" value="12,0" />
    <add key="node62" value="13,0" />
    <add key="node63" value="14,0" />
    <add key="node64" value="15,0" />
  </appSettings>
</configuration>