<?xml version="1.0"?>
<configuration>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-6.0.0.0" newVersion="6.0.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" culture="neutral"/>
        <bindingRedirect oldVersion="0.0.0.0-2.1.0.0" newVersion="2.1.0.0"/>
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <system.web>
    <compilation debug="true"/>
    <httpRuntime targetFramework="4.5" />
  </system.web>
  <appSettings>
    <add key="appDirs" value="../GDO.App/bin"/>
    <!-- TODO think about removing these?-->
    <add key="numCols" value="4"/>
    <add key="numRows" value="3"/>
    <add key="nodeWidth" value="1920"/>
    <add key="nodeHeight" value="1080"/>
    <add key="p2pmode" value="-1"/>
    <!--TODO try to remove these settings here and have them given as url parameters from the nodes-->
    <!--turn on cycle would be 1) clients connect 2) user visits control page 3) user sees all nodes connected (does initial config?)  4) nodemap created   -->
    <add key="node1" value="0,0"/>
    <add key="node2" value="1,0"/>
    <add key="node3" value="2,0"/>
    <add key="node4" value="3,0"/>
    <add key="node5" value="0,1"/>
    <add key="node6" value="1,1"/>
    <add key="node7" value="2,1"/>
    <add key="node8" value="3,1"/>
    <add key="node9" value="0,2"/>
    <add key="node10" value="1,2"/>
    <add key="node11" value="2,2"/>
    <add key="node12" value="3,2"/>
  </appSettings>
</configuration>