@using System.Diagnostics

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <!--<link href='http://fonts.googleapis.com/css?family=Roboto:400,300,500' rel='stylesheet' type='text/css'>-->
    <title>Hercules</title>
    <style>
        html, body, #react-target {
            width: 100%;
            height: 100%;
            background-color: white;
            color: black;
            margin: 0;
            padding: 0;
            overflow: hidden;
        }

        .material-icons.md-18 {
            font-size: 18px;
        }

        .material-icons.md-24 {
            font-size: 24px;
        }

        .material-icons.md-36 {
            font-size: 36px;
        }

        .material-icons.md-48 {
            font-size: 48px;
        }

        .material-icons.md-64 {
            font-size: 64px;
        }

        .material-icons.md-dark {
            color: rgba(0, 0, 0, 0.54);
        }

            .material-icons.md-dark.md-inactive {
                color: rgba(0, 0, 0, 0.26);
            }

        .material-icons.md-light {
            color: rgba(255, 255, 255, 1);
        }

            .material-icons.md-light.md-inactive {
                color: rgba(255, 255, 255, 0.3);
            }

        .hidden {
            display: none;
        }
    </style>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

</head>
<body>
    <script src="~/Scripts/jquery-2.1.4.min.js"></script>
    <script src="~/Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script>
        function getUrlVar(variable) {
            /// <summary>
            /// Gets the URL variable.
            /// </summary>
            /// <param name="variable">The variable.</param>
            /// <returns></returns>
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[0] === variable) { return pair[1]; }
            }
            query = window.frames['control_frame_content'].location.search.substring(1);
            vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[0] === variable) { return pair[1]; }
            }
            return (false);
        }

        $(function () {
            console.log(parent, parent.gdo);
            var gdo = parent.gdo;
            window.gdo = gdo;
            server = gdo.net.app.DD3.server;
            gdo.controlId = getUrlVar("controlId");

            var instanceId,
                confId,
                numClients;

            var test_bench = [];

            var callback = function (message) {
                gdo.consoleOut(".Hercules", 1, "Callback Message: " + message);
                confId = message.configurationId;
                numClients = message.numClient;
                if (message.state == 1) {
                    test_bench[confId] && test_bench[confId]();
                    test_bench[confId] = null;
                    $("#wait").css("display", "none");
                    if (confId === 6 || confId === 7 || confId === 8 || confId === 9) {  // all of these are Shangai LinkLoad, and should share the control menu
                        $("#control_6").css("display", "");
                    } else {
                        $("#control_" + confId).css("display", "");
                    }
                }
            };

            var order = function (name, args) {
                return JSON.stringify({ name: name, args: args });
            };

            if (!gdo.net.app["Hercules"].initControl) {
                $("#wait").css("display", "none");
                $("#error").css("display", "");
                return;
            }

            instanceId = gdo.net.app["Hercules"].initControl(callback);

            test_bench[0] = function () {
                var dataIds = ["scatterplot33", "scatterplot100", "scatterplot500", "scatterplot1000", "scatterplot4000", "scatterplot20000"];

                var table = $("#control_1 table");
                var send = function (value) {
                    server.sendOrder(instanceId, order("plot", [value]), true);
                };

                dataIds.forEach(function (d) {
                    table.append('<tr><td>' + d + '</td></tr>');
                    table.find("tr:last td").addClass('green').click(send.bind(null, d));
                });
            };

            //gdo.consoleOut('.Hercules', 1, 'Init Control');
            gdo.net.app['Hercules'].initControl();
            gdo.net.app['Hercules'].server.testSignalR(gdo.controlId);
        });
    </script>

    <div id="react-target"></div>
    <!--<script src="~/Scripts/build/assets/Hercules.js"></script>-->
    <div class="hidden">
        @{
            var path = "";
            var filename = "";
            if (IsPost)
            {

                HttpPostedFileBase file = Request.Files[0];
                if (file != null)
                {
                    filename = Path.GetFileName(file.FileName);
                    /*
                    //foldername
                    Directory.CreateDirectory(System.Web.HttpContext.Current.Server.MapPath("~/") + @"\Web\Images\images");
                    path = System.Web.HttpContext.Current.Server.MapPath("~/") + @"\Web\Images\images\" + filename;
                    file.SaveAs(path);
                    */
                    Debug.WriteLine(filename);

                }
            }
        }

        <form id="submit_file" action="" method="post" enctype="multipart/form-data">
            <input type="file" name="Image" class="upload" id="select_file" />
        </form>
    </div>
    <script>
        var HerculesExchange = {};

        $(document).ready(function () {
            var $inputEl = $('#select_file');

            $inputEl.change(function () {
                $('#submit_file').submit();
            });
        });

        HerculesExchange.uploadFile = function () {
            var $inputEl = $('#select_file');
            $inputEl.click();
        };

        window.HerculesExchange = HerculesExchange;
    </script>
</body>
</html>