@using System.IO
@using System.Web.Helpers
@using GDO.Core

<!DOCTYPE html>
<html style="overflow: hidden">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" type="text/css" href="../../Scripts/XNATImaging/css/papaya.css"/>
    <link rel="stylesheet" href="../../Scripts/XNATImaging/css/main.css"/>

    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/XNATImaging/papaya.js"></script>
    <script src="../../Scripts/XNATImaging/pdf.js"></script>

    <title>XNAT Imaging Project</title>
    @*<link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">*@
    <link href='https://fonts.googleapis.com/css?family=Roboto:500,300,700,400' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="main">
    <div id="dicomImage" style="width: 1920px; height: 1080px;">
        <div class="papaya" data-params="params">

            @*<div id="mrtopleft">
                <p>Optimise ID</p>
            </div>
            <div id="mrtopright">
                Hospital
            </div>
            <div id="mrbottomright">
                <div id="frameRate"></div>
                <div id="zoomText">
                    <p>Zoom: 2.0x</p>
                </div>
                <div id="sliceText">
                    <p>Image: </p>
                </div>
            </div>
            <div id="mrbottomleft">
                <p>WW/WC: </p>
            </div>*@
        </div>
    </div>
</div>

<script>
    $(window).load(function () {

            console.log("Papaya loaded");

            var gdo = parent.gdo;
            gdo.net.app["XNATImaging"].initClient(papaya, papayaContainers, PDFJS);
        });
</script>

    @*<div id="wrapper" style="background-color:#000;width:97vw;height:97vh;text-align:center; vertical-align: middle;" align="center">
            <div style="display: table; width:100%;height: 100%; overflow: hidden; text-align:center;">
                <div id="hello_text" style="display: table-cell; font-size: 35vh; color: azure; font-family: helvetica; text-align:center; vertical-align: middle;"></div>
            </div>
        </div>*@
</body>
</html>
