@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link rel="stylesheet" type="text/css" href="../../Scripts/XNATImaging/css/papaya.css"/>
    <link rel="stylesheet" type="text/ctabless" href="../../Scripts/XNATImaging/css/main.css"/> 

    
    <!-- JqueryUI stylesheet -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="../../Scripts/XNATImaging/css/main.css" rel="stylesheet" />
    <style>
        /*body {
            color: #FFF;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: inherit;
            display: block;
        }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0px;
            padding: 0px;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }*/
        </style>

    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/XNATImaging/papaya.js"></script>
</head>
<body unselectable="on" class="unselectable">

    <div class="wrapper container" style="width: 97%">
        <h2>Controls</h2>

        <form action="#">
            <fieldset class="inline">
                <label for="view">Select a view</label>
                <select name="view" id="viewSelect">
                    <option selected="selected">Sagittal</option>
                    <option>Coronal</option>
                    <option>Axial</option>
                </select>
            </fieldset>

            <fieldset class="inline">
                <label for="view">Select a color table</label>
                <select name="view" id="colorSelect">
                    <option selected="selected">Grayscale</option>
                    <option>Spectrum</option>
                    <option>Fire</option>
                    <option>Hot-and-Cold</option>
                    <option>Gold</option>
                </select>
            </fieldset>
        </form>
        
        <div id="markers-contain" class="ui-widget">
            <label>Existing markers:</label>
            <table id="markerTable" class="ui-widget ui-widget-content">
                <thead>
                    <tr class="ui-widget-header ">
                        <th>Coordinates (x, y, z)</th>
                        <th>Label</th>
                        <th>Orientation</th>
                        <th>Slice</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <div id="switchContainer" style="width: 20%; margin: 30px 10px 20px 10px; float: right">
            <div id="switchScreenContainer">
                <label>Switch Zoom Display</label>
            </div>

            <div id="switchPatientContainer">
                <form action="#">
                    <fieldset>
                        <label for="view">Switch patients</label>
                        <select name="view" id="patientSelect">
                            <option selected="selected">AD201713</option>
                            <option>AD201714</option>
                            <option>AD201715</option>
                        </select>
                    </fieldset>
                </form>
            </div>
        </div>

        <div id="dicomImage" style="width: 50%; height: 66%;"> <!--1000x750 for tablets-->
            <div class="papaya" data-params="params"></div>
        </div>

        <div class="row">
            <div>
                <input type="range" id="slice-range">
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="controls">
                    <input id="playButton" type="button" class="btn btn-primary" value="Play"/>
                    <input id="resetButton" type="button" class="btn btn-warning" value="Reset"/>
                    <input id="rectangleMarkerButton" type="button" class="btn btn-default" value="Place markers disabled"/>
                    <input id="markerClearButton" type="button" class="btn btn-danger" value="Clear all markers"/>
                </div>
            </div>
        </div>  
    </div>
    <div id="dialog-form" title="Add label">
        <form>
            <fieldset>
                <input type="text" name="label" id="labelInput" value="" class="text ui-widget-content ui-corner-all">
                <!-- Allow form submission with keyboard without duplicating the dialog button -->
                <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
            </fieldset>
        </form>
    </div>

    <script>
        function getUrlVar(variable) {
            /// Gets the URL variable.
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[0] === variable) {
                    return pair[1];
                }
            }
            query = window.frames['control_frame_content'].location.search.substring(1);
            vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[0] === variable) {
                    return pair[1];
                }
            }
            return (false);
        }

        $(window).load(function () {
            var gdo = parent.gdo;
            gdo.controlId = parseInt(getUrlVar("controlId"));

            console.log("Papaya loaded");
            
            gdo.net.app["XNATImaging"].initControl(gdo.controlId, papaya, papayaContainers);
        });

    </script>

    <script>
        $('#labelButton')
            .click(function () {
                $("#dialog-form").dialog("open");
            });
    </script>
</body>
</html>