@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no" />
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">

    <link href="../../Scripts/XNATImaging/css/main.css" rel="stylesheet" />
    <link rel="stylesheet" type="text/css" href="../../Scripts/XNATImaging/css/papaya.css"/>
    <script src="../../Scripts/XNATImaging/papaya.js"></script>
    

    <!-- JqueryUI stylesheet -->
    <link rel="stylesheet" href="//code.jquery.com/ui/1.11.4/themes/smoothness/jquery-ui.css">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">

    <link href="../../Scripts/XNATImaging/css/main.css" rel="stylesheet" />
    <style>
        body {
            color: #FFF;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: inherit;
            display: block;
        }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0px;
            padding: 0px;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">

    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
    <script src="../../Scripts/XNATImaging/underscore.js"></script>
    <script src="../../Scripts/XNATImaging/dicomParser.js"></script>



    <div class="wrapper container" style="width: 97%">
        <h1>Controls</h1>

        <form action="#">

            <fieldset>
                <label for="view">Select a view</label>
                <select name="view" id="viewSelect">
                    <option selected="selected">Sagittal</option>
                    <option>Axial</option>
                    <option>Coronal</option>
                </select>
            </fieldset>
        </form>

        <div  id="dicomImage" style="width: 1050px; height: 800px;">
            <div class="papaya" data-params="params">

                <div id="mrtopleft">
                    <p>Optimise ID</p>
                </div>
                <div id="mrtopright">
                    Hospital
                </div>
                <div id="mrbottomright">
                    <div id="frameRate"></div>
                    <div id="zoomText">
                        <p>Zoom: 2.0x</p>
                    </div>
                    <div id="sliceText">
                        <p>Image: </p>
                    </div>
                </div>
                <div id="mrbottomleft">
                    <p>WW/WC: </p>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <div class="controls">
                    <button id="upNavigationButton" type="button" class="btn btn-default">Up</button>
                    <button id="downNavigationButton" type="button" class="btn btn-default">Down</button>
                    <button id="playButton" type="button" class="btn btn-success">Play</button>
                    <button id="resetButton" type="button" class="btn btn-warning">Reset View</button>
                    <button id="highlightButton" type="button" class="btn btn-primary">Highlight</button>
                    <button id="markerButton" type="button" class="btn btn-primary">Place Marker</button>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-8">
                <input type="range" id="slice-range">
            </div>
        </div>
    </div>

    <script>
        function getUrlVar(variable) {
            /// Gets the URL variable.
            var query = window.location.search.substring(1);
            var vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[0] === variable) {
                    return pair[1];
                }
            }
            query = window.frames['control_frame_content'].location.search.substring(1);
            vars = query.split('&');
            for (var i = 0; i < vars.length; i++) {
                var pair = vars[i].split('=');
                if (pair[0] === variable) {
                    return pair[1];
                }
            }
            return (false);
        }

        $(window).load(function () {
            var gdo = parent.gdo;
            gdo.controlId = parseInt(getUrlVar("controlId"));

            console.log("Papaya loaded");
            
            gdo.net.app["XNATImaging"].initControl(gdo.controlId, papaya, papayaContainers);
        });

    </script>

    <script>
        $('#markerButton')
            .click(function() {
                papayaContainers[0].viewer.rotateViews();
            });

        $('#highlightButton')
            .click(function () {
                
            });
    </script>
</body>
</html>