@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
    <style>
        body {
            background: #EEE;
            color: #FFF;
            font-family: helvetica;
            font-size: 70%;
            padding : 0px;
            margin: 0px;
            overflow-y: hidden;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .axis path,
        .axis line {
          fill: none;
          stroke: #000;
          shape-rendering: crispEdges;
        }

        .dot {
          stroke: #000;
        }
    </style>
</head>
<body>
    <script src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/d3.min.js"></script>
    <script src="../../Scripts/peer.js"></script>

    <script>
        var dd3;
        var init1, init2, start1, start2, start3;

        $(function () {          
            $(document).ready(function () {
                var gdo = parent.gdo;
                var test_bench = [];

                var launcher = function (configId) {
                    if (dd3.state() === "ready") {
                        test_bench[configId]();
                    } else {
                        dd3.on('ready', test_bench[configId]);
                    }
                };

                var testController = (function () {
                    var t = function (order) {
                        testController.tests[order.name] ?
                        testController.tests[order.name].apply(null, order.args) :
                        gdo.consoleOut('.DD3', 1, 'No test function corresponding to ' + order.name);
                    };
                    t.tests = {};
                    return t;
                })();
                
                if (!gdo.net.app["DD3"].initClient) {
                    $("#error").css("display", "");
                    parent.location.reload();
                    return;
                }

                dd3 = gdo.net.app["DD3"].initClient(d3, launcher, testController);

                test_bench[0] = function () {

                    var svg = dd3.svgCanvas,
	                    width = dd3.cave().svgWidth,
	                    height = dd3.cave().svgHeight,
	                    bwidth = dd3.browser().svgWidth,
	                    bheight = dd3.browser().svgHeight,
                        p = dd3.position("svg", "local", "svg", "global"),
                        c = dd3.browser().column,
                        r = dd3.browser().row;

                    svg.append('rect')
                        .attr("x", p.left(0))
                        .attr("y", p.top(0))
                        .attr("width", bwidth)
                        .attr("height", bheight)
                        .attr("stroke", "brown")
                        .attr("fill", "#BBB");

                    svg.append('g')
                        .attr("transform", "translate(20,10)")
                        .append('rect')
                        .unwatch()
                        .attr("x", -20)
                        .attr("y", -10)
                        .attr("width", width)
                        .attr("height", height)
                        .attr("stroke", "black")
                        .attr("fill", "transparent");

                    var circleGroup = svg.append("g").attr("id", "cg");
                    var circleGroupDistributed = svg.append("g").attr("id", "cgd");

                    var rectG = svg.append('g').attr("id", "rect").append('g');
                    var rect;

                    var polygonGroupOutter = svg.append('g').attr('id', 'poly').append('g'),
                        polygonGroupInner;

                    svg.append("text")
                        .unwatch()
                        .text([r, c])
                        .attr("font-size", 40)
                        .attr("dominant-baseline", "text-before-edge")
                        .attr("transform", 'translate(' + [p.left(0), p.top(0)] + ')');

                    

                    testController.tests['createRect'] = init1 = function () {
                        rect = rectG.append('rect');
                        rect.attr("x", width / 10)
                            .attr("y", 4.5 * height / 10)
                            .attr("width", width / 10)
                            .attr("height", height / 10)
                            .attr("stroke", "black")
                            .style("fill", "#EEE")
                            .text("None");
                    };

                    testController.tests['removeRect'] = function () {
                        rectG.selectAll("rect").remove();
                    };

                    testController.tests['createCircles'] = init3 = function (number, opacity) {
                        circleGroup.selectAll(".new").data(d3.range(number || 10)).enter()
                            .append('circle')
                            .attr("class", "c new");

                        circleGroup.selectAll(".new")
                            .attr("cx", function () { return width * Math.random(); })
                            .attr("cy", function () { return height * Math.random(); })
                            .attr("r", function () { return 20 * Math.random() + 20; })
                            .attr("stroke", "black")
                            .attr("opacity", opacity || 1)
                            .attr("fill", "#FFF")
                            .classed("new", false);
                    };

                    testController.tests['removeCircles'] = function () {
                        circleGroup.selectAll(".c").remove();
                    };
                    
                    testController.tests['createDistributedCircles'] = function (number, opacity) {
                        circleGroupDistributed.selectAll(".new").data(d3.range(number || 10)).enter()
                            .append('circle')
                            .attr("class", "c new");

                        circleGroupDistributed.selectAll(".new")
                            .attr("cx", function () { return width * Math.random(); })
                            .attr("cy", function () { return height * Math.random(); })
                            .attr("r", function () { return 20 * Math.random() + 20; })
                            .attr("stroke", "black")
                            .attr("opacity", opacity || 1)
                            .attr("fill", "#FFF")
                            .classed("new", false);
                    };

                    testController.tests['removeDistributedCircles'] = function () {
                        circleGroupDistributed.selectAll(".c").remove();
                    };

                    testController.tests['createPolygon'] = function () {
                        polygonGroupInner = polygonGroupOutter.attr('transform', 'translate(0,0)').append("g");
                        polygonGroupInner
			               .append('polygon')
			               .attr("points", "50 160 55 180 70 180 60 190 65 205 50 195 35 205 40 190 30 180 45 180")
			               .attr("transform", "scale(6) translate(-25 -160)")
			               .attr("stroke", "orange")
			               .attr("stroke-width", "4")
			               .attr("fill", "transparent");
                    };

                    testController.tests['removePolygon'] = function () {
                        polygonGroupOutter.selectAll('g').remove();
                        polygonGroupOutter.transition();
                    };

                    testController.tests['startXTranslation'] = start1 = function (name) {
                        rect.transition(name)
                            .duration(10000)
                            .style("fill", "#AAA")
                            .attr('x', 8 * width / 10)
                            .text("test")
                            .transition(name)
                            .duration(5000)
                            .style("fill", "#EEE")
                            .attr('x', width / 10);
                    };

                    testController.tests['startYTranslation'] = start2 = function (name) {
                        rect.transition(name)
                            .duration(10000)
                            .attr('y', 8 * height / 10)
                            .transition(name)
                            .duration(5000)
                            .attr('y', 4.5 * height / 10);
                    };

                    testController.tests['startRotation'] = function (name) {
                        rect.transition(name)
                            .duration(3000)
                            .attr('transform', 'rotate(-40)')
                            .transition(name)
                            .duration(3000)
                            .attr('transform', 'rotate(40)')
                            .transition(name)
                            .duration(3000)
                            .attr('transform', 'rotate(0)');
                    };

                    testController.tests['startMoveCircles'] = start3 = function (name) {
                        circleGroup.selectAll(".c")
                            .transition()
                            .duration(15000)
                            .precision(0.05)
                            .attr("cx", function () { return width * Math.random(); })
                            .attr("cy", function () { return height * Math.random(); })
                            .attr("r", function () { return 40 * Math.random() + 20; });
                    };

                    testController.tests['startMoveDistributedCircles'] = function (name) {
                        circleGroupDistributed.selectAll(".c")
                            .transition()
                            .duration(15000)
                            .precision(0.05)
                            .attr("cx", function () { return width * Math.random(); })
                            .attr("cy", function () { return height * Math.random(); })
                            .attr("r", function () { return 30 * Math.random() + 20; });
                    };

                    testController.tests['startMovePolygon'] = function () {
                        var pw = 300, ph = 300, n = 50, period = 2;
                        var points = d3.range(n + 1).map(function (d) { var x = d * (width - pw) / n; var y =  (1 + Math.cos(d / n * 2 * Math.PI * period)) * (height - ph) / 2; return [x, y]; });

                        var tr = polygonGroupOutter
                            .transition()
                            .duration(1000)
                            .attr('transform', 'translate(' + points[0][0] + ' ' + points[0][1] + ')');
                        
                        points.forEach(function (p) {
                            tr = tr.transition()
                                .duration(200)
                                .ease("linear")
                                .attr('transform', 'translate(' + p[0] + ' ' + p[1] + ')');
                        });
                        
                        polygonGroupInner
                            .attr('transform', 'rotate(0 ' + [pw / 2, ph / 2] + ')')
                            .transition()
                            .duration(2500)
                            .ease("linear")
                            .attr('transform', 'rotate(90 ' + [pw / 2, ph / 2] + ')')
                            .transition()
                            .duration(2500)
                            .attr('transform', 'rotate(180 ' + [pw / 2, ph / 2] + ')')
                            .transition()
                            .duration(2500)
                            .attr('transform', 'rotate(270 ' + [pw / 2, ph / 2] + ')')
                            .transition()
                            .duration(2500)
                            .attr('transform', 'rotate(0 ' + [pw / 2, ph / 2] + ')');

                    };

                    /*
                    init3();
                    var f = function () {
                        start3();
                        setTimeout(f, 21000);
                    };
                    dd3.synchronize(f, 5000);
                //*/
                };
                
                test_bench[1] = function () {
                    var dim = dd3.dataDimensions();
                    var extent = dim.x.max - dim.x.min, coef = 0., c = 1;
                    var xDomain = [dim.x.min - coef * extent - c, dim.x.max + coef * extent + c];
                    var yDomain = [dim.y.min - coef * extent - c, dim.y.max + coef * extent + c];

                    // setup x
                    var xScale = dd3.scale.linear().range([0, dd3.cave().svgWidth]),
                        xAxis = d3.svg.axis().scale(xScale).orient("bottom");

                    // setup y
                    var yScale = dd3.scale.linear().range([dd3.cave().svgHeight, 0]),
                        yAxis = d3.svg.axis().scale(yScale).orient("left");

                    xScale.domain(xDomain);
                    yScale.domain(yDomain);

                    var data = dd3.getData(xScale, yScale);
                    var pathData = dd3.getPathData(xScale, yScale);

                    var svg = dd3.svgCanvas;

                    //*
                    // x-axis
                    svg.append("g")
                      .unwatch()
                      .attr("class", "x axis")
                      .attr("transform", "translate(" + [0, dd3.cave().svgHeight] + ")")
                      .call(xAxis)
                    .append("text")
                      .attr("class", "label")
                      .attr("x", dd3.cave().svgWidth)
                      .attr("y", -6)
                      .style("text-anchor", "end")
                      .text("X axis");
                    //*
                    // y-axis
                    svg.append("g")
                      .unwatch()
                      .attr("class", "y axis")
                      .attr("transform", "translate(" + [0, 0] + ")")
                      .call(yAxis)
                    .append("text")
                      .attr("class", "label")
                      .attr("transform", "rotate(-90)")
                      .attr("y", 6)
                      .attr("dy", ".71em")
                      .style("text-anchor", "end")
                      .text("Y axis");

                    /*
                    var rGroup = svg.append('g').attr("id", "myRect");
                    var pGroup = svg.append('g').attr("id", "myPoly");
                    
                    if (dd3.browser().row == 0 && dd3.browser().column == 0) {
                        rGroup
                            .append('rect')
                            .attr("x", xScale(3))
                            .attr("y", yScale(1))
                            .attr("width", xScale(15) - xScale(3))
                            .attr("height", yScale(0) - yScale(2))
                            .attr("transform", "rotate(30 " + [xScale(3), yScale(1)] + ")scale(1)")
                            .attr("stroke", "black")
                            .attr("fill", "rgb(29, 219, 29)")
                            .send();
                    } else if (dd3.browser().row == 1 && dd3.browser().column == 1){
                        pGroup
                           .append('polygon')
                           .attr("points", "50 160 55 180 70 180 60 190 65 205 50 195 35 205 40 190 30 180 45 180")
                           .attr("transform", " scale(6) translate(50, -100)")
                           .attr("stroke", "orange")
                           .attr("stroke-width", "4")
                           .attr("fill", "transparent")
                           .send();
                    } else {
                        rGroup.attr("transform", "rotate(20)");
                    }
                    //*/

                    // Draw dots
                    svg.selectAll(".dot")
                      .data(data)
                    .enter()
                      .append("g")
                      .append("circle")
                      .attr("class", "dot")
                      .attr("cx", function (d) { return xScale(d['x']); })
                      .attr("cy", function (d) { return yScale(d['y']); })
                      .attr("r", 4)
                      .style("fill", function (d, i) { return "black"; })
                      .style("stroke", "red");

                    var lineFunction = d3.svg.line()
                            .x(function (d) { return xScale(d['x']); })
                            .y(function (d) { return yScale(d['y']); })
                            .interpolate("monotone");
                    
                    /*
                    svg.append("path").datum(pathData)
                        .attr("d", lineFunction)
                        .attr("stroke", "blue")
                        .attr("stroke-width", 2)
                        .attr("fill", "none");
                      //.send();
                  
                    //*/
                };

            });
        });

    </script>

    <div id="error" style="display:none">
        <p style="color: rgb(237, 20, 51);font-size: 2.5em;">
            :(
        </p>
        <p style="color: rgb(237, 20, 51);font-size:2.5em;">
            Something went wrong, please reload the page<br>
            <span style="color:firebrick;font-size:0.7em;font-style:italic"> Error : the function 'initClient' was not initialized</span>
        </p>
    </div>

</body>
</html>
