@{
    Layout = null;
}

<!DOCTYPE html>

<html style="overflow: hidden">
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>

</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>

    <script type="text/javascript" src="../../Scripts/three.min.js"></script>

    <script type="text/javascript" src="../../Scripts/WebGL/3dWorld.js"></script>

    <script>
        $(function () {
            var gdo = parent.gdo;
            $(document).ready(function () {

                var instanceId = gdo.net.node[gdo.clientId].appInstanceId;

                // TODO: Work out correct vertical fov
                var camera = new THREE.PerspectiveCamera(24, 16 / 9, 3, 10000);
                camera.position.z = 1800;

                var w = 1920;
                var h = 1080;
                var fullWidth = w;
                var fullHeight = gdo.net.section[gdo.net.node[gdo.clientId].sectionId].height;

                var yOffset = gdo.net.node[gdo.clientId].height * gdo.net.node[gdo.clientId].sectionRow;
                gdo.consoleOut('.WebGL', 1, 'Y Offset- ' + yOffset);

                camera.setViewOffset(fullWidth, fullHeight, 0, yOffset, w, h);

                initializeScene(camera, function (mousePos) {
                    gdo.net.app["WebGL"].initClient(mousePos);
                });

                beginGameLoop(function () {
                    camera.position.x += (mousePosition.x - camera.position.x) * 0.05;
                    camera.position.y += (-mousePosition.y - camera.position.y) * 0.05;

                    camera.lookAt(scene.position);
                });
            });
        });
    </script>

    <div id="wrapper" style="background-color:#000;width:97vw;height:97vh;text-align:center; vertical-align: middle;" align="center">
    </div>

</body>
</html>
