@using System.IO
@using System.Web.Helpers
@using GDO.Core
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">
    <!-- Bootstrap Core CSS -->
    <link href="../../Bootstrap/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <!-- MetisMenu CSS -->
    <link href="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.css" rel="stylesheet">
    <!-- Timeline CSS -->
    <link href="../../Bootstrap/dist/css/timeline.css" rel="stylesheet">
    <!-- Custom CSS -->
    <link href="../../Bootstrap/dist/css/sb-admin-2.css" rel="stylesheet">
    <!-- Morris Charts CSS -->
    <link href="../../Bootstrap/bower_components/morrisjs/morris.css" rel="stylesheet">
    <!-- Custom Fonts -->
    <link href="../../Bootstrap/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" type="text/css">
    <style>
        body {
            color: #FFF;
        }

        .unselectable {
            -moz-user-select: -moz-none;
            -khtml-user-select: none;
            -webkit-user-select: none;
            -o-user-select: none;
            user-select: none;
        }

        .btn-file {
            position: relative;
            overflow: hidden;
        }

        .btn-file input[type=file] {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 100%;
            min-height: 100%;
            font-size: 100px;
            text-align: right;
            filter: alpha(opacity=0);
            opacity: 0;
            cursor: inherit;
            display: block;
        }

        input[readonly] {
            background-color: #555 !important;
            cursor: text !important;
        }

        .file_upload input.upload {
            position: absolute;
            top: 0;
            right: 0;
            margin: 0;
            padding: 0;
            cursor: pointer;
            opacity: 0;
            filter: alpha(opacity=0);
        }

        .input_field_div {
            margin: 0px;
            padding: 0px;
        }

        .input_field {
            width: 100%;
            height: 40px;
            border: 1px solid #333;
            background: #333;
            color: #FFF;
            padding: 0px;
            display: inline-block;
            position: relative;
            text-align: center;
        }
    </style>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-2.1.4.min.js"></script>
    <script src="../../Scripts/jquery.signalR-2.2.0.min.js"></script>
    <script src="../../Scripts/jquery.csv-0.71.min.js"></script>
    <script src="../../Bootstrap/bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="../../Bootstrap/dist/js/sb-admin-2.js"></script>
    <script src="../../Bootstrap/bower_components/metisMenu/dist/metisMenu.min.js"></script>

    <script src="../../Scripts/three.min.js"></script>
    <script src="../../Scripts/stats.min.js"></script>

    <script type="text/javascript" src="../../Scripts/WebGL/TestWorld.js"></script>
    <script type="text/javascript" src="../../Scripts/WebGL/ViewportTestWorld.js"></script>

    <script type="text/javascript" src="../../Scripts/WebGL/UFOWorld.js"></script>
    <script type="text/javascript" src="../../Scripts/WebGL/PointerLockControls.js"></script>

    <script type="x-shader/x-vertex" id="vertexShader">
        varying vec3 vWorldPosition;

        void main() {
            vec4 worldPosition = modelMatrix * vec4( position, 1.0 );
            vWorldPosition = worldPosition.xyz;

            gl_Position = projectionMatrix * modelViewMatrix * vec4( position, 1.0 );
        }

    </script>
    <script type="x-shader/x-fragment" id="fragmentShader">
        uniform vec3 topColor;
        uniform vec3 bottomColor;
        uniform float offset;
        uniform float exponent;

        varying vec3 vWorldPosition;

        void main() {
            float h = normalize( vWorldPosition + offset ).y;
            h = max(0.0, h);
            gl_FragColor = vec4( mix( bottomColor, topColor, max( pow( h, exponent ), 0.0 ) ), 1.0 );
        }

    </script>

    <script>
        $(function () {
            var gdo = parent.gdo;
            gdo.net.app["WebGL"].initControl();

            $(document).ready(function () {

                //
                // Set up renderer on window

                var container = document.getElementById('wrapper');

                var renderer = new THREE.WebGLRenderer({ antialias: true });
                renderer.setClearColor(0xffffff);
                renderer.setPixelRatio(window.devicePixelRatio);
                renderer.setSize(window.innerWidth, window.innerHeight);
                container.appendChild(renderer.domElement);

                function onWindowResize() {
                    var effectiveWidth = window.innerHeight * (16 / 9);
                    var effectiveHeight = window.innerWidth * (9 / 16);

                    if (effectiveWidth > window.innerWidth) {
                        renderer.setSize(window.innerWidth, effectiveHeight);
                    } else {
                        renderer.setSize(effectiveWidth, window.innerHeight);
                    }
                }

                onWindowResize();
                window.addEventListener('resize', onWindowResize, false);

                //
                // Create camera and periodically send its position to clients

                var camera = new THREE.PerspectiveCamera(35, 16 / 9, 3, 10000);

                function sendCameraPositionToClients() {
                    var position = camera.getWorldPosition();
                    var quaternion = camera.getWorldQuaternion();

                    gdo.net.app["WebGL"].server.setCameraPosition(gdo.controlId,
                        {
                            position:   [position.x,
                                         position.y,
                                         position.z],
                            quaternion: [quaternion.x,
                                         quaternion.y,
                                         quaternion.z,
                                         quaternion.w]
                        });
                }

                setInterval(sendCameraPositionToClients, 1000 / 60);

                //
                // Create 3d world

                var world = new ViewportTestWorld(renderer, camera);
                world.initScene();
                world.setAsControl();
                world.startRendering();

            });
        });
    </script>
    <div class="wrapper" id="wrapper" style="width:97%">
    </div>
</body>
</html>