@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>tranSART</title>
</head>
<body unselectable="on" class="unselectable">
    <script src="../../Scripts/jquery-1.11.3.min.js"></script>
    <script>
        $(function () {
            $(document).ready(function () {
                $("#transmart").attr("src", "http://146.169.32.102/?ctrl");
            });
        });
    </script>
    <iframe id="transmart"></iframe>
</body>
</html>
